
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vph-Share login</title>
        <meta name="description" content="VPHSHARE - Login" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/style_login.css" />
        <!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
		<style>
			body {
				background: url(/static/bg.png) no-repeat;}
			}
		</style>
    </head>
    <body>
        <div class="container">

			<section class="main">
                {% if current_user.is_authenticated() %}
                    <form class="form-2">
                        <h1 style="text-align: center;"><span style="background: url(/static/logo.png) no-repeat;width: 79px;height: 83px;display: inline-block;"></span><span style="" class="log-in">Wellcome , {{ current_user.name }}</span></h1>
                        <p class="clearfix">
                            <a style="float: right;"  href="{{ url_for('logout') }}" class="log-twitter">Log out</a>
                        </p>
				    </form>​​
                {% else %}
                    <form action="" class="form-2" method="POST">
                        <h1 style="text-align: center;"><span style="background: url(/static/logo.png) no-repeat;width: 79px;height: 83px;display: inline-block;"></span><span style="" class="log-in">Log in with VPH-SHARE credentials</span></h1>
                        <p class="float">
                            <label for="login"><i class="icon-user"></i>Username</label>
                            <input type="text" name="username" placeholder="Username or email">
                        </p>
                        <p class="float">
                            <label for="password"><i class="icon-lock"></i>Password</label>
                            <input type="password" name="password" placeholder="Password" class="showpassword">
                        </p>
                        <p class="clearfix">
                            <input style="float: right;" type="submit" name="submit" value="Log in" class="log-twitter">
                        </p>
				    </form>​​
                {% endif %}
                {% block body %}{% endblock %}
			</section>

        </div>
    </body>
</html>
