{% extends 'scs/base.html' %}

{% load scs_extras %}

{% block content %}
    <div class="well">
        <h3>{{ workflow.metadata.name }}</h3>

        <form action="/workspace/create" enctype="multipart/form-data" method="post">

            {{ form.as_p }}

            {% csrf_token %}
            <script>
            $(function(){
                $('#id_default_inputs').click(function(elem){
                    if ($('#id_default_inputs').is(':checked')){
                        $('#id_inputFile').parent().show();
                    }else{
                       $('#id_inputFile').parent().hide();
                    }
                });
                if ($('#id_default_inputs').is(':checked')){
                    $('#id_inputFile').parent().show();
                }else{
                   $('#id_inputFile').parent().hide();
                }

            });
            </script><br/>
            <input type="submit" class="btn btn-success" value="Initialize execution" />
        </form>

    </div>

{% endblock %}
