{% extends 'scs/base.html' %}

{% load scs_extras %}
{%  block title %} Workspace {% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% endblock %}

{% block page-title %}
    <span class="title">Workspace</span>
{% endblock%}

{% block content %}
<div>
<ul class="nav nav-pills">
  <li class="active">
      <a>
      Workflow executions
      </a>
  </li>
</ul>
</div>
{% if executions|length == 0 %}
<div class="alert alert-info">
    <span id="modal-message"> No Workflow execution available</span>
</div>
{% endif %}
{% for execution in executions%}
<div id="{{ execution.id }}"  class="execution well well-small">
    <div class="row">
        <div  class="span2">
        {{ execution.title }}
        </div>
        <div  class="span3">
        {{ execution.creation_datetime }}
        </div>
        <div class="span4">
        Status:<div id="{{ execution.id }}-status" style="display: inline-block" class="inline"> {{ execution.status }}</div>
        </div>

        <div class="span2">
            <span class="loading-alert badge badge-warning"><i class='icon-spinner icon-spin'></i> Loading data...</span>
            <div id="btnGroup" class="hide">
            <button id="play-button" class="btn btn-success" title="Run workflow"  data-loading-text="<i class='icon-spinner icon-spin'></i>" >
                    <i class="icon-play"></i>
            </button>
            <a id="details-button" class="btn btn-warning accordion-toggle" title="Show details" data-toggle="collapse" href="#{{ execution.id }}-details">
                <i class="icon-reorder"></i>
            </a>
            <button id="delete-button" class="btn btn-danger" data-loading-text="<i class='icon-spinner icon-spin'></i>" title="Delete workflow">
                <i class="icon-trash"></i>
            </button>
            </div>
        </div>
    </div>
        <div class="alert hide" style="display: none;">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span id="modal-message"></span>
        </div>
    <div id="{{ execution.id }}-details" class="accordion-body collapse">
        <ul class="nav nav-tabs" id="details-tab">
          <li class="active">
            <a href="#{{ execution.id }}-status-info" data-toggle="tab">Status</a>
          </li>
          <li><a href="#{{ execution.id }}-status-details" data-toggle="tab">Details</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="{{ execution.id }}-status-info">
              <div class="alert alert-disable"></div>
              <div class="alert alert-disable"></div>
              <div class="alert alert-disable"></div>
              <div class="alert alert-disable"></div>
              <div class="alert alert-disable"></div>
              <div class="alert alert-disable"></div>
              <div class="alert alert-disable"></div>
              <div class="alert alert-disable"></div>
              <div class="alert alert-disable"></div>
          </div>
          <div class="tab-pane " id="{{ execution.id }}-status-details">
              <div class="alert">&nbsp; test</div>
          </div>
        </div>
     </div>
</div>
{% endfor %}


<script type="text/javascript">


        (function() {
            var global = this;
            var $ = global.$;
            var console = global.console || {log:function() {}};

            var statusMessage = [
                    ['Ready to run.','Running..'],
                    ['Initializing Atomic service.', 'Atomic service is initialized.'],
                    ['Starting Atomic service.', 'Atomic service is started.'],
                    ['Waiting for taverna.', 'Taverna is ready.'],
                    ['Submitting  the workflow to Taverna.', 'The workflow is submited.'],
                    ['Configuring the workflow.', 'Workflow is ready.'],
                    'Starting the Workflow.',
                    'Workflow is running.',
                    'Completed.'
            ];
            var WfmngProtocol = global.WfmngProtocol = function(element, options) {
                this.inizialize($(element));
            };

            WfmngProtocol.prototype.inizialize = function(wfmngProtocol){
                var self = this;
                this.$executionId = wfmngProtocol.attr('id');
                this.$playButton = wfmngProtocol.find('#play-button');
                this.$deleteButton = wfmngProtocol.find('#delete-button');
                this.$detailsButton = wfmngProtocol.find('#details-button');
                this.$details = wfmngProtocol.find('#'+this.$executionId+'-status-details');
                this.$status = wfmngProtocol.find('#'+this.$executionId+'-status');
                this.$statusInfo = wfmngProtocol.find('#'+this.$executionId+'-status-info');
                this.$timeoutid = null;
                this.$loading = wfmngProtocol.find('.loading-alert');
                this.$playButton.click(function(){
                    self.startTaverna($(this));
                });
                this.$deleteButton.click(function(){
                   self.deleteWorkflow();
                });
                //this.$statusInfo.hide();
                //this.$details.hide();
                this.getExecutioninfo();
                this.$alert = wfmngProtocol.find('.alert');
            };

            WfmngProtocol.prototype.alert = function(message,style){
                style = "alert-"+style;

                this.$alert.find('#modal-message').text(message);
                this.$alert.addClass(style);
                this.$alert.fadeIn();
            };


            WfmngProtocol.prototype.startTaverna = function(element){
                var self = this;
                this.$playButton.button('loading');
                $.ajax({
                            dataType: "json",
                            type: 'post',
                            url: '/workspace/startExecution',
                            data: {eid:self.$executionId},
                            success: function(data){ self.getExecutioninfo();},
                            error: function(data){self.getExecutioninfo();}
                        }
                );
            };

            WfmngProtocol.prototype.deleteWorkflowCallBack = function(data){

                if (!(null == this.$timeoutid)) {
                    window.setInterval(this.$timeoutid);
                }

                if (data.results == 'true'){
                    $("#"+this.$executionId).remove();
                    delete this;
                }

                this.alert('Error occurs during workflow deletion','error');

            };

            WfmngProtocol.prototype.deleteWorkflow = function(){
                var self = this;
                this.$playButton.button('loading');
                var answer = confirm ("Warning deleting the workflow you will lost all the informations about the execution. Please click on OK to confirm.");
                if (answer){
                    $.ajax({
                                dataType: "json",
                                type: 'post',
                                url: '/workspace/deleteExecution',
                                data: {eid:self.$executionId},
                                success: function(data){self.deleteWorkflowCallBack(data)},
                                error: function(data){return;}
                            }
                    );
                }
                this.$playButton.button('reset');
            };

            WfmngProtocol.prototype.getExecutioninfoCallBack = function(data){
                var self = this;
                var label = ["executionstatus",'error','error_msg',"Taverna workflow id"," Taverna url","AS config id "," Session Expire"," Execution started"," Execution finished"," Exit code"," Std output"," Std error","Output folder", "Output" , "Running"];
                var error = data[1];
                var error_msg = data[2];
                var executionStatusCode = parseInt(data[0]);
                var is_running = data[data.length-1];
                this.$details.empty();

                if(executionStatusCode<8 && !error || is_running){

                    if (null == this.$timeoutid) {
                        this.$timeoutid = window.setInterval( function(){self.getExecutioninfo()}, 5000);
                    }

                    // change button only if running but not ready to run
                    if (is_running) {
                        this.$playButton.button('loading');
                    }


                }else{
                    // last execution pass to get ret information
                    if (executionStatusCode<8 && !error && !is_running) {
                    }

                    this.$playButton.button('reset');

                    if (!(null == this.$timeoutid)) {
                        clearInterval(this.$timeoutid);
                        this.$timeoutid = null;
                    }
                }
                

                var alerts = this.$statusInfo.children('.alert');
                for (var j=0; j<9; j++){
                    if (executionStatusCode == j){
                        if (error){
                            this.$status.text(error_msg);
                            $(alerts[j]).html(error_msg + "<i class='icon-warning'></i>");
                        }else if ($.isArray(statusMessage[j])){
                            if (executionStatusCode == 0 && is_running){
                                this.$status.text(statusMessage[j][1]);
                            }else{
                                this.$status.text(statusMessage[j][0]);
                            }
                        }else{
                            this.$status.text(statusMessage[j]);
                        }
                        if(j==0 || j==8){
                            $(alerts[j]).html(this.$status.text()+"<i class='icon-check'></i>");
                        }else if(!error){
                            $(alerts[j]).html(this.$status.text()+"<i class='icon-spinner icon-spin'></i>");
                        }
                    }else if (executionStatusCode > j){
                        if ($.isArray(statusMessage[j])){
                            $(alerts[j]).html(statusMessage[j][1]+"<i class='icon-check'></i>");
                        }else{
                            $(alerts[j]).html(statusMessage[j]+"<i class='icon-check'></i>");
                        }
                    }else{
                        if ($.isArray(statusMessage[j])){
                            $(alerts[j]).html(statusMessage[j][0]);
                        }else{
                            $(alerts[j]).html(statusMessage[j]);
                        }
                    }
                    $(alerts[j]).toggleClass( "alert-info", executionStatusCode == j && !error );
                    $(alerts[j]).toggleClass( "alert-error", executionStatusCode == j && error );
                    $(alerts[j]).toggleClass( "alert-success", executionStatusCode > j );
                    $(alerts[j]).toggleClass( "alert-disable", executionStatusCode < j);
                }

                for (var i=3; i<data.length;i++){

                    if (data[i] != ''){
                        if (i == 10 || i == 11 || i == 13){
                            this.$details.append('<p><strong>'+label[i]+'</strong> <textarea readonly rows="10" style="width:90%">'+data[i]+'</textarea></p>');

                        }else if(i==12){
                            this.$details.append('<p> <a target="_blank" href="{{ BASE_URL }}/filestore#show?'+data[i]+'/">'+label[i]+'</a></p>');
                        }else if(i==4){
                            this.$details.append('<p><strong>'+label[i]+'</strong> <a target="_blank" href="'+data[i]+'">'+data[i]+'</a></p>');
                        }else{
                            this.$details.append('<p><strong>'+label[i]+'</strong> <span>'+data[i]+'</span></p>');
                        }
                    }
                }
                this.$loading.hide();
                this.$playButton.parent().show();
                //this.$statusInfo.show();
                //this.$details.show();
            };

            WfmngProtocol.prototype.getExecutioninfo = function(){
                var self = this;
                $.ajax({
                            dataType: "json",
                            type: 'post',
                            url: '/workspace/getExecutionInfo',
                            data: {eid:self.$executionId},
                            success: function(data){
                                self.getExecutioninfoCallBack(data)
                            },
                            error: function(data){
                                self.getExecutioninfoCallBack(data)
                            }
                        }
                );
            };

            WfmngProtocol.autoDiscover = function() {
                $('.execution').each(function(index, element) {
                    new WfmngProtocol(element);
                });

            };
            WfmngProtocol.autoDiscover();
        }).call(this);
    </script>

{% endblock %}
