{% extends 'base.html' %}

{% block title %}
    <!-- the page tile goes here -->
    {{ title }}
{% endblock %}


{% block content %}

    <!-- render request form -->
    <p> Fill the form below to submit the request:</p>

    <form action="{{ action }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" name="submit" value="submit" />
    </form>

    <br />

    {% if result %}
        <!-- show results here -->
        <p>{{ result.sendSMSResult }}</p>
    {% endif %}
    
{% endblock %}