
{% block content %}

    <h3>/api/searchuser</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>Search for users. Term is searched in users email, first name and last name. Search is case insensitive.
 Without any term, the full list of users is returned. Available to all authenticated users.
                A <strong>JSON</strong> list of user attributes is returned.</p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/searchuser?term=<strong class="text-info">&lt;term&gt;</strong>&ticket=<strong class="text-info">&lt;ticket&gt;</strong></code></td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>term</dt><dd>the search term<span class="label">optional</span></dd>
                    <dt>ticket</dt><dd>your authentication ticket</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>[
    {"username": "mbalasso", "email": "email@email.com", "fullname": "Matteo Balasso"},
    {"username": "testuser", "email": "email@email.com", "fullname": "Test User"}
]</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong> Ticket not valid</p>
                    <p><strong>Status code 500</strong> </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>/api/searchgroup</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>Search for groups. Search is case insensitive. Without any term, the full list of groups is returned.
 A <strong>JSON</strong> list of group names is returned. Available to all authenticated users.</p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/searchgroup?term=<strong class="text-info">&lt;term&gt;</strong>&ticket=<strong class="text-info">&lt;ticket&gt;</strong></code></td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>term</dt><dd>the search term<span class="label">optional</span></dd>
                    <dt>ticket</dt><dd>your authentication ticket</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>[
    {
        "groupname": "testgroup0001",
        "subscribers": 1
    },
    {
        "groupname": "testgroup0002",
        "subscribers": 3
    }
]</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong> Ticket not valid</p>
                    <p><strong>Status code 500</strong> </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>/api/creategroup</h3>
    <table class="table">
        <tbody>
            <tr>
                <td><strong>Description</strong></td>
                <td><p>Create a new group (available only to staff users). With the parent parameter provided, the group is created as child of the given group.
                    <span class="label label-important">Available only to staff users</span></p></td></p></td>
            </tr>
            <tr>
                <td><strong>Url structure</strong></td>
                <td><code>{{ request.get_host }}/api/creategroup?group=<strong class="text-info">&lt;group&gt;</strong>&parent=<strong class="text-info">&lt;parent&gt;</strong>&ticket=<strong class="text-info">&lt;ticket&gt;</strong></code></td>
            </tr>
            <tr>
                <td><strong>Method</strong></td>
                <td>GET</td>
            </tr>
            <tr>
                <td><strong>Parameters</strong></td>
                <td>
                    <dl>
                        <dt>group</dt><dd>the group name (must be globally unique)</dd>
                        <dt>parent</dt><dd>the parent group name <span class="label">optional</span></dd>
                        <dt>ticket</dt><dd>your authentication ticket</dd>
                    </dl>
                </td>
            </tr>
            <tr>
                <td><strong>Returns</strong></td>
                <td>
                    <div class="alert alert-success">
                        <strong>Status code 200</strong>
                        <pre>"OK"</pre>
                    </div>
                    <div class="alert alert-error">
                        <p><strong>Status code 403</strong> Ticket not valid or user not allowed to invoke the service</p>
                        <p><strong>Status code 500</strong> </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>/api/deletegroup</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>Delete an existing group (available only to staff users). Even after deletion, the group name won't be available for new groups.
                <span class="label label-important">Available only to staff users</span></p></td></p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/deletegroup?group=<strong class="text-info">&lt;group&gt;</strong>&ticket=<strong class="text-info">&lt;ticket&gt;</strong></code></td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>group</dt><dd>the group name</dd>
                    <dt>ticket</dt><dd>your authentication ticket</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>"OK"</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong> Ticket not valid or user not allowed to invoke the service</p>
                    <p><strong>Status code 500</strong> </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>/api/addtogroup</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>Add a user or a group to a group. The requestor must be one of the group managers (the same user who has created the group)
                With the <em>recursive</em> parameter, if the group has any child group, the user will be added to them as well.
                <span class="label label-important">Available only to group managers</span></p></td></p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/addtogroup?group=<strong class="text-info">&lt;group&gt;</strong>&name=<strong class="text-info">&lt;name_to_add&gt;</strong>&ticket=<strong class="text-info">&lt;ticket&gt;</strong></code></td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>group</dt><dd>the group name</dd>
                    <dt>name</dt><dd>the user name or the group name to add</dd>
                    <dt>recursive</dt><dd>if present with any non-empty value, add user to all children group<span class="label">optional</span></dd>
                    <dt>ticket</dt><dd>your authentication ticket</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>"OK"</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong> Ticket not valid or user not allowed to invoke the service</p>
                    <p><strong>Status code 500</strong> </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>/api/removeuser</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>Remove a user from a group. The requestor must be one of the group managers (the same user who has created the group).
                With the <em>recursive</em> parameter, if the group has any child group, the user will be removed from them as well.
                <span class="label label-important">Available only to group managers</span></p></td></p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/removeuser?group=<strong class="text-info">&lt;group&gt;</strong>&username=<strong class="text-info">&lt;username&gt;</strong>&ticket=<strong class="text-info">&lt;ticket&gt;</strong></code></td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>group</dt><dd>the group name</dd>
                    <dt>username</dt><dd>the user name</dd>
                    <dt>recursive</dt><dd>if present with any non-empty value, remove user from all children group<span class="label">optional</span></dd>
                    <dt>ticket</dt><dd>your authentication ticket</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>"OK"</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong> Ticket not valid or user not allowed to invoke the service</p>
                    <p><strong>Status code 500</strong> </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>/api/groupmembers</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>Search for group members. Given a group name, the service returns all group members and children groups.
                A <strong>JSON</strong> dictionary with the list of user attributes and the list of children groups is returned.
                <span class="label label-important">Available only to staff users</span></p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/groupmembers?group=<strong class="text-info">&lt;group&gt;</strong>&ticket=<strong class="text-info">&lt;ticket&gt;</strong></code></td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>group</dt><dd>the group name</dd>
                    <dt>ticket</dt><dd>your authentication ticket</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>{
    "users": [
        {
            "username": "mbalasso",
            "fullname": "Matteo Balasso",
            "email": "mail@example.com"
        },
        {
            "username": "testuser",
            "fullname": "Test User",
            "email": "mail@example.com"
        }
    ],
    "groups": [
        {
            "groupname": "testgroup0002",
            "subscribers": 3
        }
    ]
}</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong>  Ticket not valid or user not allowed to invoke the service</p>
                    <p><strong>Status code 404</strong> Group with given name does not exists</p>
                    <p><strong>Status code 500</strong> </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>/api/usergroups</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>Search for users group. Given a username, the service returns all the group the user is part of.
                A <strong>JSON</strong> list of group names is returned.
                <span class="label label-important">Available only to staff users</span></p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/usergroups?username=<strong class="text-info">&lt;username&gt;</strong>&ticket=<strong class="text-info">&lt;ticket&gt;</strong></code></td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>username</dt><dd>the user username</dd>
                    <dt>ticket</dt><dd>your authentication ticket</dd>
                    <dt>institution</dt><dd>(optional) if present return only the groups that are Institutions</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>[
    {
        "groupname": "testgroup0001",
        "subscribers": 1
    },
    {
        "groupname": "testgroup0002",
        "subscribers": 3
    }
]</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong>  Ticket not valid or user not allowed to invoke the service</p>
                    <p><strong>Status code 404</strong> User with given username does not exists</p>
                    <p><strong>Status code 500</strong> </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>/api/promoteuser</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>The given user is added to the given group managers. If the group has (or will have) any child group, the user will be managers of them as well.
                <span class="label label-important">Available only to group managers</span></p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/promoteuser?group=<strong class="text-info">&lt;group&gt;</strong>&username=<strong class="text-info">&lt;username&gt;</strong>&ticket=<strong class="text-info">&lt;ticket&gt;</strong></code></td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>username</dt><dd>the user username</dd>
                    <dt>group</dt><dd>the group name</dd>
                    <dt>ticket</dt><dd>your authentication ticket</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>OK</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong>  Ticket not valid or user not allowed to invoke the service</p>
                    <p><strong>Status code 500</strong> </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>/api/downgradeuser</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>The given user is removed from the given group managers. If the group has any child group, the user will be removed from their managers as well.
                <span class="label label-important">Available only to group managers</span></p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/downgradeuser?group=<strong class="text-info">&lt;group&gt;</strong>&username=<strong class="text-info">&lt;username&gt;</strong>&ticket=<strong class="text-info">&lt;ticket&gt;</strong></code></td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>username</dt><dd>the user username</dd>
                    <dt>group</dt><dd>the group name</dd>
                    <dt>ticket</dt><dd>your authentication ticket</dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>OK</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong>  Ticket not valid or user not allowed to invoke the service</p>
                    <p><strong>Status code 500</strong> </p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}