{% extends 'scs/base.html' %}
{% load macros %}
{% load django_select2_tags %}
{% macro group_details group %}
{% if group.state %}
<div class="row" style="height: 100%;">
    <ul style="min-height: 300px;">
        <li class="main-item">
            <div class="row">
                {% if group.logo %}
                    <div class="span1">
                        <img src="{{ group.logo.url }}" class="img-polaroid" alt="logo">
                    </div>
                {% else %}
                    <div class="span1">
                        <img src="/static/logo.png" class="img-polaroid" alt="logo">
                    </div>
                {% endif %}
                <div class="span1" style="word-wrap:break-word;">
                    <strong>{{ group.name }}</strong>
                </div>
                <div class="span1" style="word-wrap:break-word;">
                    <span class="muted">{{ group.country }}</span>
                </div>
                <div class="span2" style="word-wrap:break-word;">
                    <strong>Description:</strong>
                    <p> {{ group.description }}</p>
                </div>
                {% if group.type == 'institution' %}
                    <div class="span2" style="word-wrap:break-word;">
                        <strong>Address:</strong>
                        <p> {{ group.address }}</p>
                    </div>
                    <div class="span2" style="word-wrap:break-word;">
                            <strong>Admin: </strong>{{ group.admin_fullname }} <div style="display: inline-block;cursor: pointer"><i id="admin-info" class="icon-info-sign"></i></div>
                    </div>
                    <script type="text/javascript">
                        $('#admin-info').popover({
                            html: true,
                            content: "<ul><li> Full name: {{ group.admin_fullname }} </li> <li> Address: {{ group.admin_address }}</li><li> Phone: {{ group.admin_phone }}</li><li> E-mail: {{ group.admin_email }}</li></ul>",
                            title: "Administrator info"
                        });
                    </script>
                    {% if  group.formal_fullname %}
                        <div class="span2" style="word-wrap:break-word;">
                                <strong>Formal: </strong>{{ group.formal_fullname }} <div style="display: inline-block;cursor: pointer"><i id="formal-info" class="icon-info-sign"></i></div>
                        </div>
                        <script type="text/javascript">
                            $('#formal-info').popover({
                                html: true,
                                content: "<ul><li> Full name: {{ group.formal_fullname }} </li> <li> Address: {{ group.formal_address }}</li><li> Phone: {{ group.formal_phone }}</li><li> E-mail: {{ group.formal_email }}</li></ul>",
                                title: "Formal info"
                            });
                        </script>
                    {% endif %}
                    {% if  group.breach_fullname %}
                        <div class="span2" style="word-wrap:break-word;">
                                <strong>Breach: </strong>{{ group.breach_fullname }} <div style="display: inline-block;cursor: pointer"><i id="breach-info" class="icon-info-sign"></i></div>
                        </div>
                        <script type="text/javascript">
                            $('#breach-info').popover({
                                html: true,
                                content: "<ul><li> Full name: {{ group.breach_fullname }} </li> <li> Address: {{ group.breach_address }}</li><li> Phone: {{ group.breach_phone }}</li><li> E-mail: {{ group.breach_email }}</li></ul>",
                                title: "Breach info"
                            });
                        </script>
                    {% endif %}
                    <div class="span2" style="word-wrap:break-word;">
                        <strong>DSA: </strong> {% if group.signed_dsa  %} Yes {% else %} No {% endif %}
                    </div>
                    {% if  group.policies_url %}
                        <div class="span2" style="word-wrap:break-word;">
                            <strong><a href="{{ group.policies_url }}">Policies link</a></strong>
                        </div>
                    {% endif %}

                    {% endif %}
                <div class="span2" style="word-wrap:break-word;">
                    <span title="number of subscribers"><span class="icon-user"></span> {{ group.user_set.all|length }}
                    {% if not group.pending_subscriptions|length_is:0 and request.user in group.managers.all %}<span class="badge badge-important">{{ group.pending_subscriptions|length }}</span>{% endif %}</span>
                </div>
                {% if group.studies %}
                <div class="span2" style="word-wrap:break-word;">
                    <span title="number of studies"><span class="icon-book"></span> {{ group.studies|length }} {% if group.studies_actions > 0 and request.user in group.managers.all %}<span class="badge badge-important">{{ group.studies_actions }}</span>{% endif %}</span>
                </div>
                {% endif %}
            </div>
            {% if request.user in group.managers.all and group.type == 'institution'%}
                <a href="/groups/create_study?institution={{ group.pk }}"><strong class="btn btn-link btn-block">create a new study</strong></a>
                <a href="mailto:support@vph-share.eu"><strong class="btn btn-link btn-block">Contact us to delete</strong></a>
            {% endif %}
        </li>
        {% if request.user  in group.user_set.all %}
            <li class="main-item main-item-tab2">
                <div class="tabbable tabs-left" style="height: 300px;">
                    <ul class="nav nav-tabs" style="height: 300px;">
                        <li class="{% if not group.selected_study and 'studies' not in request.get_full_path%}active{% endif %}" ><a href="#lA" data-toggle="tab">Users</a></li>
                        {% if group.type == 'institution' %}<li class="{% if group.selected_study or 'studies' in request.get_full_path %}active{% endif %}"><a href="#lB" data-toggle="tab" >Studies</a></li>{% endif %}
                        {% if group.type == 'institution' and request.user in group.managers.all %}<li><a href="#lC" data-toggle="tab" >Portal</a></li>{% endif %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane {% if not group.selected_study and 'studies' not in request.get_full_path%}active{% endif %} nano" id="lA">
                            <div class="content">
                                {% if request.user in group.managers.all %}
                                    <form class="form-inline" style=" float:right;margin:0px; display: inline;" action="/groups/{{ group.id }}/addtogroup/" enctype="multipart/form-data" method="post">
                                        {% csrf_token %}
                                        {{ UserFinder }}
                                        <button class="btn btn-mini btn-success" type="submit" name="operation" value="accept"><span class="icon-plus icon-white"></span></button>
                                    </form>
                                    {% if group.pending_subscriptions %}
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <th>Pending users:</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for subscriber in group.pending_subscriptions %}
                                                <tr>
                                                    <td style="vertical-align: middle;">
                                                        {{ subscriber.user.first_name }} {{ subscriber.user.last_name }}
                                                        <span class="muted">({{ subscriber.user.username }})</span>
                                                        <form class="form-inline" style=" float:right;margin:0px; display: inline;" action="/groups/{{ group.id }}/{{ subscriber.user.id }}/subscribe/" enctype="multipart/form-data" method="post">
                                                            {% csrf_token %}
                                                            <button class="btn btn-mini btn-success" type="submit" name="operation" value="accept"><span class="icon-ok icon-white"></span></button>
                                                            <button class="btn  btn-mini btn-danger" type="submit" name="operation" value="refuse"><span class="icon-remove icon-white"></span></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Accepted users:</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for subscriber in group.user_set.all %}
                                            <tr>
                                                <td style="vertical-align: middle;">
                                                    {% if subscriber in group.managers.all %}<i class="icon-user" style="vertical-align: middle;"></i>{% endif %}
                                                    {{ subscriber.first_name }} {{ subscriber.last_name }}
                                                    <span class="muted">({{ subscriber.username }})</span>
                                                    <form id="group_remove_{{ subscriber.username }}" class="form-inline" style=" float:right;margin:0px; display: inline;" action="/groups/{{ group.id }}/{{ subscriber.id }}/unsubscribe/" enctype="multipart/form-data" method="post">
                                                        {% csrf_token %}
                                                        <button id="group_user_remove_{{ subscriber.username }}" class="btn  btn-mini btn-danger" type="button" ><span class="icon-remove icon-white"></span></button>
                                                        <script type="text/javascript">
                                                            $('#group_user_remove_{{ subscriber.username }}').popover({
                                                                html: true,
                                                                container: 'body',
                                                                content: '<p>By removing the user from the group will also be removed from all studies.</p><button id="user_remove" style="margin-top:5px;" class="btn  btn-mini btn-danger" type="submit" name="operation" value="remove" form="group_remove_{{ subscriber.username }}">Yes remove</button>',
                                                                title: "Warning!"
                                                            });
                                                        </script>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Users:</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for subscriber in group.user_set.all %}
                                        <tr>
                                            <td>{% if subscriber in group.managers.all %}<i class="icon-user" style="vertical-align: middle;"></i>{% endif %}
                                                {{ subscriber.first_name }} {{ subscriber.last_name }}
                                            <span class="muted">({{ subscriber.username }})</span></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                        </div>
                        {% if group.type == 'institution' %}
                        <div class="tab-pane {% if group.selected_study or 'studies' in request.get_full_path %}active{% endif %} nano" id="lB">
                            <div class="content">
                            {% if group.selected_study %}

                                    <div class="row">
                                        <div class="span2">
                                            <a class="btn btn-mini btn-primary btn-link" type="submit"  name="operation" value="accept" href="/groups/{{ group.id }}/?studies"><span class="icon-arrow-left " style="height: 17px;vertical-align: middle;"></span>Back to studies</a>
                                        </div>
                                        <div class="span2">
                                            <strong>{{ group.selected_study.name }}</strong>
                                        </div>
                                        <div class="span2">
                                            <strong>Description:</strong>
                                            <p> {{ group.selected_study.description }}</p>
                                        </div>
                                        <div class="span2">
                                            <span title="number of subscribers"><span class="icon-user" style="vertical-align: middle;"></span>{{ group.selected_study.user_set.all|length }}
                                            {% if request.user in group.selected_study.managers %}<span class="badge badge-important">{{ group.selected_study.pending_subscriptions|length }}</span>{% endif %}</span>
                                        </div>
                                        <div class="span2">
                                            <div><span class="icon-time"></span> Star time: {{ group.selected_study.start_date }} </div>
                                            <div><span class="icon-time"></span> End time: {{ group.selected_study.finish_date }} </div>
                                        </div>
                                    </div>
                            {% else %}
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Studies:</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for study in group.studies %}
                                        <tr>
                                            <td>
                                                <a href="/groups/{{ group.id }}/{{ study.id }}/">{{  study.name }}
                                                {% if request.user in study.user_set.all %}<span class="badge badge-success"><span class="icon-ok icon-white"></span></span>{% endif %}
                                                {% if request.user in study.managers.all and not study.pending_subscriptions|length_is:0 %}<span class="badge badge-important">{{ study.pending_subscriptions|length }}</span>{% endif %}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            </div>
                        </div>
                        {% endif %}

                        {% if group.type == 'institution' %}
                            {% if group.portal %}
                                <div class="tab-pane nano" id="lC">
                                    <div class="content">
                                        <a class="btn btn-info" href="/groups/portal_institution/{{ group.id }}/">Edit vph-share institutional portal</a>
                                        <hr/>
                                        <a class="btn btn-warning" href="/groups/portal_institution/{{ group.id }}/delete/">Delete vph-share institutional portal</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="tab-pane nano" id="lC">
                                    <div class="content">
                                        <a class="btn btn-info" href="/groups/portal_institution/{{ group.id }}">Create your vph-share institutional portal</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>

            </li>
            {% if group.selected_study %}
            <li class="main-item main-item-tab3 nano">
                {% if request.user in group.selected_study.user_set.all or request.user in group.selected_study.managers.all %}
                    <div class="content">
                        {% if request.user in group.selected_study.managers.all %}
                            <form class="form-inline" style=" float:right;margin:0px; display: inline;" action="/groups/{{ group.id }}/{{ group.selected_study.id }}/addtogroup/" enctype="multipart/form-data" method="post">
                                        {% csrf_token %}
                                        {{ StudyUserFinder }}
                                        <button class="btn btn-mini btn-success" type="submit" name="operation" value="accept"><span class="icon-plus icon-white"></span></button>
                            </form>
                            {% if group.selected_study.pending_subscriptions %}
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Pending users:</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for subscriber in group.selected_study.pending_subscriptions %}
                                        <tr>
                                            <td style="vertical-align: middle;">
                                                {{ subscriber.user.first_name }} {{ subscriber.user.last_name }}
                                                <span class="muted">({{ subscriber.user.username }})</span>
                                                <form class="form-inline" style=" float:right;margin:0px; display: inline;" action="/groups/{{ group.id }}/{{ group.selected_study.id }}/{{ subscriber.user.id }}/subscribe/" enctype="multipart/form-data" method="post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-mini btn-success" type="submit" name="operation" value="accept"><span class="icon-ok icon-white"></span></button>
                                                    <button class="btn  btn-mini btn-danger" type="submit" name="operation" value="refuse"><span class="icon-remove icon-white"></span></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Accepted users:</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for subscriber in group.selected_study.user_set.all %}
                                    <tr>
                                        <td style="vertical-align: middle;">
                                            {% if subscriber in group.selected_study.managers.all %}<i class="icon-user" style="vertical-align: middle;"></i>{% endif %}
                                            {{ subscriber.first_name }} {{ subscriber.last_name }}
                                            <span class="muted">({{ subscriber.username }})</span>
                                            <form id="remove_{{ subscriber.username }}" class="form-inline" style=" float:right;margin:0px; display: inline;" action="/groups/{{ group.id }}/{{ group.selected_study.id }}/{{ subscriber.id }}/unsubscribe/" enctype="multipart/form-data" method="post">
                                                {% csrf_token %}
                                                <button id="user_remove_{{ subscriber.username }}" class="btn  btn-mini btn-danger" type="button" ><span class="icon-remove icon-white"></span></button>
                                                <script type="text/javascript">
                                                    $('#user_remove_{{ subscriber.username }}').popover({
                                                        html: true,
                                                        container: 'body',
                                                        content: '<button id="user_remove" class="btn  btn-mini btn-danger" type="submit" name="operation" value="remove" form="remove_{{ subscriber.username }}">Yes remove</button>',
                                                        title: "Remove confirmation"
                                                    });
                                                </script>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Subscribers:</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for subscriber in group.selected_study.user_set.all %}
                                    <tr>
                                        <td>{% if subscriber in group.selected_study.managers.all %}<i class="icon-user" style="vertical-align: middle;"></i>{% endif %}
                                            {{ subscriber.first_name }} {{ subscriber.last_name }}
                                            <span class="muted">({{ subscriber.username }})</span></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                {% else %}
                    {% if group.selected_study.is_subscription_pending %}
                        <span class="icon-question-sign"></span>Your subscription request is pending
                    {% elif group.selected_study.is_subscription_refused %}
                        <span class="icon-remove-sign"></span>Your subscription request has been refused
                    {% else %}
                        <form action="/groups/{{ group.id }}/{{ group.selected_study.id }}/studysubscribe/" enctype="multipart/form-data" method="post" style="padding: 120px 20px;">
                            {% csrf_token %}
                            <button class="btn btn-link btn-primary" type="submit" title="Subscribe">Subscribe</button>
                        </form>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
        {% else %}
            <li class="main-item main-item-tab3" style="vertical-align: middle;">
                    {% if group.is_subscription_pending %}
                        <span class="icon-question-sign"></span>Your subscription request is pending
                    {% elif group.is_subscription_refused %}
                        <span class="icon-remove-sign"></span>Your subscription request has been refused
                    {% else %}
                        <form action="/groups/{{ group.id }}/subscribe/" enctype="multipart/form-data" method="post" style="padding: 120px 20px;">
                            {% csrf_token %}
                            <button class="btn btn-link btn-primary" type="submit" title="Subscribe">Subscribe</button>
                        </form>
                    {% endif %}
            </li>
        {% endif %}

    </ul>

</div>
<script> $(".nano").nanoScroller({ alwaysVisible: true });</script>
{% else %}
    <div class="row" style="height: 100%;">
        <ul style="height: 300px;">
            <li class="main-item">
                <div class="row">
                    {% if group.logo %}
                        <div class="span1">
                            {% if group.logo %}
                                <img src="{{ group.logo.url }}" class="img-polaroid" alt="logo">
                            {% else %}
                                <img src="/static/logo.png" class="img-polaroid" alt="logo">
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="span1" style="word-wrap:break-word;">
                        <strong>{{ group.name }}</strong>
                    </div>
                    <div class="span1" style="word-wrap:break-word;" >
                        <span class="muted">{{ group.country }}</span>
                    </div>
                    <div class="span2" style="word-wrap:break-word;">
                        <strong>Description:</strong>
                        <p> {{ group.description }}</p>
                    </div>
                    {% if group.type == 'institution' %}
                        <div class="span2" style="word-wrap:break-word;">
                            <strong>Address:</strong>
                            <p> {{ group.address }}</p>
                        </div>
                        <div class="span2" style="word-wrap:break-word;">
                                <strong>Admin: </strong>{{ group.admin_fullname }} <div style="display: inline-block;cursor: pointer"><i id="admin-info" class="icon-info-sign"></i></div>
                        </div>
                        <script type="text/javascript">
                            $('#admin-info').popover({
                                html: true,
                                content: "<ul><li> Full name: {{ group.admin_fullname }} </li> <li> Address: {{ group.admin_address }}</li><li> Phone: {{ group.admin_phone }}</li><li> E-mail: {{ group.admin_email }}</li></ul>",
                                title: "Administrator info"
                            });
                        </script>
                        {% if  group.formal_fullname %}
                            <div class="span2" style="word-wrap:break-word;">
                                    <strong>Formal: </strong>{{ group.formal_fullname }} <div style="display: inline-block;cursor: pointer"><i id="formal-info" class="icon-info-sign"></i></div>
                            </div>
                            <script type="text/javascript">
                                $('#formal-info').popover({
                                    html: true,
                                    content: "<ul><li> Full name: {{ group.formal_fullname }} </li> <li> Address: {{ group.formal_address }}</li><li> Phone: {{ group.formal_phone }}</li><li> E-mail: {{ group.formal_email }}</li></ul>",
                                    title: "Formal info"
                                });
                            </script>
                        {% endif %}
                        {% if  group.breach_fullname %}
                            <div class="span2" style="word-wrap:break-word;">
                                    <strong>Breach: </strong>{{ group.breach_fullname }} <div style="display: inline-block;cursor: pointer"><i id="breach-info" class="icon-info-sign"></i></div>
                            </div>
                            <script type="text/javascript">
                                $('#breach-info').popover({
                                    html: true,
                                    content: "<ul><li> Full name: {{ group.breach_fullname }} </li> <li> Address: {{ group.breach_address }}</li><li> Phone: {{ group.breach_phone }}</li><li> E-mail: {{ group.breach_email }}</li></ul>",
                                    title: "Breach info"
                                });
                            </script>
                        {% endif %}
                        <div class="span2" style="word-wrap:break-word;">
                            <strong>DSA: </strong> {% if group.signed_dsa  %} Yes {% else %} No {% endif %}
                        </div>
                        {% if  group.policies_url %}
                            <div class="span2" style="word-wrap:break-word;">
                                <strong><a href="{{ group.policies_url }}">Policies link</a></strong>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </li>
            {% if request.user.is_superuser %}
            <li class="main-item main-item-tab3" style="vertical-align: middle;" >
                <form class="form-inline" action="/groups/manage_group_request/" enctype="multipart/form-data" method="post" style="padding: 120px 20px;">
                    {% csrf_token %}
                    <input type="hidden" name="group" value="{{ group.name }}" />
                    <button class="btn btn-success" type="submit" name="operation" value="accept">Accept</button>
                    <button class="btn btn-danger" type="submit" name="operation" value="refuse">Refuse</button>
                </form>
            </li>
            {% else %}
            <li class="main-item main-item-tab3" style="vertical-align: middle;">
                <div class="form-inline" style="padding: 120px 20px;">
                    Waiting for approval.
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
{% endmacro %}
