{% load macros %}
{% macro group_details group %}
<div class="row" style="height: 300px;">
    <ul style="height: 300px;">
        <li class="main-item">
            <div class="row">
                {% if group.logo %}
                <div class="span1">
                    <img src="/static/logo.png" class="img-polaroid" alt="logo">
                </div>
                {% endif %}
                <div class="span1">
                    <strong>{{ group.name }}</strong>
                </div>
                <div class="span1">
                    <span class="muted">{{ group.country }}</span>
                </div>
                <div class="span2">
                    <strong>Description:</strong>
                    <p> {{ group.description }}</p>
                </div>
                <div class="span2">
                    <span><span class="icon-user"></span> {{ group.user_set.all|length }}
                    {% if not group.pending_subscriptions|length_is:0 %}<span class="badge badge-important">{{ group.pending_subscriptions|length }}</span>{% endif %}</span>
                </div>
                {% if group.studies %}
                <div class="span2">
                    <span><span class="icon-book"></span> {{ group.studies|length }} <span class="badge badge-important">{{ group.studies_actions }}</span></span>
                </div>
                {% endif %}
            </div>
            {% if request.user in group.managers.all %}
                <a href="/groups/create_study?institution={{ institution.pk }}"><strong class="btn btn-link btn-block">create a new study</strong></a>
            {% endif %}
        </li>
        {% if request.user  in group.user_set.all %}
            <li class="main-item main-item-tab2">
                <div class="tabbable tabs-left" style="height: 300px;">
                    <ul class="nav nav-tabs" style="height: 300px;">
                        <li {% if not group.selected_study %}class="active"{% endif %} ><a href="#lA" data-toggle="tab">Users</a></li>
                        <li {% if group.selected_study %}class="active"{% endif %}><a href="#lB" data-toggle="tab" >Studies</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active nano" id="lA">
                            <div class="content">
                                {% if request.user in group.managers.all %}
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Pending users:</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for subscriber in group.pending_subscriptions %}
                                            <tr>
                                                <td style="vertical-align: middle;">
                                                    {{ subscriber.user.first_name }} {{ subscriber.user.last_name }}
                                                    <span class="muted">({{ subscriber.user.username }})</span>
                                                    <form class="form-inline" style=" float:right;margin:0px; display: inline;" action="/groups/{{ group.id }}/{{ subscriber.user.id }}/subscribe/" enctype="multipart/form-data" method="post">
                                                        {% csrf_token %}
                                                        <button class="btn btn-mini btn-success" type="submit" name="operation" value="accept">Accept</button>
                                                        <button class="btn  btn-mini btn-danger" type="submit" name="operation" value="refuse">Refuse</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Accepted users:</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for subscriber in group.user_set.all %}
                                            <tr>
                                                <td style="vertical-align: middle;">
                                                    {{ subscriber.first_name }} {{ subscriber.last_name }}
                                                    <span class="muted">({{ subscriber.username }})</span>
                                                    <form class="form-inline" style=" float:right;margin:0px; display: inline;" action="/groups/{{ group.id }}/{{ subscriber.id }}/subscribe/" enctype="multipart/form-data" method="post">
                                                        {% csrf_token %}
                                                        <button class="btn  btn-mini btn-danger" type="submit" name="operation" value="refuse">Delete</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Users:</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for subscriber in group.user_set.all %}
                                        <tr>
                                            <td>{{ subscriber.first_name }} {{ subscriber.last_name }}
                                            <span class="muted">({{ subscriber.username }})</span></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane nano" id="lB">
                            <div class="content">
                            {% if group.selected_study %}

                                    <div class="row">
                                        <div class="span1">
                                            <strong>{{ group.selected_study.name }}</strong>
                                        </div>
                                        <div class="span2">
                                            <strong>Description:</strong>
                                            <p> {{ group.selected_study.description }}</p>
                                        </div>
                                        <div class="span2">
                                            <span><span class="icon-user"></span>{{ group.selected_study.user_set.all|length }}
                                            {% if request.user in group.selected_study.principals %}<span class="badge badge-important">{{ group.selected_study.pending_users|length }}</span>{% endif %}</span>
                                        </div>
                                        <div class="span2">
                                            <div><span class="icon-time"></span> Star time: {{ group.selected_study.start_date }} </div>
                                            <div><span class="icon-time"></span> End time: {{ group.selected_study.finish_date }} </div>
                                        </div>
                                    </div>
                            {% else %}
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Studies:</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for study in institution.studies %}
                                        <tr>
                                            <td>
                                                <a href="/groups/{{ group.id }}/{{ study.id }}/">{{  study.name }}
                                                {% if request.user in study.principals %}<span class="badge badge-important">{{ study.pending_users|length }}</span>{% endif %}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            {% if group.selected_study %}
            <li class="main-item main-item-tab3 nano">
                {% if request.user in group.selected_study.user_set.all %}
                    <div class="content">
                        {% if request.user in group.selected_study.principals %}
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Pending users:</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subscriber in group.selected_study.pending_users %}
                                <tr>
                                    <td style="vertical-align: middle;">
                                        {{ subscriber.user.first_name }} {{ subscriber.user.last_name }}
                                        <span class="muted">({{ subscriber.user.username }})</span>
                                        <form class="form-inline" style=" float:right;margin:0px; display: inline;" action="/groups/{{ group.id }}/{{ group.selected_study.id }}/{{ subscriber.user.id }}/subscribe/" enctype="multipart/form-data" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-mini btn-success" type="submit" name="operation" value="accept">Accept</button>
                                            <button class="btn  btn-mini btn-danger" type="submit" name="operation" value="refuse">Refuse</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Accepted users:</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subscriber in group.selected_study.user_set.all %}
                                <tr>
                                    <td style="vertical-align: middle;">
                                        {{ subscriber.first_name }} {{ subscriber.last_name }}
                                        <span class="muted">({{ subscriber.username }})</span>
                                        <form class="form-inline" style=" float:right;margin:0px; display: inline;" action="/groups/{{ group.id }}/{{ group.selected_study.id }}/{{ subscriber.id }}/subscribe/" enctype="multipart/form-data" method="post">
                                            {% csrf_token %}
                                            <button class="btn  btn-mini btn-danger" type="submit" name="operation" value="refuse">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Subscribers:</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for subscriber in group.selected_study.user_set.all %}
                                    <tr>
                                        <td>{{ subscriber.first_name }} {{ subscriber.last_name }}
                                            <span class="muted">({{ subscriber.username }})</span></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                {% else %}
                    {% if group.selected_study.is_subscription_pending %}
                        <span class="icon-question-sign"></span>Your subscription request is pending
                    {% elif group.selected_study.is_subscription_refused %}
                        <span class="icon-remove-sign"></span>Your subscription request has been refused
                    {% else %}
                        <form action="/groups/{{ group.id }}/{{ group.selected_study.id }}/{{ request.user.id }}/subscribe/" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <button class="btn btn-link pull-right" type="submit" title="Subscribe">Subscribe</button>
                        </form>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
        {% else %}
            <li class="main-item main-item-tab2" style="vertical-align: middle;">
                    {% if group.is_subscription_pending %}
                        <span class="icon-question-sign"></span>Your subscription request is pending
                    {% elif group.is_subscription_refused %}
                        <span class="icon-remove-sign"></span>Your subscription request has been refused
                    {% else %}
                        <form action="/groups/{{ group.id }}/{{ request.id }}/subscribe/" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <button class="btn btn-link pull-right" type="submit" title="Subscribe">Subscribe</button>
                        </form>
                    {% endif %}
            </li>
        {% endif %}

    </ul>

</div>
<script> $(".nano").nanoScroller({ alwaysVisible: true });</script>
{% endmacro %}