{% load macros %}
{% macro display_group group type %}
    <div class="row">
        {% if type == 'Institution' %}
            <div class="span1">
                <img src="/static/logo.png" class="img-polaroid" alt="logo">&nbsp;
            </div>
        {% endif %}
        <div class="span3">
            <strong>{{ group.name }}</strong>
        </div>
        <div class="span3">
            <span class="muted">{{ group.description }}</span>
        </div>


        <div class="span3">
            {% if request.user in group.managers.all or request.user in group.principals.all%}
                <a href="#{{ group.id }}-institution-subscribers-modal" role="button" class="btn btn-small btn-link" data-toggle="modal"><span class="icon-user"></span>{{ group.user_set.all|length }}</a>
                <a href="#{{ group.id }}-institution-pending-modal" role="button" class="btn btn-small btn-link" data-toggle="modal"><span class="icon-question-sign"></span> {{ group.pending_subscriptions|length}}</a>
            {% elif request.user.is_authenticated and request.user not in group.user_set.all %}
                <div>
                    {% if group.is_subscription_pending %}
                        <span class="icon-question-sign"></span>Your subscription request is pending
                    {% elif group.is_subscription_refused %}
                        <span class="icon-remove-sign"></span>Your subscription request has been refused
                    {% else %}
                        <form action="/groups/subscribe/" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="group" value="{{ group.name }}" />
                            <button class="btn btn-link pull-right" type="submit" title="Subscribe">Subscribe</button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if request.user in group.managers.all or request.user in group.principals.all%}
            <div id="{{ group.id }}-institution-subscribers-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>{{ group.name }} subscribers </h3>
                </div>
                <div class="modal-body">
                    {% if group.user_set.all %}
                        <ul>
                            {% for subscriber in group.user_set.all %}
                                <li> <strong>{{ subscriber.first_name }} {{ subscriber.last_name }} </strong>
                                    <span class="muted">({{ subscriber.username }})</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>There are no subscribers</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
            <div id="{{ group.id }}-institution-pending-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>{{ group.name }} pending subscriptions</h3>
                </div>
                <div class="modal-body">
                    {% if group.pending_subscriptions %}
                        <ul>
                            {% for subscription in group.pending_subscriptions %}
                                <li>
                                    <span> {{ subscription.id }}</span>
                                    <strong>{{ subscription.user.first_name }} {{ subscription.user.last_name }}</strong>
                                    <span class="muted">({{ subscription.user.username }})</span>&nbsp;
                                    <span class="muted text-info">{{ subscription.date }}</span>
                                    <form class="form-inline" action="/groups/manage_subscription/" enctype="multipart/form-data" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="group" value="{{ group.name }}" />
                                        <input type="hidden" name="user" value="{{ subscription.user.username }}" />
                                        <button class="btn btn-success" type="submit" name="operation" value="accept">Accept</button>
                                        <button class="btn btn-danger" type="submit" name="operation" value="refuse">Refuse</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>There are no subscribers</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}