
{% block content %}

    <h3>/api/hasrole</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>Check if the user is granted the target role over the given resources.
                <br />Resources can be referred by metadata global ids OR by local ids and resource type.
                <br />User authentication can be perfomed by passing the ticket as an URL parameter OR with http basic authentication (username:ticket)
                <br />Returns <strong>True</strong> if the user is granted the target role over the given resource, <strong>False</strong> if not.</p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/hasrole?local_id=<strong class="text-info">&lt;local_id1&gt;</strong>&local_id=<strong class="text-info">&lt;local_id2&gt;</strong>&type=<strong class="text-info">&lt;type&gt;</strong>&role=<strong class="text-info">&lt;role&gt;</strong></code>
                <br /><code>{{ request.get_host }}/api/hasrole?global_id=<strong class="text-info">&lt;global_id1&gt;</strong>&global_id=<strong class="text-info">&lt;global_id2&gt;</strong>&role=<strong class="text-info">&lt;role&gt;</strong></code>
            </td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>global_id</dt><dd>the resource global id<span class="label">optional</span></dd>
                    <dt>local_id</dt><dd>the resource local id<span class="label">optional</span></dd>
                    <dt>type</dt><dd>the resource type<span class="label">optional</span></dd>
                    <dt>role</dt><dd>the user target role</dd>
                    <dt>ticket</dt><dd>your authentication ticket<span class="label">optional</span></dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>True</pre>
                </div>
                <div class="alert alert-info">
                    <strong>Status code 200</strong>
                    <pre>False</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong>Ticket not valid</p>
                    <p><strong>Status code 404</strong>Requested resources not found</p>
                    <p><strong>Status code 500</strong>Any other kind of error</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>/api/resources</h3>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Description</strong></td>
            <td><p>Get the list of the resources of the given type for which the user is granted the target role.
                <br />User authentication can be perfomed by passing the ticket as an URL parameter OR with http basic authentication (username:ticket)
                <br/>Return a <em>JSON</em> list of resources with their local and global ids.</p></td>
        </tr>
        <tr>
            <td><strong>Url structure</strong></td>
            <td><code>{{ request.get_host }}/api/resources?type=<strong class="text-info">&lt;type&gt;</strong>&role=<strong class="text-info">&lt;role&gt;</strong></code></code>
            </td>
        </tr>
        <tr>
            <td><strong>Method</strong></td>
            <td>GET</td>
        </tr>
        <tr>
            <td><strong>Parameters</strong></td>
            <td>
                <dl>
                    <dt>type</dt><dd>the resource type</dd>
                    <dt>role</dt><dd>the user target role</dd>
                    <dt>ticket</dt><dd>user authentication ticket<span class="label">optional</span></dd>
                </dl>
            </td>
        </tr>
        <tr>
            <td><strong>Returns</strong></td>
            <td>
                <div class="alert alert-success">
                    <strong>Status code 200</strong>
                    <pre>[
    {"local_id": &lt;localid1&gt;, "global_id": &lt;localid1&gt;},
    {"local_id": &lt;localid2&gt;, "global_id": &lt;localid2&gt;},
]</pre>
                </div>
                <div class="alert alert-error">
                    <p><strong>Status code 403</strong>Ticket not valid</p>
                    <p><strong>Status code 500</strong>Any other kind of error</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


{% endblock %}