{% extends 'scs_resources/resources.html' %}
{% load scs_extras %}
{%  block title %} Dashboard {% endblock %}


    {%  block header_buttons %}
    <ul class="nav nav-pills">
      <li data-target="#dashboard-container" data-get="{{ BASE_URL }}/dashboard/list/data/" class="resource-tab active">
          <a>
            My Datasets
          </a>
      </li>
      <li data-target="#dashboard-container" data-get="{{ BASE_URL }}/dashboard/list/file/" class="resource-tab active">
          <a>
            My Files/Folders
          </a>
      </li>
      <li data-target="#dashboard-container" data-get="{{ BASE_URL }}/dashboard/list/application/" class="resource-tab">
            <a>
                My Applications
            </a>
      </li>
      <li data-target="#dashboard-container" data-get="{{ BASE_URL }}/dashboard/list/workflow/" class="resource-tab">
        <a>
            My Workflows
        </a>
      </li>
      <li data-target="#dashboard-container" data-get="{{ BASE_URL }}/dashboard/list/sws/" class="resource-tab">
        <a>
            My Semantic Web services
        </a>
      </li>
      <script>$(function(){
          {% if tab == 'file' %}
              $('.resource-tab')[1].click();
          {% elif tab == 'application' %}
              $('.resource-tab')[2].click();
          {% elif tab == 'workflow' %}
              $('.resource-tab')[3].click();
          {% elif tab == 'sws' %}
              $('.resource-tab')[4].click();
          {% else %}
              $('.resource-tab')[0].click();
          {% endif %}
        }
      );</script>
    </ul>
    {% endblock %}
