{% load macros %}
{% load django_select2_tags %}
{% load scs_extras %}
{% macro resource_render resource %}
    <div id="{{ resource.id }}"  class="resource well well-small">
        <div class="row">
            <div  class="span3">
                {{ resource.metadata.name }}
            </div>
            <div class="span5">
                Author: {{ resource.metadata.author }} | Published: {{ resource.metadata.creation_date }}
            </div>

            <div class="span3">
                <a  id="link-button" class="btn btn-info " title="Open in new tab" href="/resources/{{ resource.global_id }}" style="color:#ffffff;" target="_blank"><i class="icon-external-link"></i></a>
                {% if resource.metadata.type == "Workflow" and resource.owner == user%}
                    <a id="link-button"  class="btn btn-info" title="Edit Workflow" href="/workflows/edit/{{ resource.id }}/" style="color:#ffffff;" target="_blank"><i class="icon-edit"></i></a>
                    <a id="details-button" class="btn btn-info accordion-toggle" title="Edit workflow in Taverna Online"  href="http://onlinehpc.com/workflows/editor?provider=vphshare&workflowId={{ resource.global_id }}" target="_blank">
                       <i class="icon-edit"></i> T.O.
                    </a>
                {% endif%}
                <a id="details-button" class="btn btn-warning  accordion-toggle" title="Show details" data-toggle="collapse" href="#{{ resource.id }}-details">
                    <i class="icon-reorder"></i>
                </a>



                {% if resource.requests|length > 0 %}<span class="badge badge-important"><strong>!</strong></span>{% endif %}
            </div>
        </div>
        <div id="{{ resource.id }}-details" class="accordion-body collapse {% if resource.global_id in collapse %}in{% endif %}">
            <ul class="nav nav-tabs" id="details-tab">
                <li class="{% if resource.global_id not in collapse %}active{% endif %}">
                    <a href="#{{ resource.id }}-metadata" data-toggle="tab">Details</a>
                </li>
                <li class="{% if resource.global_id in collapse %}active{% endif %}"><a href="#{{ resource.id }}-share" data-toggle="tab">Share</a></li>
            </ul>
            <div class="tab-content">
                <div data-globalid="{{ resource.global_id }}" class="tab-pane {% if resource.global_id not in collapse %}active{% endif %} manage-modal-data" id="{{ resource.id }}-metadata">
                    <div class="alert hide">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span id="modal-message"></span>
                    </div>
                    <ul class="unstyled modal-list">
                        <li>Description: <span id="modal-description">{{ resource.metadata.description }}</span>
                            <button id="edit-description-btn" class="btn btn-mini">edit</button>
                    <span id="edit-description-form" class="input-append hide" style="margin-bottom: 0px;">
                        <textarea id="edit-description-textarea" class="input-size-mini">{{ resource.metadata.description }} </textarea>
                        <button id="update-description" class="btn btn-mini" type="button" data-loading-text="Updating...">update</button>
                    </span>
                        </li>
                        {% with  resource.metadata.tags|split:"," as tags%}
                            <li>Tags:
                                {% for tag in tags %}
                                    <span class="label tag-label" style="vertical-align: middle;margin-right: 5px;"><div class="tag pull-left">{{ tag }}</div><div id="remove-tag" type="button" class="close pull-rigth" style="margin-left:5px;line-height: 14px">×</div></span>
                                {% endfor %}
                                <button id="enter-tag-btn" class="btn btn-mini">Enter tag</button>
                                <span id="enter-tag-form" class="input-append hide" style="margin-bottom: 0px;"><input id="enter-tag-input" type="text" class="input-medium input-size-mini"><button id="update-tag" class="btn btn-mini" type="button" data-loading-text="Updating...">update</button></span>
                            </li>
                            <li>Licence: <span class="label" style="margin-right: 5px;">{{ resource.metadata.licence }}</span> <button class="btn btn-mini">Upload licence</button></li>
                            <li>Views: {{ resource.metadata.views }}</li>
                        {% endwith %}
                    </ul>
                    <div class="row-fluid" style="font-size: 13px;"><div class="span4">Published: {{ resource.metadata.creation_date|strTodate|date:"SHORT_DATE_FORMAT" }} </div><div class="span4">Category: {{ resource.metadata.category }}</div><div class="span4">Type: {{ resource.metadata.type }}</div></div>
                </div>
                <div data-globalid="{{ resource.global_id }}" data-localid="{{ resource.id }}" class="tab-pane share-pannel {% if resource.global_id in collapse %}active{% endif %}" id="{{ resource.id }}-share">
                    <div class="alert hide" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <span id="modal-message"></span>
                    </div>
                    {% if resource.requests %}
                        <h6>Pending requests:</h6>
                        <table style="width: 100%;table-layout: fixed;" class="table table-condensed">
                            <tbody class="pendig-users">
                            {% for r in resource.requests %}
                                <tr data-name="{{ r.requestor.username }}" >
                                    <td class="user-name">{{ r.requestor.first_name}} {{ r.requestor.last_name}} </td>
                                    <td class="user-message">
                                        {% if r.message %}
                                            <a href="#request-{{ r.id }}" role="button" class="btn btn-mini" data-toggle="modal">Read attached message</a>
                                            <!-- Modal -->
                                            <div id="request-{{ r.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h3 id="myModalLabel">Message from {{ r.requestor.first_name}} {{ r.requestor.last_name}}</h3>
                                                </div>
                                                <div class="modal-body">
                                                    <p>{{ r.message }}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                                </div>
                                            </div>
                                        {% else %}
                                            <span class="label label-info">No message</span>
                                        {% endif %}
                                        | Date: <span>{{ r.date }}</span>
                                    </td>
                                    <td class="request-accept" >
                                            <form class="form-inline  roles-buttons" style="margin:0px;display: inline-block;" action="/dashboard/acceptRequest" method="POST">
                                                <input type="hidden" name="user" value="{{ r.requestor.username }}">
                                                <input type="hidden" name="resource" value="{{ resource.global_id }}">
                                                {% csrf_token %}
                                                <div class="btn-group hide accept-roles" style="display: none;">
                                                    {% for role in resource.roleslist %}
                                                        <input type="submit" name="role" class="btn btn-mini btn-success" value="{{ role.name }}">
                                                    {% endfor %}
                                                </div>
                                            </form>

                                        <button class="btn btn-mini btn-success accept">Accept</button>&nbsp
                                        <a href="#reject-{{ r.id }}" role="button" class="btn btn-mini" data-toggle="modal">Refuse</a>
                                        <!-- Modal -->
                                        <div id="reject-{{ r.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3>Attach message for {{ r.requestor.first_name}} {{ r.requestor.last_name}}</h3>
                                            </div>
                                            <form action="/dashboard/rejectRequest" method="post">
                                                <div class="modal-body">
                                                    <input type="hidden" name="user" value="{{ r.requestor.username }}">
                                                    <input type="hidden" name="resource" value="{{ resource.global_id }}">
                                                    <textarea style="width: 80%;" placeholder="You could write the reason for the refusal." rows="3" name="message"></textarea>
                                                    {% csrf_token %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                                    <button type="submit" class="btn btn-primary" >Confirm</button>
                                                </div>
                                            </form>
                                        </div>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr/>
                    {% endif %}
                    <h6>Share this resource with new user or group:</h6>
                    <form class="form-inline inline" style="margin:0px;" action="/dashboard/newshare" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="resource" value="{{ resource.global_id }}">
                        {{ resource.user_group_finder }}
                        <label class="checkbox inline">
                            <input type="checkbox" name="reader" value="Reader"> Reader
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" name="editor" value="Editor"> Editor
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" name="manager" value="Manager"> Manager
                        </label>
                        <button class="btn btn-mini btn-success" type="submit" name="operation" value="accept"><span class="icon-plus icon-white"></span></button>
                    </form>
                    <hr/>
                    {% if resource.sharreduser %}
                        <table class=" table table-striped table-hover" style="table-layout: fixed;">
                            <thead>
                            <tr>
                                <th><span class="label label-info">Users</span> and <span class="label label-success"> Groups</span></th>{% for role in resource.roleslist %}<th>{{ role.name }}</th>{% endfor %}
                            </tr>
                            </thead>
                            <tbody class="permissions-map">
                            {% for user in resource.sharreduser %}
                                <tr>
                                    <td>
                                    {% if user.username %}
                                        <span class="label label-info">{{ user.first_name}} {{ user.last_name}}</span>
                                    {% else %}
                                        <span class="label label-success">{{user.name}}</span>
                                    {% endif %}
                                        <span class="updating-alert badge badge-warning hide"><i class='icon-spinner icon-spin'></i> Updating...</span> <span class="updating-ok badge badge-warning hide"><i class='icon-check'></i> OK</span> <span class="updating-error badge badge-warning hide"><i class='icon-check'></i> Error</span>
                                    </td>
                                    {% for role in resource.roleslist %}
                                        <td>
                                            <label class="checkbox inline">
                                            <input class="roles" type="checkbox" value="reader" data-rolename="{{ role.name }}"
                                                   data-name="{% if user.username %}{{ user.username }}{% else %}{{ user.name }}{% endif %}"
                                                   {% if role.name in user.roles %}checked{% endif %} />
                                            </label>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr />
                    {% endif %}
                </div> <!-- end tabpane2 -->
            </div><!-- end tabcontent -->
        </div>
    </div>
{% endmacro %}