{% extends 'scs/base.html' %}
{% load macros %}
{% loadmacros 'scs_resources/manage_resource_macro.html' %}
{% load scs_extras %}
{%  block title %} Dashboard {% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="/static/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/font-awesome-ie7.min.css">
    <![endif]-->
    <style>
    .select2-container.select2-container-multi {
        width: 200px !important;
    }
    </style>
{% endblock %}

{%  block content %}
<div>
    <ul class="nav nav-pills">
      <li class="active">
          <a>
          My Data
          </a>
      </li>
    </ul>
    {% if datas|length == 0 %}
    <div class="alert alert-info">
        <span> you don't have data yet.</span>
    </div>
    {% endif %}
    {%for resource in datas%}
        {% usemacro resource_render resource %}
    {% endfor %}

    <ul class="nav nav-pills">
        <li class="active">
            <a>
                My Applications
            </a>
        </li>
    </ul>
    {% if applications|length == 0 %}
        <div class="alert alert-info">
            <span> you don't have applications yet.</span>
        </div>
    {% endif %}
    {%for resource in applications%}
        {% usemacro resource_render resource %}
    {% endfor %}

    <ul class="nav nav-pills">
        <li class="active">
            <a>
                My Workflows
            </a>
        </li>
        <li style="float: right;margin-left: 10px;" >
            <button class="btn btn-primary" >
                <a style="color:#ffffff;" href="/workflows/new/">Upload new workflow</a>
            </button>
        </li>

        <li style="float: right;margin-left:5px;" >
            <button class="btn btn-primary" >
                <a target="_blank" style="color:#ffffff;" href="http://onlinehpc.com/wizard/workflow/">Taverna Online</a>
            </button>
        </li>
    </ul>
    {% if workflows|length == 0 %}
        <div class="alert alert-info">
            <span> you don't have workflow yet.</span>
        </div>
    {% endif %}
    {%for resource in workflows%}
        {% usemacro resource_render resource %}
    {% endfor %}
</div>
<script type="text/javascript">

    (function() {
        var global = this;
        var $ = global.$;
        var console = global.console || {log:function() {}};


        var ManageModal = global.ManageModal = function(element, options) {
            this.inizialize($(element));
        };

        ManageModal.prototype.inizialize = function(manageModal){
            var self = this;
            this.$globalId = manageModal.data('globalid');
            this.$editDescriptionBtn = manageModal.find('#edit-description-btn');
            this.$description = manageModal.find('#edit-description-textarea');
            this.$updateDescriptionBtn = manageModal.find('#update-description');
            this.$editDescriptionForm = manageModal.find('#edit-description-form');
            this.$tag = manageModal.find('.tag');
            this.$removeTag = manageModal.find('#remove-tag');
            this.$enterTagForm = manageModal.find('#enter-tag-form');
            this.$enterTagBtn = manageModal.find('#enter-tag-btn');
            this.$tagInput = manageModal.find('#enter-tag-input');
            this.$updateTagBtn = manageModal.find('#update-tag');
            this.$modalDescription = manageModal.find('#modal-description');
            this.$alert = manageModal.find('.alert');

            this.$editDescriptionBtn.click(function(e){self.editDescription(e);});
            this.$updateDescriptionBtn.click(function(e){self.updateDescription(e);});
            this.$removeTag.click(function(e){self.removeTag(e,$(this).parent('.tag-label').find('.tag'));});
            this.$enterTagBtn.click(function(e){self.enterTag(e);});
            this.$updateTagBtn.click(function(e){self.updateTag(e);});

        };

        ManageModal.prototype.alert = function(message,style){
            style = "alert-"+style;

            this.$alert.find('#modal-message').text(message);
            this.$alert.addClass(style);
            this.$alert.fadeIn().delay(3000).fadeOut(1000, function(){
                $(this).removeClass(style).find('#modal-message').text('');
            });
        };

        ManageModal.prototype.editDescription = function(e){
            this.$editDescriptionBtn.hide();
            this.$modalDescription.hide();
            this.$editDescriptionForm.show();
        };

        ManageModal.prototype.updateDescriptionError = function(e){
            this.$editDescriptionBtn.show();
            this.$modalDescription.show();
            this.$editDescriptionForm.hide();
            this.alert("Error! Service don't not accept your request.","error");
            this.$updateDescriptionBtn.button('reset');
        };

        ManageModal.prototype.updateDescriptionCallBack = function(e){
            this.$modalDescription.text(this.$description.val());
            this.$editDescriptionBtn.show();
            this.$modalDescription.show();
            this.$editDescriptionForm.hide();
            this.alert("Done! Description updated.","success");
            this.$updateDescriptionBtn.button('reset');
        };

        ManageModal.prototype.updateDescription = function(e){
            this.$updateDescriptionBtn.button('loading');
            var self = this;
            var description = this.$description.val();

            $.ajax('/update_description/', {
                data: {global_id:self.$globalId, description: description},
                type: 'POST',
                success: function(data) { self.updateDescriptionCallBack(data); },
                error: function(data) { self.updateDescriptionError(data); }
            });
        };

        ManageModal.prototype.removeTagError = function(e){
            this.alert("Error! Service don't accept your request.","error");
        };

        ManageModal.prototype.removeTagCallBack = function(e, tag){
            tag.parent('.tag-label').remove();
            this.alert("Done! Tag removed.","success");
        };

        ManageModal.prototype.removeTag = function(e, tag){
            var self = this;
            var removedTag = tag.text();

            $.ajax('/delete_tag/', {
                data: {global_id:self.$globalId, tag: removedTag},
                type: 'POST',
                success: function(data) { self.removeTagCallBack(data, tag); },
                error: function(data) { self.removeTagError(data); }
            });
        };

        ManageModal.prototype.enterTag = function(e){
            this.$enterTagBtn.hide();
            this.$enterTagForm.show();
        };

        ManageModal.prototype.updateTagError = function(e){
            this.$enterTagBtn.show();
            this.$enterTagForm.hide();
            this.alert("Error! Service don't not accept your request.","error");
            this.$updateTagBtn.button('reset');
        };

        ManageModal.prototype.updateTagCallBack = function(tag){
            var self = this;
            var newTag = $("<span class=\"label tag-label\" style=\"vertical-align: middle;margin-right: 5px;\"><div class=\"tag pull-left\">"+tag+"</div><div id=\"remove-tag\" type=\"button\" class=\"close pull-rigth\" style=\"margin-left:5px;line-height: 14px\">×</div></span>");
            newTag.insertBefore(this.$enterTagBtn);
            newTag.find('#remove-tag').click(function(e){self.removeTag(e,$(this).parent('.tag-label').find('.tag'));});
            this.$enterTagBtn.show();
            this.$enterTagForm.hide();
            this.alert("Done! Tags updated","success");
            this.$updateTagBtn.button('reset');
        };

        ManageModal.prototype.updateTag = function(e){
            this.$updateTagBtn.button('loading');
            var self = this;
            var tag = this.$tagInput.val();

            $.ajax('/update_tag/', {
                data: {global_id:self.$globalId, tag: tag},
                type: 'POST',
                success: function(data) { self.updateTagCallBack(tag); },
                error: function(data) { self.updateTagError(data); }
            });
        };


        ManageModal.autoDiscover = function() {
            $('.manage-modal-data').each(function(index, element) {
                new ManageModal(element);
            });

        };
        ManageModal.autoDiscover();
    }).call(this);

    (function() {
        var global = this;
        var $ = global.$;
        var console = global.console || {log:function() {}};


        var ShareTab = global.ShareTab = function(element, options) {
            this.inizialize($(element));
        };

        ShareTab.prototype.inizialize = function(shareModal){
            var self = this;
            this.$globalId = shareModal.data('globalid');
            this.$localid = shareModal.data('localid');
            this.$csrfmiddlewaretoken = shareModal.find("input[name=csrfmiddlewaretoken]").val();
            this.$shareModal = shareModal;
            this.permissionMap = [];

            shareModal.find('.permissions-map > tr ').each(function(index,element){
                var updating_alert = $(element).find('.updating-alert');

                $(element).find('.roles').click(function(e){
                    updating_alert.show();
                    var rolename =  $(this).data('rolename');
                    var name =  $(this).data('name');
                    if (this.checked){
                        self.grant( name,rolename,0, element)
                    }else{
                        self.grant( name,rolename,1, element)
                    }

                });
            });

            shareModal.find('.pendig-users > tr').each(function(index, element){

                $(element).find('.accept').click(function(e){
                    $(this).hide();
                    $(element).find('.accept-roles').show();
                });

            });

            this.$alert = shareModal.find('.alert');
        };

        ShareTab.prototype.alert = function(message,style){
            style = "alert-"+style;

            this.$alert.find('#modal-message').text(message);
            this.$alert.addClass(style);
            this.$alert.fadeIn().delay(3000).fadeOut(1000, function(){
                $(this).removeClass(style).find('#modal-message').text('');
            });
        };


        ShareTab.prototype.grant = function(setTo, roleToset, method, element){
            var self = this;
            var urls = ['/grantrole', '/revokerole'];
            var url = urls[method];
            $.ajax({
                dataType: "json",
                url: url,
                method: 'get',
                data: {name: setTo, role: roleToset, csrfmiddlewaretoken: self.$csrfmiddlewaretoken, global_id: self.$globalId},
                success: function(data){
                    $(element).find('.updating-alert').hide(); $(element).find('.updating-ok').show().delay(10000).hide();},
                error: function(data){
                    $(element).find('.updating-alert').hide(); $(element).find('.updating-error').show().delay(10000).hide();}
            });
        };


        ShareTab.autoDiscover = function() {
            $('.share-pannel').each(function(index, element) {
                new ShareTab(element);
            });

        };
        ShareTab.autoDiscover();
    }).call(this);
</script>

{% endblock %}
