{% load scs_extras %}
<div id="modal-{{ resource.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-{{ resource.id }}-label" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <span class="icon icon-cog pull-left" style="padding-right: 10px;zoom: 2.3;"></span>
    <div id="modal-{{ resource.id }}-label"><p><b>Manage</b></p><p>{{ resource.title }}</p></div>
</div>
<div data-globalid="{{ resource.global_id }}" class="modal-body manage-modal-data">
    <div class="alert hide">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span id="modal-message"></span>
    </div>
    <ul class="unstyled modal-list">
        <li>Description: <span id="modal-description">{{ resource.metadata.description }}</span>
            <button id="edit-description-btn" class="btn btn-mini">edit</button>
            <span id="edit-description-form" class="input-append hide" style="margin-bottom: 0px;">
                <textarea id="edit-description-textarea" class="input-size-mini">{{ resource.metadata.description }} </textarea>
                <button id="update-description" class="btn btn-mini" type="button" data-loading-text="Updating...">update</button>
            </span>
        </li>
    {% with  resource.metadata.tags|split:" " as tags%}
        <li>Tags:
            {% for tag in tags %}
                <span class="label tag-label" style="vertical-align: middle;margin-right: 5px;"><div class="tag pull-left">{{ tag }}</div><div id="remove-tag" type="button" class="close pull-rigth" style="margin-left:5px;line-height: 14px">×</div></span>
            {% endfor %}
            <button id="enter-tag-btn" class="btn btn-mini">Enter tag</button>
            <span id="enter-tag-form" class="input-append hide" style="margin-bottom: 0px;"><input id="enter-tag-input" type="text" class="input-medium input-size-mini"><button id="update-tag" class="btn btn-mini" type="button" data-loading-text="Updating...">update</button></span>
        </li>
        <li>Licence: <span class="label" style="margin-right: 5px;">{{ resource.metadata.licence }}</span> <button class="btn btn-mini">Upload licence</button></li>
        <li>Views: {{ resource.metadata.views }}</li>
    {% endwith %}
    </ul>
    <div class="row-fluid" style="font-size: 13px;"><div class="span4">Published: {{ resource.metadata.creation_date|strTodate|date:"SHORT_DATE_FORMAT" }} </div><div class="span4">Category: {{ resource.metadata.category }}</div><div class="span4">Type: {{ resource.metadata.type }}</div></div>
</div>
</div>