{% extends 'scs/base.html' %}

{% load scs_extras %}

{%  block title %} {{ resource.metadata.name }} {% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="/static/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/font-awesome-ie7.min.css">
    <![endif]-->
    <style>
    .select2-container.select2-container-multi {
        width: 200px !important;
    }
    </style>
{% endblock %}

{% if resource|is_active or request.user|can_manage:resource %}
    {% block breadcrumbs %}
        <div id="breadcrumbs-wrapper">
            <ul id="breadcrumbs" class="breadcrumb">
                <li><a href="/" title="Home">home</a><span class="divider">|</span></li>

                <li><a href="/resources/" title="resources">resources</a><span class="divider">|</span></li>

                <li class="active"><a href="/resources/{{ resource.global_id }}/" title="{{ resource.metadata.name }}">{{ resource.metadata.name }}</a></li>

            </ul>
        </div>
    {% endblock %}
{% endif %}
    {%  block content %}
        {% if user|can_manage:resource%}
            <div id="{{ resource.id }}"  class="resource well well-small">
            <div class="row">
                <div  class="span3">
                    {{ resource.metadata.name }}
                </div>
                <div class="span5">
                    {% if user.is_authenticated %}Owner: {{ resource.metadata.author }} |{% endif %} Updated: {{ resource.metadata.metadataUpdateDate|strTodate|date:"SHORT_DATE_FORMAT" }}
                </div>

                <div class="span3">
                    <a  id="link-button" class="btn btn-info " title="Open in new tab" href="/resources/{{ resource.global_id }}" style="color:#ffffff;" target="_blank"><i class="icon-external-link"></i></a>
                    {% if user|can_edit:resource %}
                    <a id="link-button"  class="btn btn-info" title="Edit metadata" href="/resources/edit/{{ resource.global_id }}/" style="color:#ffffff;" target="_blank"><i class="icon-edit"></i></a>
                        {% if resource.metadata.type == "Workflow"%}
                            <a id="details-button" class="btn btn-info accordion-toggle" title="Edit workflow in Taverna Online"  href="http://onlinehpc.com/workflows/editor?provider=vphshare&workflowId={{ resource.global_id }}&login=true" target="_blank">
                               <i class="icon-edit"></i> T.O.
                            </a>
                        {% endif%}
                    {% endif %}
                    <a id="details-button" class="btn btn-warning  accordion-toggle" title="Show details" data-toggle="collapse" href="#{{ resource.id }}-details">
                        <i class="icon-reorder"></i>
                    </a>
                    {% if user|can_manage:resource %}
                        {% if resource.requests and resource.requests|length > 0 %}<span class="badge badge-important"><strong>!</strong></span>{% endif %}
                    {% endif %}
                    Manage here!
                </div>
            </div>
            <div id="{{ resource.id }}-details" class="accordion-body collapse {% if resource.global_id in collapse %}in{% endif %}">
                <ul class="nav nav-tabs" id="details-tab">
                    <li  data-target="#{{ resource.id }}-metadata" data-get="{{ BASE_URL }}/dashboard/details/{{ resource.global_id }}/"   class="active">
                        <a href="#{{ resource.id }}-metadata" data-toggle="tab">Details</a>
                    </li>
                    {% if user|can_manage:resource %}
                    <li data-target="#{{ resource.id }}-share" data-get="{{ BASE_URL }}/dashboard/share/{{ resource.global_id }}/"  class="{% if resource.global_id in collapse %}active{% endif %}">
                        <a href="#{{ resource.id }}-share" data-toggle="tab">Share</a>
                    </li>
                    {% endif %}
                    <script>
                        $(function(){
                            $('#{{ resource.id }}-details > ul > li').each(function(index, element) {
                                new LoadDashboard(element);
                            });
                            var start = true;
                            $('#{{ resource.id }}-details').on('shown', function(){
                                if (start)
                                    $('#{{ resource.id }}-details > ul > li').first().click();
                                start = false;
                            })
                        });
                    </script>
                </ul>
                <div class="tab-content">
                <div class="alert hide">
                    <span id="modal-message"></span>
                </div>
                    <div data-globalid="{{ resource.global_id }}" style="min-height: 100px;" class="tab-pane active manage-modal-data" id="{{ resource.id }}-metadata">
                    &nbsp
                    </div>
                    {% if user|can_manage:resource %}
                    <div   data-globalid="{{ resource.global_id }}" data-localid="{{ resource.id }}" style="min-height: 100px;" class="tab-pane share-pannel" id="{{ resource.id }}-share">
                    &nbsp
                    </div> <!-- end tabpane2 -->
                    {% endif %}
                </div><!-- end tabcontent -->
            </div>
            </div>
            <script type="text/javascript">

                (function() {
                    var global = this;
                    var $ = global.$;
                    var console = global.console || {log:function() {}};
                    var atomicRequest = global.atomicRequest = false;

                    var LoadDashboard = global.LoadDashboard = function(element, options) {
                        this.inizialize($(element));
                    };

                    LoadDashboard.prototype.inizialize = function(loadDashboard){
                        var self = this;
                        this.$target = $(loadDashboard.data('target'));
                        this.$getURL = loadDashboard.data('get');
                        this.$loadDashboard = loadDashboard;
                        this.$loading = '<div class="loading">Loading&#8230;</div>';
                        self.$atomic = false;
                        self.$page = 1;
                        atomicRequest = false;
                        loadDashboard.bind('click', function(){
                                    if (atomicRequest != false)
                                        atomicRequest.abort();
                                        atomicRequest = false;

                                    if (atomicRequest === false) {
                                        if($(this).hasClass('resource-tab')){
                                            $('.resource-tab').removeClass('active');
                                            $(this).addClass('active');
                                        }
                                        atomicRequest = true;
                                        self.get();
                                    }
                                    return true;
                                }
                        );
                        if (loadDashboard.hasClass('resource-tab')){
                            $(window).scroll(function() {
                                if($(window).scrollTop() + $(window).height() >= $('.resource:last').position().top+300 && self.$atomic == false && loadDashboard.hasClass('active') ) {
                                    self.$atomic = true;
                                    self.$page += 1;
                                    self.next();
                                }
                            });
                        }
                    };

                    LoadDashboard.prototype.alert = function(message,style){
                        style = "alert-"+style;
                        var alert = this.$target.parent().find('.alert');
                        alert.find('#modal-message').text(message);
                        alert.addClass(style);
                        alert.fadeIn().delay(3000).fadeOut(1000, function(){
                            $(this).removeClass(style).find('#modal-message').text('');
                        });
                    };

                    LoadDashboard.prototype.loading = function(){
                        var self = this;
                        $('.loading').remove();
                        this.$target.append(this.$loading);
                    };

                    LoadDashboard.prototype.getCallBack = function(data,self){
                        $('.loading').remove();
                        this.$target.append(data['data']);
                        if (data['data'].trim() != "")
                            this.$atomic = false;
                        atomicRequest = false;
                    };

                    LoadDashboard.prototype.next = function(){
                        var self = this;
                        self.loading();
                        atomicRequest=$.ajax(self.$getURL+self.$page, {
                            type: 'GET',
                            success: function(data) { self.getCallBack(data,self); },
                            error: function(data) { $('.loading').remove();
                        atomicRequest = false;self.$atomic = false;self.alert('Metadata Service return an error.Try later.','error'); }
                        });
                    };

                    LoadDashboard.prototype.get = function(){
                        var self = this;
                        this.$target.empty();
                        self.loading();
                        atomicRequest=$.ajax(self.$getURL, {
                            type: 'GET',
                            success: function(data) { self.getCallBack(data,self); },
                            error: function(data) { $('.loading').remove();
                        atomicRequest = false;self.alert('Metadata Service return an error.Try later.','error'); }
                        });
                    };


                    LoadDashboard.autoDiscover = function() {
                        $('.resource-tab').each(function(index, element) {
                            new LoadDashboard(element);
                        });

                    };
                    LoadDashboard.autoDiscover();
                }).call(this);

                (function() {
                    var global = this;
                    var $ = global.$;
                    var console = global.console || {log:function() {}};


                    var ShareTab = global.ShareTab = function(element, options) {
                        this.inizialize($(element));
                    };

                    ShareTab.prototype.inizialize = function(shareModal){
                        var self = this;
                        this.$globalId = shareModal.data('globalid');
                        this.$localid = shareModal.data('localid');
                        this.$csrfmiddlewaretoken = shareModal.find("input[name=csrfmiddlewaretoken]").val();
                        this.$shareModal = shareModal;
                        this.permissionMap = [];

                        shareModal.find('.permissions-map > tr ').each(function(index,element){
                            var updating_alert = $(element).find('.updating-alert');

                            $(element).find('.roles').click(function(e){
                                updating_alert.show();
                                var rolename =  $(this).data('rolename');
                                var name =  $(this).data('name');
                                if (this.checked){
                                    self.grant( name,rolename,0, element)
                                }else{
                                    self.grant( name,rolename,1, element)
                                }

                            });
                        });

                        shareModal.find('#accept-request').find('input[type=submit]').click(function(e){
                            e.preventDefault();
                            var self = $(this);
                            form = self.closest('form');
                            var formData = form.serializeArray();
                            formData.push({ name: self.attr('name'), value: self.val() });
                            $.ajax( {
                              type: "POST",
                              url: form.attr( 'action' ),
                              data: formData,
                              success: function( response ) {
                                    self.parents('.accordion-body').find('#details-tab >li')[1].click();
                                    return false;
                              }
                            } );
                            return false;
                        });


                        shareModal.find('#newshare').submit(function(e){
                            e.preventDefault();
                            var form = $(this);
                            $.ajax( {
                              type: "POST",
                              url: form.attr( 'action' ),
                              data: form.serialize(),
                              success: function( response ) {
                                    self.$shareModal.parents('.accordion-body').find('#details-tab >li')[1].click();
                              }
                            } );
                        });

                        shareModal.find('.reject-request').submit(function(e){
                            e.preventDefault();
                            var form = $(this);
                            $.ajax( {
                              type: "POST",
                              url: form.attr( 'action' ),
                              data: form.serialize(),
                              success: function( response ) {
                                    self.$shareModal.parents('.accordion-body').find('#details-tab >li')[1].click();
                              }
                            } );
                        });


                        shareModal.find('.pendig-users > tr').each(function(index, element){

                            $(element).find('.accept').click(function(e){
                                $(this).hide();
                                $(element).find('.accept-roles').show();
                            });

                        });

                        this.$alert = shareModal.find('.alert');
                    };

                    ShareTab.prototype.alert = function(message,style){
                        style = "alert-"+style;

                        this.$alert.find('#modal-message').text(message);
                        this.$alert.addClass(style);
                        this.$alert.fadeIn().delay(3000).fadeOut(1000, function(){
                            $(this).removeClass(style).find('#modal-message').text('');
                        });
                    };


                    ShareTab.prototype.grant = function(setTo, roleToset, method, element){
                        var self = this;
                        var urls = ['/grantrole', '/revokerole'];
                        var url = urls[method];
                        $.ajax({
                            dataType: "json",
                            url: url,
                            method: 'get',
                            data: {name: setTo, role: roleToset, csrfmiddlewaretoken: self.$csrfmiddlewaretoken, global_id: self.$globalId},
                            success: function(data){
                                $(element).find('.updating-alert').hide(); $(element).find('.updating-ok').show().delay(10000).hide();},
                            error: function(data){
                                $(element).find('.updating-alert').hide(); $(element).find('.updating-error').show().delay(10000).hide();}
                        });
                    };


                    ShareTab.autoDiscover = function() {
                        $('.share-pannel').each(function(index, element) {
                            new ShareTab(element);
                        });

                    };
                    ShareTab.autoDiscover();
                }).call(this);
            </script>
        {% endif %}
        <iframe id="render-frame" class="paraviewweb-player hide" type="text/html" style="border: 1px solid;height: 400px;width: 100%;"  frameborder="0" src=""></iframe>
        <div id="detail-row" class="row-fluid">
        {% if resource|is_active or request.user|can_manage:resource %}
            <div id="alert-container"></div>
            <div class="span7">
                <div class="resource-title">
                    <h2> {{ resource.metadata.name }}</h2>
                    {% if request.user|can_read:resource %}
                        <dl class="dl-horizontal">
                            <dt>Rating:</dt>
                            <dd><fieldset class="rating">
                                <input  type="radio" id="star5" name="rating" value="5" class="rate"  {% if resource.metadata.rating >= 4.5 and resource.metadata.rating <= 5 %}checked{% endif %} /><label for="star5" title="Rocks!">5 stars</label>
                                <input  type="radio" id="star4" name="rating" value="4" class="rate" {% if resource.metadata.rating >= 3.5 and resource.metadata.rating < 4.5 %}checked{% endif %} /><label for="star4" title="Pretty good">4 stars</label>
                                <input  type="radio" id="star3" name="rating" value="3" class="rate" {% if resource.metadata.rating >= 2.5 and resource.metadata.rating < 3.5 %}checked{% endif %} /><label for="star3" title="Meh">3 stars</label>
                                <input  type="radio" id="star2" name="rating" value="2" class="rate" {% if resource.metadata.rating >= 1.5 and resource.metadata.rating < 2.5 %}checked{% endif %} /><label for="star2" title="Kinda bad">2 stars</label>
                                <input  type="radio" id="star1" name="rating" value="1" class="rate" {% if resource.metadata.rating >= 0 and resource.metadata.rating < 1.5 %}checked{% endif %} /><label for="star1" title="Sucks big time">1 star</label>
                            </fieldset><span id="rate-message" class="hide badge badge-info">Thank you for your vote!</span></dd>
                            <script type="application/javascript">
                                (function() {
                                    var global = this;
                                    var $ = global.$;
                                    var rateresource = global.rateresource = function(input){
                                        var self = this;
                                        var rate = input.val()
                                        $.ajax('{{ BASE_URL }}/resources/{{ resource.global_id }}/rate/'+rate+'/', {
                                            type: 'GET',
                                            success: function() {
                                                $('#rate-message').show();
                                                return true;
                                            },
                                            error: function() { return true; }
                                        });
                                    };

                                    $('.rate').click(function(e){

                                        rateresource($(this));
                                    });

                                }).call(this);
                            </script>
                             <style>
                                 .rating:not(:checked) > label {
                                    cursor:pointer;
                                }
                                .rating:not(:checked) > label:hover,
                                .rating:not(:checked) > label:hover ~ label {
                                    color: gold;
                                    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
                                }

                                .rating > input:checked + label:hover,
                                .rating > input:checked + label:hover ~ label,
                                .rating > input:checked ~ label:hover,
                                .rating > input:checked ~ label:hover ~ label,
                                .rating > label:hover ~ input:checked ~ label {
                                    color: #ea0;
                                    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
                                }
                                .rating > label:active {
                                    position:relative;
                                    top:2px;
                                    left:2px;
                                }
                             </style>
                        </dl>
                    {% else %}
                        <dl class="dl-horizontal">
                            <dt>Rating:</dt>
                            <dd><fieldset class="rating">
                                <input disabled  type="radio" id="star5" name="rating" value="5"  {% if resource.metadata.rating >= 4.5 and resource.metadata.rating <= 5 %}checked{% endif %} /><label for="star5" title="Rocks!">5 stars</label>
                                <input disabled type="radio" id="star4" name="rating" value="4"  {% if resource.metadata.rating >= 3.5 and resource.metadata.rating < 4.5 %}checked{% endif %} /><label for="star4" title="Pretty good">4 stars</label>
                                <input disabled type="radio" id="star3" name="rating" value="3"  {% if resource.metadata.rating >= 2.5 and resource.metadata.rating < 3.5 %}checked{% endif %} /><label for="star3" title="Meh">3 stars</label>
                                <input disabled type="radio" id="star2" name="rating" value="2"  {% if resource.metadata.rating >= 1.5 and resource.metadata.rating < 2.5 %}checked{% endif %} /><label for="star2" title="Kinda bad">2 stars</label>
                                <input disabled type="radio" id="star1" name="rating" value="1"  {% if resource.metadata.rating >= 1.0 and resource.metadata.rating < 1.5 %}checked{% endif %} /><label for="star1" title="">1 star</label>
                            </fieldset></dd>
                        </dl>
                    {% endif %}
                    <dl class="dl-horizontal">
                        <dt>Description</dt>
                        <dd>{% autoescape off %}{{ resource.metadata.description|urlizetrunctarget:60000 }}{% endautoescape %}</dd>
                    </dl>

                </div>
                <div class="resource-details">
                    <dl class="dl-horizontal">
                        <dt>Created:</dt>
                        <dd>&nbsp{{ resource.metadata.creationDate|strTodate|date:"DATETIME_FORMAT" }}</dd>
                        <dt>Last update:</dt>
                        <dd>&nbsp{{ resource.metadata.updateDate|strTodate|date:"DATETIME_FORMAT" }}</dd>
                        <dt>Status:</dt><dd>&nbsp{% if resource|is_active %} published{% else %} not published{% endif %}</dd>
                        {% if resource.metadata.format %}<dt>Format:</dt><dd>&nbsp{{ resource.metadata.format }}</dd>{% endif %}
                        {% if resource.metadata.semanticWebServiceType %}<dt>SWS type:</dt><dd>&nbsp{{ resource.metadata.semanticWebServiceType }}</dd>{% endif %}
                        <br/>
                        {% if resource.metadata.relatedResources %}
                            <dt>Related Resources:</dt>
                            {% for related in resource.metadata.relatedResources %}<dd>&nbsp<a target="_blank" href="{{ BASE_URL }}/resources/{{ related.0 }}">{{ related.1|safe }}</a></dd>{% endfor %}
                        {% endif %}
                        <dt>Annotations:</dt>
                            {% for annotation  in resource.metadata.semanticAnnotations %}
                                <dd>&nbsp<span class="label">{{ annotation.conceptURI }}</span></dd>
                            {% empty %}
                                <dd>&nbsp This resource has not semantic annotations.</dd>
                            {% endfor %}
                        {% if resource.metadata.linkedTo %}
                            <dt>Additional contents:</dt>
                            {% for link in resource.metadata.linkedTo  %}
                                <dd>&nbsp<a target="_blank" href="{{ link.linkURI }}">{{ link.linkType }}</a></dd>
                            {% endfor %}
                        {% endif  %}
                    </dl>
                </div>
                <div id="endpointDetails" style="visibility: hidden;">
                    <p style="margin-bottom: 10px;">Available endpoints:</p>
                    <dl class="dl-horizontal">

                    </dl>
                </div>
            </div>
            <div class="span4">
                <div class="resource-actions">
                    <ul class="inline"><li><strong>Type:</strong></li><li><span class="label"><a target="_blank" href="/search/?search_text=*&amp;types={{ resource.metadata.type }},">{{ resource.metadata.type }}</a></span></li></ul>
                    <ul class="inline"><li><strong>Views:</strong></li><li> {{ resource.metadata.views }}</li></ul>
                    {% if resource.metadata.category %}
                        <ul class="inline"><li><strong>Category:</strong></li><li><span class="label"><a target="_blank" href="/search/?search_text=*&amp;category={{ resource.metadata.category }},">{{ resource.metadata.category }}</a></span></li></ul>
                    {% endif %}
                    {% with  resource.metadata.tags|split:"," as tags%}
                        <ul class="inline">
                            <li><strong>Tags</strong></li>
                            {% for tag in tags %}
                                <li><span class="label"><a target="_blank" href="/search/?search_text=*&amp;tags={{ tag }},">{{ tag }}</a></span></li>
                            {% endfor %}
                        </ul>
                    {% endwith %}
                    <br /> <br />
                    {% if resource.metadata.licence %}
                        <p><strong>Licence:</strong></p>
                        <ul class="inline">
                            <li><span class="label">
                                {% if resource.metadata.licence == "BSD" %}
                                    <a taget="_blank" href="http://en.wikipedia.org/wiki/BSD_licenses">{{ resource.metadata.licence }}</a>
                                {% elif resource.metadata.licence == "MIT"  %}
                                    <a taget="_blank" href="http://opensource.org/licenses/MIT">{{ resource.metadata.licence }}</a>
                                {% elif resource.metadata.licence == "GPL"  %}
                                    <a taget="_blank" href="https://www.gnu.org/copyleft/gpl.html">{{ resource.metadata.licence }}</a>
                                {% elif resource.metadata.licence == "LGPL"  %}
                                    <a taget="_blank" href="https://www.gnu.org/licenses/lgpl.html">{{ resource.metadata.licence }}</a>
                                {% elif resource.metadata.licence == "EULA"  %}
                                    <a taget="_blank" href="http://en.wikipedia.org/wiki/End-user_license_agreement">{{ resource.metadata.licence }}</a>
                                {% elif resource.metadata.licence == "OLP"  %}
                                    <a taget="_blank" href="http://webobjects.cdw.com/webobjects/docs/pdfs/ms_openlicense20programguide.pdf">{{ resource.metadata.licence }}</a>
                                {% elif resource.metadata.licence == "TLP"  %}
                                    <a taget="_blank" href="http://www.dell.com/learn/us/en/555/vsl-adobe-licensing-tlp">{{ resource.metadata.licence }}</a>
                                {% elif resource.metadata.licence == "VLP"  %}
                                    <a taget="_blank" href="http://www.ni.com/services/vlp.htm">{{ resource.metadata.licence }}</a>
                                {% else %}
                                   {{ resource.metadata.licence }}
                                {% endif %}
                            </span></li>
                        </ul>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    {% if request.user|can_read:resource%}
                        {% if resource.workflow and resource.workflow.t2flow %}
                            <form action="/workspace/create" enctype="multipart/form-data" method="get">
                            {% csrf_token %}
                            <input type="hidden" name="workflow_id" value="{{ resource.workflow.id }}"/>
                            <input type="submit" target="_blank"  class="btn btn-block btn-large btn-success" value="Configure to execute"/><br/>
                            </form>
                        {% endif %}
                        {% if resource.metadata.type == "SemanticWebService" %}
                                <script type="text/javascript" src="/static/jquery.zclip.min.js"></script>
                                <script type="text/javascript">

                                $(document).ready(function(){

                                    $('a#copy-description').zclip({
                                        path:'/static/ZeroClipboard.swf',
                                        copy:$('div#copy').text(),
                                        afterCopy:function(){
                                            $('#copied-message').removeClass("invisible");
                                            $(this).preventDefault();
                                        }
                                    });

                                });
                                </script>
                            <a class="btn btn-block btn-large btn-success" id="copy-description" href="#copied">Copy endpoint to clipboard</a><br/><span id="copied-message" class="invisible badge badge-info">COPIED!</span>
                            <div id="copy" class="copy hide">{{ resource.metadata.semanticWebServiceURL }}</div>
                        {% elif resource.metadata.type == "Dataset" %}
                            <a target="_blank" href="{% if not resource.metadata.explore %}##{% endif %}{{ resource.metadata.explore }}" class="btn btn-block btn-large btn-success {% if not resource.metadata.explore %}disabled{% endif %}">{% if resource.metadata.explore %}Explore Dataset{% else %}Explore not available{% endif %}</a>
                            <a  href="/query_builder/{{ resource.global_id }}/" class="btn btn-block btn-large btn-success">Query the dataset</a>
                        {% elif resource.metadata.type == "AtomicService" or resource.metadata.type == "Atomic Service" %}
                            <a  href="{{ BASE_URL }}/applications/#startInstance?{{ resource.metadata.localID }}" class="btn btn-block btn-large btn-success">Start application</a>
                        {% elif resource.metadata.type == "Workflow" %}
                            {% if resource.workflow.t2flow %}
                                <a target="_blank" href="{{  resource.workflow.t2flow.url }}" class="btn btn-block btn-large btn-success">Download workflow file</a>
                                <a  href="http://onlinehpc.com/workflows/editor?provider=vphshare&workflowId={{ resource.global_id }}&login=true" target="_blank" class="btn btn-block btn-large btn-success"><i class="icon-external-link"></i>Edit in Taverna Online</a>
                                {% if resource.workflow.xml %}
                                    <a target="_blank" href="{{  resource.workflow.xml.url }}" class="btn btn-block btn-large btn-success">Download input file</a>
                                {% endif %}
                            {% endif %}
                        {% elif resource.metadata.type == "File"%}
                            {% if resource.metadata.lobcderPath %}
                                {% if resource.metadata.fileType == "folder" %}
                                    <a  href="{{ BASE_URL }}/filestore#show?{{ resource.metadata.lobcderPath }}/" class="btn btn-block btn-large btn-success">Go to folder</a>
                                {% else %}
                                    <a  href="{{ BASE_URL }}/filestore#show?{{ resource.metadata.lobcderPath }}" class="btn btn-block btn-large btn-success">Go to file</a>
                                {% endif %}
                                {% if resource.metadata.format == 'vtk' %}
                                    <button id="preview-button" class="btn btn-info btn-block btn-large"  onclick="getDataPath('{{ resource.metadata.lobcderPath  }}','');" data-path="{{ entry.path }}" title="Preview">
                                        Preview
                                    </button>
                                    <button id="preview-loading" class="btn btn-info btn-block btn-large disabled hide"  title="Loading...">
                                        <i  class="icon-spinner icon-spin hide"></i> Loading...
                                    </button>
                                {% endif %}
                            {% else %}
                                <button  class="btn btn-error btn-block btn-large disabled" >
                                    The resource is not mapped in lobcder
                                </button>
                            {% endif %}
                        {% endif %}

                    {% else %}
                        {% if not resource.already_requested %}
                        <a id="request-for-sharing-btn" href="#request-{{ resource.id }}" role="button" class="btn btn-block btn-large btn-warning" data-toggle="modal">Request for sharing</a>
                        <!-- Modal -->
                        <div id="request-{{ resource.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Attach a message to your request</h3>
                            </div>
                            <form id="request-for-sharing-form" method="GET" action="/resources/request_for_sharing/">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ resource.id }}" />
                                    <inpu type="hidden"/>
                                    <textarea style="width: 80%;" rows="3" name="message"></textarea>
                                    {% if resource.metadata.relatedResources  and resource.metadata.type == 'Workflow'%}
                                    <hr/>
                                    <span>To execute properly the workflow you requested needs to execute/access other resources: an automatic request for sharing will be sent to those other resources. Please be aware that until all requests have been approved the workflow might not behave correctly.</span>
                                    <ul>
                                        {% for related in resource.metadata.relatedResources %}
                                            <li>
                                                <a target="_blank" href="{{ BASE_URL }}/resources/{{ related.0 }}">{{ related.1|safe }}</a>
                                                <input type="hidden" name="relatedResources" value="{{ related.0 }}"/>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    <button id="request-for-sharing-btn"  aria-hidden="true"  data-dismiss="modal" class="btn btn-primary" onclick="request_for_sharing();">Send request</button>
                                </div>
                            </form>
                        </div>
                        {% else %}
                            <button id="request-for-sharing-btn" class="btn btn-block btn-large btn-warning disabled">You have already requested this resource</button>
                        {% endif %}
                    {% endif %}
                    {% else %}
                        <button class="btn btn-block btn-large btn-danger" onclick="$('#login').popover('show');">Please login to access to this resource</button>
                    {% endif %}
                </div>
            </div>

            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
            <script type="text/javascript">
                var loadingData = false;
                function getDataPath(path, lineNumber){
                    if (loadingData == false){
                        loadingData=true;
                        if ($("#render-frame").is(":visible")){
                            $("#render-frame").fadeOut("slow", function(){
                                $("#detail-row").css("marginTop",'402px');
                                $("#detail-row").animate({marginTop:'0px'});
                            });
                        }
                        $('#preview-button'+lineNumber).hide();
                        $('#preview-loading'+lineNumber).show();
                        $.ajax('/cyfronet/retrivevtk/', {
                            data: { path: path},
                            type: 'POST',
                            success: function(data) {
                                $('#preview-button'+lineNumber).show();
                                $('#preview-loading'+lineNumber).hide();
                                var ext = data['path'].substr(data['path'].lastIndexOf('.') + 1);
                                if ($.inArray(ext, ['mha','nrrd']) != -1){
                                    $("#render-frame").attr("src", "/paraview/slice/?data=" + data['path']);
                                }else if ($.inArray(ext, ['vtk','vtp','ply']) != -1) {
                                    $("#render-frame").attr("src", "/paraview/surface/?data=" + data['path']);
                                }
                                $("#detail-row").animate({marginTop:'402px'}, function(){
                                    $("#detail-row").css("marginTop",'0px');
                                    $("#render-frame").fadeIn("slow");
                                });
                                loadingData=false;
                            },
                            error: function(data) {
                                $('#preview-button'+lineNumber).show();
                                $('#preview-loading'+lineNumber).hide();
                                loadingData=false;
                            }
                        });
                    }
                }
            </script>
            <script type="text/javascript">

                function request_for_sharing(){
                    $("#request-for-sharing-btn").button('loading');
                    var form = $("#request-for-sharing-form");
                    var url = $(form).attr( "action" );
                    var method = $(form).attr("method") || "get"; // default method get
                    var data = $(form).find(":input").serializeArray();

                    $.ajax({
                            dataType: "json",
                            type: method,
                            url: url,
                            data: data,
                            success: RequestForSharingAjaxResponseHandler,
                            error: RequestForSharingAjaxResponseHandler
                        }
                    );

                    $('#new-role').popover('hide');
                }

                function RequestForSharingAjaxResponseHandler(responseText, statusText, xhr, jqform){
                    $("#alert-container").empty();
                    $("<div/>", {
                      "class": "alert fade in " +responseText.alertclass,
                      html: "<button type=\"button\" class=\"close\" data-dismiss=\"alert\">×</button><strong>"+responseText.status+"</strong>   " + responseText.message
                    })
                    .alert()
                    .fadeIn()
                    .delay(3000)
                    .fadeOut(1000, function(){
                            $(this).find('#modal-message').text('');
                    })
                    .appendTo("#alert-container");
                    $("#request-for-sharing-btn").unbind('click');
                    $("#request-for-sharing-btn").addClass('disabled').bind('onclick',function(){return true;}).text('Request sent.');
                }

                $(function() {
                    if('{{ resource.metadata.type }}' == 'AtomicService' && '{{request.ticket}}' != '') {
                        $.ajax({
                            url: '{{ cloudFacadeUrl }}/port_mapping_templates?appliance_type_id={{ resource.metadata.localID }}',
                            dataType: 'json',
                            headers: {'MI-TICKET': '{{request.ticket}}'},
                            success: function(response) {
                                $.each(response.port_mapping_templates, function(index, value) {
                                    $.ajax({
                                        url: '{{ cloudFacadeUrl }}/endpoints?port_mapping_template_id=' + value.id,
                                        dayaType: 'json',
                                        headers: {'MI-TICKET': '{{request.ticket}}'},
                                        success: function(response) {
                                            $.each(response.endpoints, function(index, value) {
                                                $('#endpointDetails').css('visibility', 'visible');
                                                $('#endpointDetails dl').append('<dt><a href="{{ cloudFacadeUrl }}/endpoints/' + value.id + '/descriptor">' + value.name + '</a></dt>');
												$('#endpointDetails dl').append('<dd>' + value.description + '</dd>');
                                            });
                                        }
                                    });
                                });
                            }
                        });
                    }
                });
            </script>
        {% else %}
            <div class="row"><div class="span6"><h3>The requested resource is not available</h3>
            <h6 style="color: black;">
                The owner has not published this resource yet.<br/>
            </h6>
        </div>
        {% endif %}
        </div>
    {% endblock %}
