{% load scs_extras %}


    <ul class="unstyled modal-list">
        <li>Description: <span id="modal-description">{{ resource.metadata.description }}</span></li>
        {% with  resource.metadata.tags|split:"," as tags%}
            <li>Tags:
                {% for tag in tags %}
                    <span class="label tag-label" style="vertical-align: middle;margin-right: 5px;"><div class="tag pull-left">{{ tag }}</div></span>
                {% endfor %}
            </li>
            <li>Licence: <span class="label" style="margin-right: 5px;">{{ resource.metadata.licence }}</span></li>
            <li>Views: {{ resource.metadata.views }}</li>
        {% endwith %}
    </ul>
    {% if user|can_edit:resource %}
        <div class="row-fluid" style="margin-bottom: 5px;">
                <script type="application/javascript">
                (function() {
                    var global = this;
                    var $ = global.$;
                    var publishResoruce = global.publishResoruce = function(btn){
                        var self = this;
                        btn.button('loading');
                        $.ajax('{{ BASE_URL }}/dashboard/publish/{{ resource.global_id }}/', {
                            type: 'GET',
                            success: function() {
                                btn.button('reset');
                                btn.text('Unpublish');
                                btn.attr('title', 'Unpublish resource');
                                btn.unbind('click');
                                btn.click(function(e){
                                    e.preventDefault();
                                    unpublishResoruce(btn);
                                })
                                return true;
                            },
                            error: function() { btn.button('reset');  return true; }
                        });
                    };

                    var unpublishResoruce = global.unpublishResoruce = function(btn){
                        var self = this;
                        btn.button('loading');
                        $.ajax('{{ BASE_URL }}/dashboard/unpublish/{{ resource.global_id }}/', {
                            type: 'GET',
                            success: function() {
                                btn.button('reset');
                                btn.text('Publish');
                                btn.attr('title', 'Publish resource');
                                btn.unbind('click');
                                btn.click(function(e){
                                    e.preventDefault();
                                    publishResoruce(btn);
                                })
                                return true;
                            },
                            error: function() {  btn.button('reset');  return true; }
                        });
                    };

                    $('#publish-button').click(function(e){
                        e.preventDefault();
                        publishResoruce($(this));
                    });

                    $('#unpublish-button').click(function(e){
                        e.preventDefault();
                        unpublishResoruce($(this));
                    });

                }).call(this);
                </script>
            <div class="span2">
                {% if resource.metadata.status == 'Active' or  resource.metadata.status == 'active'%}
                    <button id="unpublish-button"  class="btn btn-info" title="Unpublish resource"  data-loading-text="Sending request..."  style="color:#ffffff;" >Unpublish</button>
                {% else %}
                    <button id="publish-button"  class="btn btn-info" title="Publish resource" data-loading-text="Sending request..."   style="color:#ffffff;" target="_blank">Publish</button>
                {% endif %}
            </div>
            <div class="span2"><a id="link-button"  class="btn btn-info" title="Edit metadata" href="/resources/edit/{{ resource.global_id }}/" style="color:#ffffff;" target="_blank"><i class="icon-edit"></i>Edit metadata</a></div>
        </div>
    {% endif %}
<div class="row-fluid" style="font-size: 13px;"><div class="span4">Created: {{ resource.metadata.creationDate|strTodate|date:"SHORT_DATE_FORMAT" }} </div><div class="span4">Category: {{ resource.metadata.category }}</div><div class="span4">Type: {{ resource.metadata.type }}</div></div>