<div  id="share-{{ resource.id }}" class="share-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-globalid="{{ resource.global_id }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <span class="icon icon-group pull-left" style="padding-right: 10px;zoom: 2.3;"></span>
        <div id="myModalLabel"><p><b>Manage Permissions</b></p><p>{{ resource.metadata.name }}</p></div>
    </div>
    <div class="modal-body" style="overflow-y: visible !important;overflow-x: visible !important;">
        <div class="alert hide">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span id="modal-message"></span>
        </div>
    <dl id="roles-list">
        {% for role in resource.permissions_map %}
        <dt>{{ role.name }}</dt>
        <dd class="well-small granted-role" id="{{ role.name }}" >
            {% for user in role.users %}
                <span id="{{ role.name }}-{{ user.username }}" class="label label-info grant" data-rolename="{{ role.name }}" data-name="{{ user.username }}">
                    {{ user.first_name}} {{ user.last_name}}
                </span>
            {% endfor %}
            {% for group in role.groups %}
                <span id="{{ role.name }}-{{ group.name }}" class="label label-success grant" data-rolename="{{ role.name }}" data-name="{{ group.name }}">
                    {{ group.name }}
                </span>
            {% endfor %}

            <p class="noone {% if  role.users or  role.groups %}hide{% endif %}">No one has been granted to this role yet.</p>

        </dd>
        {% endfor %}
    </dl>
    <br />
        <label>Search for <span class="label label-info can-be-revoked" style="cursor: pointer;">users</span> and <span class="label label-success can-be-revoked" style="cursor: pointer;">groups</span></label>
    <span id="search-usersgroups-form" class="input-append" style="margin-bottom: 0px;"><input id="enter-text-input" type="text" class="input-medium input-size-mini"><button id="search-btn" class="btn btn-mini" type="button" data-loading-text="Searching...">Search</button></span>
    {% csrf_token %}
    <div id="datashare-search-results"  class="datashare-search-results hide">
        <dl>
            <dt>Users and Groups found:</dt>
            <dd id="search-results" class="search-result well-small"></dd>
        </dl>
    </div>
    <hr />
    {% if resource.requests %}
    <h6>Requests</h6>
    <ul class="unstyled">
    {% for r in resource.requests %}
        <li><span class="label label-info grant" data-name="{{ r.requestor.username }}"> {{ r.requestor.first_name}} {{ r.requestor.last_name}} </span>, <span>{{ r.date }}</span></li>
    {% endfor %}
    </ul>
    {% endif %}
    <br />
</div>

</div>
