{% extends 'scs/base.html' %}
{% load scs_extras %}

{% block extrahead %}
    <script src="/static/jquery-scrolltofixed-min.js"></script>
    <link rel="stylesheet" href="/static/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/font-awesome-ie7.min.css">
    <![endif]-->
{% endblock %}

{%  block title %} VPH-Share Workflows {% endblock %}

{% block page-title %}
    <span class="title">Workflows</span>
    <span class="subtitle">the available workflow definition files</span>
{% endblock%}

{%  block content %}
    <div class="row-fluid row-contet ">
    <div class="span9" style="margin-top:15px;">
        <div class="row-fluid" style="padding-bottom: 20px;"><div class="span5"><h6><p><b>Browse Workflows</b></p><p>Browse the list of available workflows.</p></h6></div><div class="span4"><a href="/search/?search_text=&filterby=Workflow,"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo1.png"/></a></div> </div>
        <div class="row-fluid" style="padding-bottom: 20px;"><div class="span5"><h6><p><b>Search Workflows</b></p><p>Search for available workflows.</p></h6></div><div class="span4"><a href="/search/?types=Workflow,"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo1.png"/></a></div> </div>
        {% if request.user.is_authenticated %}
            <div class="row-fluid" style="padding-bottom: 20px;"><div class="span5"><h6><p><b>Upload a new workflow</b></p><p>Upload your new workflow.</p></h6></div><div class="span4"><a href="/workflows/new"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo2.png"/></a></div> </div>
        {% else %}
            <div class="row-fluid" style="padding-bottom: 20px;"><div class="span5"><h6><p><b>Upload a new workflow (login required)</b></p><p>Upload your new workflow.</p></h6></div><div class="span4"><a href="/workflows/new"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo2.png"/></a></div> </div>
        {% endif %}
        {% if request.user.is_authenticated %}
            <div class="row-fluid" style="padding-bottom: 20px;"><div class="span5"><h6><p><b>Dashboard</b></p><p>Manage your workflows, set access permissions, control meta-data tags and view usage statistics.</p></h6></div><div class="span4"><a href="/dashboard/workflow/"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo3.png"/></a></div> </div>
        {% else %}
            <div class="row-fluid" style="padding-bottom: 20px;"><div class="span5"><h6><p><b>Dashboard (login required)</b></p><p>Manage your workflows, set access permissions, control meta-data tags and view usage statistics.</p></h6></div><div class="span4"><a href="/dashboard/"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo3.png"/></a></div> </div>
        {% endif %}
    </div>
         <div class="span2">
            <div class="popover popover-mod">
                <h3 class="popover-title">Documents</h3>
                <div class="popover-content">
                    <p><a href="http://www.vph-share.eu/content/users-manual">User's manual</a></p>
                    <p><a href="/static/VPH-Share_TermsOfUse_1v2.pdf">Terms of use</a></p>
            </div>

            </div>
            <div class="popover popover-mod">
                <h3 class="popover-title">Applications</h3>
                <div class="popover-content">
                    {% if request.user.is_authenticated %}
                        <p><a href="/static/Dps.Setup.x64.msi">Data Publications Suite x64</a></p>
                        <p><a href="/static/Dps.Setup.x86.msi">Data Publications Suite x86</a></p>
                        <p><a href="/static/ANTsPatientData.zip">DPS Test Dataset</a></p>
                    {% else %}
                        <p>Data Publications Suite (login required)</p>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <p><a href="/filestore">Upload unstructured data</a></p>
                    {% else %}
                        <p>Upload unstructured data (login required)</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

