
<html>
<head>
    <meta charset="utf-8">

    <title>
        Login with BiomedTown OpenID provider
    </title>
    <script src="/static/jquery-1.8.3.min.js"></script>
    <script src="/static/jquery.tools.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/bootstrap/bootstrap-responsive.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />

    <script type="text/javascript">

        function closeFrame(){
            var iframe = window.parent.document.getElementById('btloginiframe');
            $(iframe).hide();
            window.parent.location.reload();
        }

        $(document).ready(
                function(){
                    {% if last_login == 'biomedtown' %}
                        closeFrame();
                    {% else %}
                        window.parent.location.replace("/");
                    {% endif %}
                }
        );
    </script>

</head>
<body class="loginbody" style="overflow-y: hidden;">

<br />
<h4> Dear {{ request.user.first_name|default:"Friend"}}, your login attempt has been successful</h4>

</body>
</html>
