
<html>
<head>
    <meta charset="utf-8">

    <title>
       Logout...
    </title>
    <script src="/static/jquery-1.7.1.min.js"></script>
    <script src="/static/jquery.tools.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />


</head>
<body class="logoutbody" style="overflow-y: hidden;">
Logout....
<iframe onload="window.parent.location.replace('/?loggedout');" style="visibility:hidden"  src="http://www.biomedtown.org/logout"  width="100%" height="50px" frameborder="0" align="middle" ></iframe>
<br />

</body>
</html>


