
<div class="windowcontainer" style="overflow-x: scroll;">
    <div class="windowcontainerTitle">Assign Roles to users</div>
    {% if not resultUsers  %}
        <p>No User find.</p>
    {% else %}
    <form  method="POST" id ="users_remove_role" >{% csrf_token %} </form>
    <form method="POST" id ="users_update_role_map" action="{%   url users_update_role_map %}{% if getmail %}?getmail={{ getmail }}{% endif %}">
        {% csrf_token %}
        <table class="tableuserlits">
            <thead>

            <tr><th>Username</th><th>Email</th>
                {% for role in Roles %}
                        {% if request.user.is_superuser %}
                            <th onmouseout="$('#{{role.roleName}}DELETE').hide();" onmouseover="$('#{{role.roleName}}DELETE').show();" onclick="users_remove_role( '{% url users_remove_role %}','{{role.roleName}}');">{{role.roleName}}<img style="position: absolute;padding-left:4px;float: right;" class="invisible" src="/static/delete.png" id="{{role.roleName}}DELETE"></th>
                        {% else%}
                            <th >{{role.roleName}}<img style="position: absolute;padding-left:4px;float: right;" class="invisible" src="/static/delete.png" id="{{role.roleName}}DELETE"></th>
                        {% endif  %}
                {%  endfor %}
            </thead>
            <tbody>
            {% for username , userInfo in resultUsers.items   %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{  username }}</td><td>{{  userInfo.email }}</td>
                    {% for role in Roles %}
                        {% if role.roleName in userInfo.roles %}
                        <td><input  name="{{  role.roleName}}!{{ username }}!{{  userInfo.email }}" type="checkbox" checked ></td>
                        {% else %}
                        <td><input  name="{{  role.roleName}}!{{ username }}!{{  userInfo.email }}" type="checkbox" ></td>
                        {% endif %}
                    {%  endfor %}
            {% endfor %}
            </tbody>
        </table>
        <button onclick="users_update_role_map();" type="button">Update Role Map</button>
    </form>
    {% endif %}
</div>
