/* IMPORTS ------------------------------------------------------------*/

@import url('reset.css');

@import url('styled-elements.css');

/* HACKS ------------------------------------------------------------*/

.clear{
    clear:both;
    height:1px;
}

.inv{ display:none; }

.alignleft{
    float: left;
    margin: 5px 10px 5px 0px;
}

/* GENERAL ------------------------------------------------------------*/

body {
    line-height: 1;
    /*BYE BYE background: url('/static/bg.png') no-repeat top right fixed white;*/
    font-size:  100%;
    margin: 0 0 1px;
    height: 100%;
    /*font-family: 'Inder',sans-serif;*/
    min-height: 768px;

}

#wrapper{
    /*width: 1024px;
    margin: auto;
    background: rgba(255, 255, 255, 0.6);
    min-height: 410px;
    font-size: 14px;
    line-height: 1.5em;
    border-radius: 10px;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;*/
}


#main{
    /*background: #ffffff;
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;*/
}

#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

#content{
    /*min-height: 400px;
    overflow: hidden;
    margin-bottom: 40px;*/
}



#content a{
    color: #37b2d1;
}

#content p{
    margin-bottom: 20px;
}

/* header --------------------------------------------------------*/
header{
    z-index: 10;
    width: 100%;
    margin-left: -30px;
}

header #headline{
    width: 906px;
    font-size: 26px;
    line-height: 1.5em;
    color: #ebe7e7;
    text-align: center;
    padding-top: 25px;
}


#headline a{
    text-decoration: none;
    color: #0072af;
}

#breadcrumbs-wrapper{
    height: 25px;
    margin: 0px auto 10px auto;
}

.breadcrumb li a {
    color: darkgrey;
    text-decoration: none;
}

.breadcrumb li.active a {
    color: #2fa4e7;
    text-decoration: none;
}

header #login {
    position: relative;
    bottom: 30px;
    float:right;
    color: #0072af;
    font-size: 12px;
    margin-right: 40px;
}

header #login a{
    margin-left:5px;
    color:#d3d3d3;
    font-weight: bold;
    text-decoration: none;
    cursor:pointer;
    position:relative;
    top:10px;
}

header #login a img{
    padding-top:5px;
}

#logo-left{
    float: left;
    background-image: url("/static/logo-web.png");
    width: 443px;
    height: 90px;
}
#logo-right{
    position: absolute;
    top: 0px;
    right: 0px;
}

/* TITLE --------------------------------------------------------*/

#page-title-wrapper{

    background: url('/static/square.png') repeat top right, -ms-linear-gradient(left, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 ); /* IE6-9 */
    background: url('/static/square.png') repeat top right, -moz-linear-gradient(right, #c5deea,#066dab); /* Mozilla */
    background: url('/static/square.png') repeat top right, -webkit-gradient(linear, 0 0, 0 100%, from(#c5deea), to(#066dab)); /* Webkit */
    background: url('/static/square.png') repeat top right, -webkit-linear-gradient(top, #c5deea, #066dab); /* Webkit */
    background: url('/static/square.png') repeat top right, linear-gradient(to right, #c5deea 0%,#8abbd7 31%,#066dab 100%); /* W3C */
    height: 90px;
}
#page-title{
    background: transparent;
    text-align: right;
    position:relative;
}

#page-title .title{
    display: block;
    float: left;
    font-size: 30px;
    line-height: 80px;
    margin-left: 100px;
    text-shadow: 0 1px rgba(255, 255, 255, 1);
    color:white;
}

#page-title .subtitle{
    display: block;
    float: left;
    margin-left: 30px;
    line-height: 90px;
    color: #929191;
    font-style: italic;
    color: white;
}


#page-title-links {
    display: block;
    float: right;
    margin-right: 30px;
    padding-top: 39px;
    font-size: 20px;
    color: white;
}

#page-title-links a {
    color: white;
    text-decoration: none;
}
#page-title-links a:hover {
    color: white;
}

#page-title-links button {
    margin-left: 30px;
}


/* NAVBAR  --------------------------------------------------------*/

#navbar-wrapper{
    width: 1170px;
    margin: 0 auto;
}

.navbar {
    margin-bottom: 0px;
}

.navbar .nav > li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

/* HEADERS --------------------------------------------------------*/

h1,h2,h3,h4,h5,h6{
    line-height: 1.4em;
    font-weight: lighter;
}

h1{ font-size: 30px; }

h2{ font-size: 28px; }

h3{ font-size: 26px; }

h4{ font-size: 24px; }

h5{ font-size: 22px; }

h6{ font-size: 17px; }

/* COLUMNS LAYOUT----------------------------------------------------------*/

.one-half,
.one-third,
.two-third,
.three-fourth,
.one-fourth {
    float:left;
    margin-right:30px;
    position:relative;
}

.one-half{ width: 438px; }

.one-third{ width: 282px; }

.one-fourth{ width: 204px; }

.two-third{ width: 594px; }

.three-fourth{ width: 672px; }

.last {
    clear:right;
    margin-right:0 !important;
}


/* SOCIAL --------------------------------------------------------*/

#social-holder{
    overflow: hidden;
    width: 100%;
    padding-top: 40px;
}

.social{
    display: block;
    float: right;
    overflow: hidden;
    margin-right: 20px;
}

.social li{
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.social a{
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9000px;
}


/* SEARCH --------------------------------------------------------*/

.top-search{
    position: absolute;
    top:118px;
    right: 50px;
}

#searchform #s{
    color: #49494b;
    font-size: 12px;
    width: 160px;
    height: 21px;
    margin: 0px 0px 5px 0px;
    padding: 2px 35px 2px 8px;
    border: 0;
    background: #f0efeb;
    border-radius: 10px;
}
#searchform #searchsubmit{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    border: 0px;
    background: url(/static/search-submit.png) no-repeat  transparent -3px 2px;
}

#search-menu-link a{
    color: #2fa4e7;
    text-decoration: none;

}




#search-submenu a{

    color: #2fa4e7 ;
    text-decoration: none;

}

#search-submenu a:hover {

    color: #0072AF;

}

#search-submenu li.active a{

    color: #0072AF;
    cursor: default;

}

/* FILTER --------------------------------------------------------*/

#content .filter{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#content .filter li{
    display: block;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 3px 10px;
    background: #363636;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#content .filter li:first-child{
    background: none;
}


#content .filter li a{
    display: block;
    color: #f1f1f1;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#content .filter li:hover{
    background: #000;
}

#content .filter li:first-child:hover{
    background: none;
}

#content .filter li.active{
    background: #999;
}

/* PAGES --------------------------------------------------------*/

#page-content{
    /*float: left;
    width: 1024px;
    /*margin-left: 30px;*/
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    min-height: 400px;
    position: relative;
    margin-left: 0px;
}

/* PORTFOLIO --------------------------------------------------------*/

#projects-list{
    overflow: hidden;
}

#projects-list .project{
    position: relative;
    float: left;
    overflow: hidden;
    width: 438px;
    height: 495px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#projects-list .project h1 a{
    display: block;
    text-decoration: none;
    margin-bottom: 30px;
    color: #696969;
}

.project-shadow{
    background: url(../img/shadow-project.png) no-repeat 0px 267px;
}

#projects-list .project .project-thumbnail{
    position: relative;
    overflow: hidden;
    width: 438px;
    height: 267px;
    margin-bottom: 30px;
    background: #f1f1f1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#projects-list .project .project-thumbnail .cover{
    position: absolute;
    top:0px;
    left: 0px;
}

#projects-list .project .project-thumbnail .meta{
    display: block;
    width: 252px;
    height: 207px;
    font-size: 12px;
    line-height: 2em;
    position: absolute;
    top:30px;
    left: 30px;
}

#projects-list .project .read-more{
    display: block;
    position: absolute;
    top: 325px;
    left: 160px;
    background: #363636;
    line-height: 33px;
    text-decoration: none;
    color: #fff;
    padding: 0px 30px 0px 30px;
    opacity: 0;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    -webkit-box-shadow: 0px 2px 3px #000;
    -moz-box-shadow: 0px 2px 3px #000;
    box-shadow: 0px 2px 3px #000;
}

#projects-list .project .read-more:hover{
    color: #fff;
    background: #000;
}

#projects-list .project:hover .read-more{
    opacity: 1;
}


/* PROJECT --------------------------------------------------------*/

.project-column{
    width: 438px;
    float: left;
    margin-left: 30px;
}

.project-column .project-thumbnail{
    overflow: hidden;
    width: 438px;
    height: 267px;
    margin-bottom: 30px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


#content .project-column .meta a{
    display: inline;
    font-size: 12px;
    color: #fff;
    padding: 3px 10px;
    text-decoration: none;
    background: #363636;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}



/* FORMS ------------------------------------------------------------*/

#sc-contact-form,
#contactForm,
#commentform,
#contactForm{
    margin-bottom: 18px;
}

#sc-contact-form input,
#sc-contact-form textarea,
.admin-form input,
.admin-form textarea,
#contactForm input,
#contactForm textarea,
#commentform input,
#commentform textarea{
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#sc-contact-form input,
.admin-form input,
#contactForm input,
#commentform input{
    width: 282px;
}

#sc-contact-form textarea,
.admin-form textarea,
#contactForm textarea,
#commentform textarea{
    width: 380px;
}

#sc-contact-form #submit,
.admin-form #submit,
#contactForm #submit,
#commentform input#submit{
    width: 76px;
    margin: 21px 0px;
    padding: 5px 0px;
}

#sc-contact-form #submit:hover,
.admin-form #submit:hover,
#contactForm #submit:hover,
#commentform input#submit:hover{
    background: #f1f1f1;
    color: #606060;
}

#sc-contact-form input,
#sc-contact-form textarea,
.admin-form input,
.admin-form textarea,
#contactForm input,
#contactForm textarea,
#commentform input,
#commentform textarea{
    color: #606060;
    font-size: 14px;
}

#sc-contact-form label,
.admin-form label,
#contactForm label,
#commentform label{
    display: block;
    font-size: 14px;
    line-height: 2.5em;
    font-weight: light;
}


/* FOOTER ------------------------------------------------------------*/


#push{
    height: 60px;
}

footer{
    width: 100%;
    font-size: 12px;
    line-height: 45px;
    text-align: center;
    color: #868686;
    background-color: rgba(250, 250, 250, 0.18);
    margin-top: 10px;
}

footer a{
    color: #0072af;
    text-decoration: none;
}

footer #to-top{
    position: absolute;
    right: 30px;
    top: 26px;
    width: 33px;
    cursor: pointer;
}

footer p span.divider {
    margin-left: 10px;
    margin-right: 10px;
}


/* MESSAGES --------------------------------------------------------*/
.errormessage, .statusmessage{
    clear:both;
    margin:2px 10px;
    color:white;
    font-weight: bold;
}
.errormessage span{
    border-bottom: 2px solid #df0019;
}
.statusmessage span{
    border-bottom: 2px solid #adff2f;
}


/* OVERLAY --------------------------------------------------------*/

#overlay {
}

div.contentWrap {
    overflow-y:hidden;
}

.overlay {
    display:none;
    background-color: white;
    width:600px;
    height: 450px;
    z-index: 9999;
    padding:10px;
    border: 0 solid black;
    border-radius: 10px;
    box-shadow: 0 0 50px #222;
}

.overlay .close {
    background-image:url(/static/close.png);
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
    height:28px;
    width:28px;
}

.overlay .help{
    position: absolute;
    bottom:-45px;
    width: 85%;
    text-align: center;
}

/* ------------------------------- LOGIN ------------------------- */

.loginbody{
    background: #ffffff;
}

.loginbody img{
    clear:both;
    margin: 0 15px;
    padding:5px;
    overflow-y: hidden;
}
.loginbody .close {
    background-image:url(/static/close.png);
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
    height:28px;
    width:28px;
}

.unavailable{
    opacity: 0.5;
}


.windowcontainer {
    background: white;
    padding: 15px;
    margin: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.windowcontainerTitle {
    float: left;
    position: absolute;
    background-color: white;
    height: 20px;
    margin-top: -25px;
    padding-left: 10px;
    padding-right: 10px;
}

.rowcontainer{
    display: block;
    width: 100%;

}

.rowcontainer li{
    display: block;
    float: left;
    width: 50%;

}


tr.even, tr.odd {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #bebfb9;
    background: #f3f4ee;
}

tr.odd {
    background: #fff;
}

.invisible {
    display: none;
}


/*  carousel css  */

.carousel-indicators {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
    margin: 0;
    list-style: none;
}

.carousel-indicators li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #ccc;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}


.carousel-indicators .active {
    background-color: #385588;
}

.carousel-caption {
    position: absolute;
    left: initial;
    right: 25px;
    bottom: 25px;
    padding: 15px;
    background: #333333;
    background: rgba(0, 0, 0, 0.43);
}

.carousel-caption h2{
    color: #fff;
}

.carousel {
    margin-bottom: 10px;
}

/* collapse */

.accordion-inner {
    border-top: none;
}

.accordion-group {
    border: none;
    border-top: 1px solid #e5e5e5;
}

.accordion-group:last-child {
    border-bottom: 1px solid #e5e5e5;
}

/* mod to popover like window*/

.popover-mod:first-child{
    margin-top: 0px;
}

.popover-mod{
    margin-top: 20px;
    display: block;
    width: 100%;
    top:inherit;
    left: inherit;
    position: relative;
}



/*data pages*/
a.search-data-link{
    float: left;
    height: 185px;
    width: 185px;
    background-size: 100% 100% !important;
    -o-background-size: 100% 100% !important;
    -webkit-background-size: 100% 100% !important;
    -khtml-background-size: 100% 100% !important;
    -moz-background-size: 100% 100% !important;
}

a.search-data-link:hover{

    box-shadow: inset 0px 0px 33px 14px rgba(55, 178, 209, 0.85);
}

.rigth-list {
    background-color: #f5f5f5;
    position: relative;
    display: block;
    right: 0px;
    margin-left: 0px;
    width: +24.9%;
    float: right;
}

.row-list{
    margin-top:15px;
    padding-top: 20px;
}
.popover-list{
    padding-top: 15px;
    border-bottom:1px solid #e5e5e5;
}

.row-contet{
    margin-top:15px;
    padding-top: 0px;
    border-top: 1px solid #e5e5e5;
    position: relative;
    min-height: 316px;
}

.azlist{
    padding-top: 5px;
    padding-bottom: 5px;
}
.azlist>li>a{
    float: none;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}
.azlist>li{
    float: left;
    text-align: center;
    width: 3.7%;
    min-width: 30px;
    padding:5px 0px 5px 0px !important;
}

.btn-mobile{
    padding-left: 20px;
}

.collapse-manage-data{
    background-color: #fafafa;
    position: relative;
}
.collapse-manage-data .icon-chevron-up{
    position: absolute;
    right: 20px;
    top: 10px;
}

.collapse-manage-data .icon-chevron-down{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #000000;
    zoom: 1.3;
}

.accordion-manage-data .in{
    margin-bottom: 40px;
}

.row-manage-data{
    padding: 12px 0px 12px 25px;
    border-bottom: 1px solid #d3d3d3;

}

.row-manage-data . span4:first-child{
    margin-left: 10px;
}

.input-size-mini{
    padding: 0 6px !important;
    font-size: 10.5px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    margin-bottom: 0px !important;
}

.modal-list li{
    margin-bottom: 10px;
}

#edit-description-textarea{
    min-width: 60%;
    min-height: 100px;
}


/*search pages*/

.search-btn-left{

    -webkit-border-radius: 14px 0 0 14px !important;
    -moz-border-radius: 14px 0 0 14px !important;
    border-radius: 14px 0 0 14px !important;

}

.search-btn-right{

    -webkit-border-radius: 0 14px 14px 0 !important;
    -moz-border-radius: 0 14px 14px 0 !important;
    border-radius: 0 14px 14px 0 !important;

}

.search-query{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.search-box{
    padding-top:80px;
    padding-bottom:80px;
}

.left-list{
    background-color: #ffffff;
    height: 100%;
    position: relative;
    display: block;
    height: 100%;
    bottom: 0px;
    left: 0px;
}

.left-list .popover-list:first-child{
    background-color: #f5f5f5;
}

.well-white{
    margin:2px 0 2px 0 !important;
    background-color: #ffffff;
    min-width: 15px;
    padding: 18px;
}

.Dataset-bkgr{
    background-color: #00b7e2 !important;
    min-width: 15px;
}

.Dataset-light-bkgr{
    background-color: rgba(0, 206, 255, 0.21) !important;
    min-width: 15px;
}

.Workflow-bkgr{
    background-color: #8abf6e !important;
    min-width: 15px;
}

.Workflow-light-bkgr{
    background-color: rgba(184, 255, 147, 0.21) !important;
    min-width: 15px;
}

.Service-bkgr{
    background-color: #675c9c !important;
    min-width: 15px;
}

.File-bkgr{
    background-color: #00b7af !important;
    min-width: 15px;
}

.File-light-bkgr{
    background-color: rgba(0, 255, 247, 0.20) !important;
    min-width: 15px;
}

.SWS-bkgr, .SemanticWebService-bkgr{
    background-color: #c2bb51 !important;
    min-width: 15px;
}

.SemanticWebService-light-bkgr{
    background-color: rgba(255, 201, 0, 0.20) !important;
    min-width: 15px;
}

.Application-bkgr, .AtomicService-bkgr{
    background-color: #e4675e !important;
    min-width: 15px;
}

.AtomicService-light-bkgr{
    background-color: rgba(255, 115, 105, 0.20) !important;
    min-width: 15px;
}

.User-bkgr{
    background-color: #6cae4e;
    min-width: 15px;
}

.Institution-bkgr{
    background-color: #35BD70 ;
    min-width: 15px;
}

.Study-bkgr{
    background-color: #06F ;
    min-width: 15px;
}
/*
Navbar adjustment - better interface
*/

.nav-header-page{
    margin-bottom: 0px;
    background: #f5f5f5;
    border-bottom: 2px solid #CBCBCB;
    border-top: 2px solid #CBCBCB;
    height: 60px;
}


.nav-header-page a{
    vertical-align: middle;
    background: #CBCBCB ;
    color: black;
    padding: 20px !important;
    font-size: 20px;
    border-radius: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.nav-resources{
    margin-bottom: 0px;
    display: table;
    width: 100%;
}

.nav-resources li{
    display: table-cell;
    float: none;
    text-align: center;
}
.nav-resources-Dataset{
    border-bottom: 2px solid #00b7e2;
    border-top: 2px solid #00b7e2;
}

.nav-resources  a{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-radius: inherit !important;
    color: #59676E;
}

.nav-resources-File{
    border-bottom: 2px solid #00b7af;
    border-top: 2px solid #00b7af;
}

.nav-resources-AtomicService{
    border-bottom: 2px solid #e4675e;
    border-top: 2px solid #e4675e;
}

.nav-resources-Workflow{
    border-bottom: 2px solid #8abf6e;
    border-top: 2px solid #8abf6e;
}



.nav-resources-SemanticWebService{
    border-bottom: 2px solid #c2bb51;
    border-top: 2px solid #c2bb51;
}


/*end*/
/* alternative rating*/
.line-rating {
  margin: 3px 0;
}

.line-rating i {
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: transparent;
  border-radius: .22em;
  color: #000000;
  background: transparent;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #000000;
}

[data-rate^='1.0'] .star-1 {
  color: #cc8b1f;
}

[data-rate^='1'] .star-1 {
  color: #cc8b1f;
}

[data-rate='1.5'] > .star-1 , [data-rate='1.5'] > .star-2 {
  color: #cc8b1f;
}

[data-rate^='2.0'] > .star-1, [data-rate^='2.0'] > .star-2{
  color: #dcb228;
}

[data-rate^='2'] > .star-1, [data-rate^='2'] > .star-2{
  color: #dcb228;
}

[data-rate='2.5'] > .star-1, [data-rate='2.5'] > .star-2, [data-rate='2.5'] > .star-3{
  color: #dcb228;
}

[data-rate^='3.0'] > .star-1, [data-rate^='3.0'] > .star-2, [data-rate^='3.0'] > .star-3{
  color: #f0991e;
}

[data-rate^='3'] > .star-1, [data-rate^='3'] > .star-2, [data-rate^='3'] > .star-3{
  color: #f0991e;
}


[data-rate='3.5'] > .star-1, [data-rate='3.5'] > .star-2, [data-rate='3.5'] > .star-3, [data-rate='3.5'] > .star-4{
  color: #f0991e;
}

[data-rate^='4.0'] > .star-1, [data-rate^='4.0'] > .star-2 ,[data-rate^='4.0'] > .star-3, [data-rate^='4.0'] > .star-4 {
  color: #f26a2c;
}

[data-rate^='4'] > .star-1, [data-rate^='4'] > .star-2 ,[data-rate^='4'] > .star-3, [data-rate^='4'] > .star-4 {
  color: #f26a2c;
}

[data-rate='4.5'] > .star-1, [data-rate='4.5'] >  .star-2, [data-rate='4.5'] >  .star-3, [data-rate='4.5'] >  .star-4 {
  color: #f26a2c;
}

[data-rate='5.0'] > i {
  color: #dd050b;
}

[data-rate='5'] > i {
  color: #dd050b;
}

/** Print */
@media print {
  .line-rating {
    -webkit-print-color-adjust: exact;
  }
  .line-rating i {
    text-shadow: none;
  }
}

/*end alternative rating*/

.modal-share {
    text-align: left;
    width: 950px;
    margin-left: -475px;
}

.modal-share td{
    text-align: left !important;
}

.select2-container.select2-container-multi {
    width: 200px !important;
}

.well-linetable{
    margin: 0px 5px 0px 4px;
    padding: 9px;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;

}


.resource-datatable td{
    text-align: center;
    word-wrap: break-word;
}
.fa-Dataset:before {
    content: "\f1c0";
}

.fa-AtomicService:before {
    content: "\f085";
}

.fa-Workflow:before {
    content: "\f135";
}

.fa-File:before {
    content: "\f0c5";
}

.fa-SemanticWebService:before {
    content: "\f12e";
}

.fa-User:before {
    content: "\f007";
}

.fa-Institution:before {
    content: "\f0c0";
}
/*text color*/
.Dataset-color{
    color: #3eb6b5;

}

.Workflow-color{
    color: #4eb8e4;

}

.Service-color{
    color: #675c9c;

}

.File-color{
    color: #c26aa3;

}

.SWS-color{
    color: #c2bb51;

}

.Application-color{
    color: #e4675e;

}

.User-color{
    color: #6cae4e;
}

.Institution-color{
    color: #35BD70 ;
}

.Study-color{
    color: #06F ;
}


.input-refine {
    height: 18px !important;
    background-color: #f5f5f5 !important;
    max-width: 50% !important;
    padding: 0px !important;
    margin:0px !important;

}

.btn-refine{
    display: block;
    padding: 0;
}

.btn-refine .btn{
    border: 0px !important;
    background: none;
    padding: 9px;
    width: 94%;
    text-align: left !important;

}

.search-list .popover-list{
    padding-top: 0px;
    line-height: 30px;
}

.loading {
    background-color: #f5f5f5;
}
.wait-img {

    background-image: url('/static/img/loading.gif');
    width: 80px;
    height: 80px;
    display: inline-block;
    zoom: 0.3;

}

.filtred{
    background-color: rgba(126, 199, 240, 0.29) !important;
}


.arrowgototop {
    position: relative;
    left: 8px;
    top: 12px;
    width: 24px;
    height: 90px;
    z-index: 10;
}

.gototop{
    background: #0083be;
    height: 41px;
    width: 41px;
    z-index: 9;
    cursor: pointer;
    text-align: center;
    border-radius: 90px;
    overflow: hidden;
}

.totop {
    position: fixed;
    bottom: 20px;
}
/*end search pages*/

@media (min-width: 1200px){
    .resource-actions{
        margin-left: -30px;
    }
    a.search-data-link{
        height: 230px;
        width: 230px;
        background-size: 100% 100% !important;
        -o-background-size: 100% 100% !important;
        -webkit-background-size: 100% 100% !important;
        -khtml-background-size: 100% 100% !important;
        -moz-background-size: 100% 100% !important;
    }
}
@media (max-width: 979px){
    .navbar .nav > li {
        display: block;
        width: auto;
    }
    #logo-left{
        float: left;
        background-image: url("/static/logo.png");
        width: 75px;
        height: 81px;
    }
    .rigth-list {
        position: relative;
        margin-left: inherit;
        width: inherit;
    }
    .left-list{
        position: relative;
    }
    .row-contet{
        text-align: center;
    }
    a.search-data-link{
        height: 150px;
        width: 150px;
        background-size: 100% 100% !important;
        -o-background-size: 100% 100% !important;
        -webkit-background-size: 100% 100% !important;
        -khtml-background-size: 100% 100% !important;
        -moz-background-size: 100% 100% !important;
    }
    .navbar .nav>li>a {
        padding: 10px 0px 10px;
    }
}

@media (max-width: 979px) and (min-width: 768px){
    a.search-data-link{
        height: 143px;
        width: 143px;
        background-size: 100% 100% !important;
        -o-background-size: 100% 100% !important;
        -webkit-background-size: 100% 100% !important;
        -khtml-background-size: 100% 100% !important;
        -moz-background-size: 100% 100% !important;
    }

}


.resource-title {
    padding:20px 10px;
    height: 10%;
}

.resource-details{
    margin: 20px auto 20px auto;
    padding:20px 10px;
    background-color: #fafafa;
    border-bottom: 1px dotted #d3d3d3;
    border-top: 1px dotted #d3d3d3;
    height: 45%;
}

.resource-title dl dt, .resource-details dl dt{
    text-align: left;
    color: #949599;
    font-weight: normal;

}

.resource-actions{
    padding: 10px;
    border-left: 1px solid #bdbec1;
    background-color: #fafafa;
}

.resource-actions ul li span.label {
    padding: 3px 10px;
    background-color: transparent;
    color: #949599;
    font-weight: normal;
    text-shadow: none;
    border: 1px solid #bdbec1;
    margin-top: 5px;
}

.grant{
    cursor: pointer;
}

.well.active{
background-color: rgba(0, 173, 14, 0.63);
}
.well.filter{
    cursor: pointer;
    display: inline-flex;
}

.well.button{
    cursor: pointer;
    display: inline-flex;
}

.well.refine{
    cursor: pointer;
    display: inline-block;
    padding: 9px;
}


.fieldrequired {
display: inline;
}

.alert-disable {
    color: #8B8B8B;
    background-color: #F1F1F1;
    border-color: #CFCFCF;
}

.tab-pane > .alert {
    text-align: center;
}

/* Absolute Center CSS Spinner */
.loading {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    position: absolute;
    top: 50%;
left: 50%;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.additional-link > .row-fluid {
    margin-bottom: 20px;
}

.additional-file > .row-fluid {
    margin-bottom: 20px;
}

/*  RATING CSS*/
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    cursor: initial;
    overflow:hidden;
    white-space:nowrap;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

@media(max-width: 767px){
    .rigth-list{ position: absolute;}
    .well-white {display: inline-block;width: 34%;}
    .left-list{margin-top:384px }
}

/* uncomment this style if you want to have the disco style header
.dev-page-title-wrapper{
    -webkit-animation-name: disco;
    -webkit-animation-duration: 360s;
    -webkit-animation-iteration-count: infinite;
}
*/
