<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

        <link rel='stylesheet' href='/static/css/style_embed.css' type='text/css' />

        <!-- Core-js ParaViewWeb dependency
        <script type="text/javascript" src="/ext/js-core/autobahn.min.js"></script>
        -->
        <script type="text/javascript" src="/static/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="/static/js/paraview-all.js"></script>

        <!-- ParaViewWeb Widget dependency -->
        <link   type='text/css'       href="/static/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet">
        <script type="text/javascript" src="/static/jquery-ui-1.9.2.custom.js"></script>
	<style>
	b {
		color: #2FA4E7;
	}
	</style>
        <script type="text/javascript">
            $(function() {
                // Center the clicktostart element.
                var clicktostart = $(".clicktostart");                

                //-----------------------------------------------------------------------------
                // 'global' variables.
                var pv = {};

                $(window).resize(function() {
                    if (pv.viewport) {
                        pv.viewport.render();
                    }
                }).trigger('resize');

                //-----------------------------------------------------------------------------
                // Setup UI
                $("#info").hide();
                $( "#radio" ).buttonset();
                $(".plane").click(function(){
                    sliceRender($(this).text());
                });

		function startParaview(){		
                    if ($(this).hasClass("session_started")) {
                        return;
                    }
                    // We start a new ParaView session everytime the user clicks on
                    // the the page.
                    if (!pv.connection) {
                        $(this).addClass("session_started");
                        $(".clicktostart").html("I'm rendering...");

                        var serviceURL = location.protocol + "//" + location.hostname +
                            ":" + location.port + "/paraview";
                        var config = {
                            sessionManagerURL: serviceURL,
                            name: "Slice",
                            description: "2D visualization with ParaView/Web",
                            application: "loader"
                        };
                        setupConnection(config);

                    }
        };
                // if the user clicks on the empty viewport, we start a new session
                // if one hasn't already been started.
                $("#viewport").click(function() {
			startParaview();
                });

                function changeSlice(){
                    var  sliceNum = $( "#slider" ).slider("value");
                    var  sliceMax = $( "#slider" ).slider( "option", "max" );
                    $.ajax('/paraview/pvw_method_call/', {
                                data: {data : JSON.stringify({method:"changeSlice", args: [sliceNum]})},
                                type: 'POST',
                                success: function(reply){
                                    $("#slice-label").text('Slice '+sliceNum+' of '+sliceMax);
				                    pv.viewport.render();
				                }

                    });

                }

                function changeWindow(event, ui){
                    $("#window-label").text('Window '+ui.values[ 0 ]+' - '+ui.values[ 1 ]);
                    $.ajax('/paraview/pvw_method_call/', {
                                data: {data : JSON.stringify({method:"changeWindow", args: [ [ui.values[ 0 ] ,ui.values[ 1 ]] ]})},
                                type: 'POST',
                                success: function(reply){
				                    pv.viewport.render();
				                }
                    });

                }


                function sliceRender(plane){
                    if (plane == undefined){
                        plane = 'XY Plane';
                    }
                    $("#"+plane).checked = true;

                    $.ajax('/paraview/pvw_method_call/', {
                                data: {data : JSON.stringify({method:"sliceRender", args: [plane]})},
                                type: 'POST',
                                success: function(reply){
                                    reply = JSON.parse(reply);

                                    $( "#slider" ).slider(
                                            {
                                              orientation: "horizontal",
                                              range: "min",
                                              max: reply.sliceInfo.maxSlices,
                                              value: reply.sliceInfo.slice,
                                              slide: changeSlice,
                                              change: changeSlice
                                            });
                                    $( "#slider2" ).slider(
                                            {
                                              orientation: "horizontal",
                                              range: true,
                                              min: reply.scalarRange[0],
                                              max: reply.scalarRange[1],
                                              values: [reply.scalarRange[0], reply.scalarRange[1]],
                                              slide: changeWindow,
                                              change: changeWindow
                                            });
                                    $("#slice-label").text('Slice '+reply.sliceInfo.slice+' of '+reply.sliceInfo.maxSlices);
                                    $("#window-label").text('Window '+reply.scalarRange[ 0 ]+' - '+reply.scalarRange[ 1 ]);
				                    pv.viewport.render();
				                }

                    });
                }
                //-----------------------------------------------------------------------------
                // Setup paraview
                function setupConnection(connection) {

                    // connect to the ParaView/Web instance, so we can start
                    // visualizing.
                    paraview.connect(connection,
                    function(conn) {
                        pv.connection = conn;
                        pv.viewport = paraview.createViewport({session:conn.session, enableInteractions:false});
                        pv.viewport.bind("#viewport");

                        var filePath= getParameter("data");
                        if (filePath !== "") {
                            $.ajax('/paraview/pvw_method_call/', {
                                data: {data : JSON.stringify({method:"openFileFromPath", args: [filePath]})},
                                type: 'POST',
                                success: function(reply){
				                    sliceRender();
				                }

                            });
                        }
                        $("#info").show();
                    },
                    function(code,reason){
                        pv.connection = null;
                        console.log(reason);
                        cleanup();
                    }
                );
                }

                function cleanup() {
                    if (pv.viewport) {
                        pv.viewport.unbind();
                    }

                    paraview.disconnect(pv.connection);

		        $("#info").hide();
                    pv = {};
                    $("#viewport").removeClass("session_started");
                    $(".clicktostart").html("Click to Start");
                }

                function getParameter(name) {
                    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                    var regexS = "[\\?&]" + name + "=([^&#]*)";
                    var regex = new RegExp(regexS);
                    var results = regex.exec(window.location.search);
                    if (results == null) {
                        return "";
                    } else {
                        return decodeURIComponent(results[1].replace(/\+/g, " "));
                    }
                }

		startParaview();            
		});
        </script>
    </head>
    <body>
        <div id="viewport" class="fullscreen">
            <p class="clicktostart" style="margin-top:200px;color: #2FA4E7;">Click to Start</p>
        </div>
        <div id="info" style="display:none;position: absolute;bottom: 0px;padding: 5px;z-index: 100;color:#fff;">
		<div id="radio">
            <input type="radio" id="XY-Plane" name="radio"  checked="checked" /><label class="plane"  for="XY-Plane">XY Plane</label>
            <input type="radio" id="XZ-Plane" name="radio" /><label class="plane"  for="XZ-Plane">XZ Plane</label>
            <input type="radio" id="YZ-Plane" name="radio" /><label class="plane"  for="YZ-Plane">YZ Plane</label>
        </div>
        <div id="slice-label">Slice 10 of 15</div>
        <div id="slider"></div>
        <div id="window-label" >Window 10 - 15</div>
        <div id="slider2"></div>
	    </div>

    </body>
</html>
