{% extends 'base.html' %}


{% block extrahead %}

    <!-- START bootstrap  -->

    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/bootstrap/bootstrap-responsive.css" type="text/css" media="screen" />
    <script src="/static/bootstrap.min.js" type="text/javascript"></script>

    <!-- END bootstrap  -->

    <!-- START kendo ui  -->

    <script src="/static/kendo.web.min.js"></script>
    <link href="/static/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="/static/kendo/kendo.blueopal.min.css" rel="stylesheet" />

    <!-- END kendo ui -->


    <!-- START scs_search  -->

    <link rel="stylesheet" href="/static/css/scs_search_style.css" type="text/css" media="screen" />
    <script src="/static/js/scs_search_script.js" type="text/javascript"></script>

    <!-- END scs_search  -->


    <!-- START local script  -->

    <!-- END local script  -->
{% endblock %}

{%  block title %} Welcome to the Vph-Share Master Interface {% endblock %}

{% block page-title %}
    <span class="title">Search</span>
    <span class="subtitle">semantic search for your data</span>
{% endblock %}

{% block content %}


    <div id="search" class="container-fluid">
        <div id="searchBlock"  class="row-fluid">

            <!-- START search tools bar -->
            <div class="navbar">
                <div class="navbar-inner" style="min-height: 65px;">
                    <form id="automaticSearchForm" class="navbar-form pull-left">
                        <input type="text" class="input-medium search-query" name="freeText" id="freeText" placeholder="Search dataset">
                        <button id="searchButton" type="button" class="btn" >Search</button>
                        <div><input id="guidedSearchCheckBox" type="checkbox"  > Guided Search</div>
                    </form>
                    <button id="backToQuery" type="button" class="btn" style="display: none;">Back to Search</button>
                    <button id="querySubmit" type="button" class="btn pull-right" style="display: none;">Query</button>
                </div>

            </div>
            <!-- END search tools bar -->


        </div>


        <div id="searchContent" class="row-fluid" style="display:none;">

            <!-- START Guided search block -->
            <div id="guideSearchContentBlock" class="row-fluid ">

                <div id="termListBlock" class="span6 k-header" style="min-height: 200px">

                    <!-- START terms list -->
                    <ul id="termsListBase" class="ui-state-default" style="display: none" >
                        <li id="term_base" class="term" style="display: none">
                            <span class="k-sprite folder"></span>
                        </li>
                    </ul>

                    <!-- START terms list -->

                </div>

                <div id="groupsContent" class="span6 k-header" style="min-height: 200px" >

                    <form id="queryForm">
                    <!-- START groups list -->

                        <ul id="group0" class="group ui-widget-content ui-state-default" style="min-height: 50px;">
                            <div id="help" class="pagination pagination-centered"><div class="btn btn-large btn-primary disabled" >TERMS IN OR</div></div>
                        </ul>

                        <ul id="new-group" class="group ui-widget-content ui-state-default" style="min-height: 50px;">
                            <div id="help" class="pagination pagination-centered"><div class="btn btn-large btn-primary disabled" >TERMS IN AND</div></div>
                        </ul>

                    </form>
                    <!-- START groups list -->

                </div>

            </div>
            <!-- END guidedSearch block -->

        </div>

        <!-- START results block -->
        <div id="results"  class="row-fluid" style="display:none;">

            <div id="resultsBlock" class="span12" >

                <ul class="media-list">

                    <!-- START concept_uri result -->
                    <li id="concept-base" class="concept-item media result-item" style="display:none">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="/static/img/concept_uri.png" style="width: 50px;height: 50px;">
                        </a>
                        <div class=" media-body">

                            <h4  class="concept-label media-heading"></h4>
                            <p class="concept-description"></p>

                            <!-- START dataset list -->
                            <div class="dataset-item media" style="display:none" >
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="/static/img/dataresource.png" style="width: 50px;height: 50px;">
                                </a>
                                <div class="media-body">
                                    <div class="span10"><h4 class="dataset-label media-heading"></h4>
                                        <p class="dataset-description" ></p></div><div class="span1"><a class="link-to-data btn btn-primary" style="color:#fff" target="_blank">Visualize data</a></div>
                                </div>
                            </div>

                            <!-- END dataset list -->

                        </div>
                    </li>
                    <!-- END concept_uri result -->

                </ul>
            </div>

        </div>
        <!-- END results block -->


    </div>



{% endblock %}