<div id="term-list-block" class="span6 k-header">
    <div id="wait-terms" class="wait" ><div class="img"></div> <div class="info"></div></div>

    <!-- START tools for terms list -->
    <div class="terms-tools" >
        <span class="label label-info">Max number of Terms:<span id="max-terms">20</span></span>
        <span class="label label-info right-align"  ><span id="num-terms">20</span> terms found</span>
        <div id="slider-range-min"></div>
    </div>
    <!-- END tools for terms list -->

    <!-- START terms list -->
    <ul id="terms-list-base" class="ui-state-default" style="display:none;" >

        <li id="term-base" class="term" style="display:none;" >
            <span class="k-sprite folder"></span>
        </li>
    </ul>

    <div id="terms-pagination-base" class="pagination pagination-centered hide" >
        <ul>
            <li id="prev" class="page" page="prev"><a>«</a></li>
            <li id="next" class="page" page="next"><a>»</a></li>
        </ul>
    </div>
    <!-- END terms list -->

</div>