{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="/static/css/scs_search_style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/bootstrap/bootstrap-responsive.css" type="text/css" media="screen" />
    <script src="/static/js/scs_search_script.js" type="text/javascript"></script>
    <script src="/static/bootstrap.min.js" type="text/javascript"></script>
    <script>
    $(function() {
        // there's the gallery and the trash
        var $term = $( ".term"),
        $groups = $( "#group0" );

        // let the gallery items be draggable
        $($term ).draggable({
            cancel: "a.ui-icon", // clicking an icon won't initiate dragging
            revert: "invalid", // when not dropped, the item will revert back to its initial position
            containment: "document",
            helper: "clone",
            cursor: "move"
        });

        $groups.droppable({
            accept: ".term",
            activeClass: "ui-state-highlight",
            drop: function( event, ui ) {
                dropTerm( ui.draggable );
            }
        });


        function dropTerm( $item ) {
            $item.fadeOut(function() {

                $item.appendTo( $groups ).fadeIn();
            });
        }

    });
    </script>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div id="searchBlock"  class="row-fluid">

            <div class="navbar">
                <div class="navbar-inner">
                <form id="automaticSearchForm" class="navbar-form pull-left">
                    <input type="text" class="input-medium search-query" name="freeText" id="freeText">
                    <button type="button" class="btn" onclick="automaticSearchCall()">Search</button>
                    <label class="checkbox"> <input id="guidedSearchCheckBox" type="checkbox"> Guided Search</label>
                </form>
                </div>
            </div>

        </div>
        <div id="searchContent" class="row-fluid">
            <div id="guideSearchContentBlock" class="row-fluid ">
                <div id="termListBlock" class="span2 breadcrumb">
                    <ul class="media-list nav nav-pills nav-stacked">
                        <li class="media term" >
                            <a class="" href="#">
                                <img class="" src="http://placehold.it/24x24">
                                Term1
                            </a>
                        </li>
                        <li class="media term">
                            <a class="" href="#">
                                <img class="" src="http://placehold.it/24x24">
                                Term1
                            </a>
                        </li>
                        <li class="media term">
                            <a class="" href="#">
                                <img class="" src="http://placehold.it/24x24">
                                Term1
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="groupsContent" class="span10 breadcrumb">

                    <div id="group0" class="ui-widget-content ui-state-default" style="height:50px">
                    </div>
                    <!--Body content-->
                </div>
            </div>

            <div id="resultsBlock" class="row-fluid">
            <ul class="media-list">
                <li class="media breadcrumb">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Term1</h4>
                        <p>Description</p>
                        <!-- Nested media object -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Dataset1</h4>
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Dataset2</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="media breadcrumb">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Term2</h4>
                        <p>Description</p>
                        <!-- Nested media object -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Dataset1</h4>
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Dataset2</h4>
                                <p>Description</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>


            </div>
        </div>

    </div>

{% endblock %}