<div id="groups-content" class="span6 k-header" >

    <form id="query-form">

        <ul id="group0" class="group ui-widget-content ui-state-default" >
            <div  class="help pagination pagination-centered"><div class="btn btn-large btn-primary disabled" >TERMS IN OR</div></div>
            <div class="exclude"><button type="button" class="btn" data-toggle="button"><div class=" icon-ban-circle"></div></button></div>
        </ul>


        <ul id="new-group" class="group ui-widget-content ui-state-default" >
            <div id="and" class="btn btn-primary disabled">AND</div>
            <div class="help pagination pagination-centered"><div class="btn btn-large btn-primary disabled" >TERMS IN OR</div></div>
            <div class="exclude"><button type="button" class="btn" data-toggle="button"><div class=" icon-ban-circle"></div></button></div>
        </ul>


    </form>

</div>