.condition, .select {
  position: relative;
  width: 580px;
  min-height: 60px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #4C99F1;
  padding: 22px 10px 4px 10px;
  margin: 5px;
  counter-increment: condition; }

.inside-condition {
  position: relative;
  width: 550px;
  height: 50px;
  margin: 10px 5px 5px 5px;
  border: 2px solid #64cdff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.new-condition, .new-select {
  border: 2px dashed #4C99F1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear; }

.new-condition-active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear; }

.connector {
  width: 50px;
  height: 50px;
  top: -33px;
  right: -26px;
  position: absolute;
  text-align: center;
  border: 2px solid #4C99F1;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  border-radius: 54px;
  background-color: #DAEBFF;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.connector:hover {
  background-color: #4C99F1; }

.condition:first-of-type > .connector, .select:first-of-type > .connector {
  display: none;
  visibility: hidden; }

.condition:first-of-type > .connector:hover, .select:first-of-type > .connector:hover {
  display: none;
  visibility: hidden; }

.inside-condition:first-of-type > .connector {
  display: none;
  visibility: hidden; }

.inside-condition:first-of-type > .connector:hover {
  display: none;
  visibility: hidden; }

.new-connector {
  border: 2px dashed #4C99F1;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
  border-radius: 54px;
  background-color: white; }

.or:after {
  content: "OR";
  top: 16px;
  position: relative; }

.and:after {
  content: "AND";
  top: 16px;
  position: relative; }

.condition-hover {
  box-shadow: 0 0 20px -5px #4C99F1;
  background-color: #DAEBFF;
  transition: background-color 300ms ease; }

.condition-hover > .connector {
  box-shadow: 0 0 20px -5px #4C99F1;
  background-color: #DAEBFF;
  transition: background-color 300ms ease; }

.condition:after, .new-condition:after, .new-select:after, .select:after {
  content: "Condition #" counter(condition);
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4  px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 10px 0px 10px 0px; }

.new-condition:after, .new-select:after {
  content: "new condition"; }

.select {
  padding: 11px 10px 0px 10px; }

.select:after {
  content: "Column #" counter(condition); }

.new-select:after {
  content: "Select new column"; }

/* UI statements */
.ui-draggable-dragging {
  border: 2px solid #4c99f1;
  z-index: 999999;
  position: absolute !important;
  overflow: visible;
  background: rgba(209, 228, 255, 0.61);
  border-radius: 20px;
  opacity: 0.8;
  margin: 0px;
  padding: 10px 15px 10px 15px;
  text-align: center; }

/*Condition form statements*/
.condition-form {
  margin: 10px; }

.condition-form > .inline {
  display: inline;
  margin: 0; }

.condition-form input {
  max-width: 135px; }

.condition-form > .operator {
  width: inherit;
  border-radius: 50px; }

table.dataTable tbody th, table.dataTable tbody td {
  padding: 0px 10px !important; }

.column {
  padding: 8px 10px; }

.DTTT {
  float: right; }

/* Bootstrap rewrite */
.input-append, .input-prepend {
  margin-bottom: 0px !important; }

.condition > button.close, .select > button.close {
  padding-top: 0px !important;
  padding-right: 0px !important; }

.inside-condition > button.close {
  padding-top: 16px !important;
  padding-right: 37px !important; }

/* End */
/* Animation */
.hideMe {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@keyframes cssAnimation {
  to {
    visibility: hidden; } }
@-webkit-keyframes cssAnimation {
  to {
    visibility: hidden; } }
/* End */

/*# sourceMappingURL=dataset.css.map */
