<h4>Available Security Proxy Configurations</h4>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>name</th><th>action</th>
    </tr>
    </thead>
    {% for configuration in configurations%}
        <tr>
            <td>{{ configuration.name }}</td>
            <td>
                <a class="btn btn-link btn-success" href="/security/configuration/?id={{ configuration.id }}" title="manage configuration file"><span class="icon-wrench"></span></a>
                <a class="btn btn-link btn-warning" href="/security/configuration/" title="delete configuration file"
                   onclick="event.preventDefault(); if (confirm('Are you sure you want to delete this configuration?')){$('#{{ configuration.id }}-conf').submit();}"><span class="icon-remove-sign"></span></a>
            </td>
        </tr>
        <form id="{{ configuration.id }}-conf" action="/security/deleteconfiguration/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ configuration.id }}">
        </form>
    {% empty %}
        <tr>
            <td colspan="2"> no available configuration</td>
        </tr>
    {% endfor %}
</table>

<a href="/security/configuration/"><button class="btn btn-link">create a new security proxy configuration</button></a>