{% extends 'scs_security/base.html' %}

{% block content %}

    {% if configuration_obj  %}
        {% if edit %}
            <h3>Edit proxy Configuration: {{ configuration_obj.name }}</h3>
        {% else %}
            <h3>Proxy Configuration: {{ configuration_obj.name }}</h3>
            {% if request.user.username in configuration_obj.owners %}
                <a class="btn btn-primary" href="/security/configuration/{{ configuration_obj.id }}/edit">Edit security configuration</a>
            {% endif %}
        {% endif %}
    {% else %}
            <h3>Create new Security Proxy Configuration</h3>
    {% endif %}

    {% include 'scs_security/configurationform.html' %}

{% endblock %}