<h4>Available Security Policies</h4>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>name</th><th>action</th>
    </tr>
    </thead>
    {% for policy in policies %}
        <tr>
            <td>{{ policy.name }}</td>
            <td>
                <a class="btn btn-link btn-success" href="/security/policy/?id={{ policy.id }}" title="manage policy file"><span class="icon-wrench"></span></a>
                <a class="btn btn-link btn-warning" href="/security/policy/" title="delete policy file"
                   onclick="event.preventDefault(); if (confirm('Are you sure you want to delete this policy?')){$('#{{ policy.id }}').submit();}"><span class="icon-remove-sign"></span></a>
            </td>
        </tr>
        <form id="{{ policy.id }}" action="/security/deletepolicy/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ policy.id }}">
        </form>
    {% empty %}
        <tr>
            <td colspan="2"> no available policy</td>
        </tr>
    {% endfor %}
</table>

<a href="/security/policy/"><button class="btn btn-link">create a new policy</button></a>