{% extends 'cyfronet/base.html' %}

{%  block title %} VPH-Share Tools {% endblock %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="/static/css/clew.css"/>
	<link rel="stylesheet" href="/static/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/font-awesome-ie7.min.css">
    <![endif]-->
    <script src="/static/clew/clew.nocache.js" type="text/javascript"></script>
    <script type="text/javascript">
		var ClewOverrides = {
			cloudFacadeUrl: "{{ cloudFacadeUrl }}",
			vphTicket: "{{ vphTicket }}",
			project: "{{ institutionPortal }}"
		}
    </script>
{% endblock %}

{% block page-title %}
    <span class="title">Tools</span>
    <span class="subtitle">Manage cloud resources</span>
{% endblock%}
{% block content-title %}
    <ul class="nav nav-pills nav-header-page nav-resources-AtomicService ">
      <li class="resource-tab">
          <a href="" class="AtomicService-bkgr">
            <i class="fa fa-AtomicService"></i>
            Applications
          </a>
      </li>
    </ul>
{% endblock %}
{%  block content %}
	<div id="clewContainer"></div>
{% endblock %}