{% extends 'cyfronet/base.html' %}

{%  block title %} VPH-Share Dashboard {% endblock %}

{% block page-title %}
    <span class="title">Dashboard</span>
    <span class="subtitle">Manage cloud resources</span>
{% endblock%}

{%  block content %}
	<div style="padding: 5px;">
	    <ul class="nav nav-tabs">
	    	<li {% if path == 'apps' %} class="active" {% endif %}>
	    		<a href="/dashboard/apps">Applications</a>
	    	</li>
	    	<li {% if path == 'wfs' %} class="active" {% endif %}>
	    		<a href="/dashboard/wfs">Workflows</a>
	    	</li>
	    </ul>
	    {% if path == 'apps' %}
	    	{% include 'cyfronet/apps.html' %}
	    {% endif %}
	    {% if path == 'wfs' %}
	    	{% include 'cyfronet/wfs.html' %}
	    {% endif %}
{% endblock %}