<h5 style="float: left;">Workflow 1 name</h5>
<button id="shutdown" class="btn btn-danger" style="float: right;" data-toggle="tooltip" title="Shutdown workflow"><i class="icon-off"></i></button>
<div style="clear: both;"></div>
<div style="margin-top: 15px; margin-bottom: 15px;"><em>no instances</em></div>

<h5 style="float: left;">Workflow 2 name</h5>
<button id="shutdown" class="btn btn-danger" style="float: right;" data-toggle="tooltip" title="Shutdown workflow"><i class="icon-off"></i></button>
<div style="clear: both;"></div>
<div style="margin-top: 15px;">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>IP address</th>
				<th>Location</th>
				<th>Specification</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>AneuristVNC</td>
				<td>72.45.167.23</td>
				<td>Amazon</td>
				<td>16 cores, 8GB RAM, 300GB disk</td>
				<td>running</td>
			</tr>
			<tr>
				<td>Kate via NoMachine</td>
				<td>149.156.10.132</td>
				<td>CYFRONET</td>
				<td>2 cores, 2GB RAM, 20GB disk</td>
				<td>booting</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('button#shutdown').click(function() {
			if (!confirm("Are you sure?")) {
				return false;
			}
		});
	});
</script>