{% extends base_group %}

{%  block title %} About Vph-Share {% endblock %}



{% block page-title %}
        <span class="title">About</span>
        <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row"><div class="span6"><h3>About Us</h3><h6 style="color: black;">VPH-Share is an online environment for the construction of biomedical workflows. It is designed to help researchers, developers and clinicians quickly and easily share biomedical tools and data, to simplify
        and speed up the process. VPH-Share was created through a four-year, European FP7 funded project, which brought together 21 international partners from industry, academia and healthcare.</h6></div><div class="span6"><img class="img-rounded" src="/static/img/about.jpg"/></div> </div>
    <div class="row" style="margin-top:15px;">
    <div class="span12">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        <h3>What does VPH-Share do?<i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner row">
                        <div class="span9"><h6 style="color: black;">VPH-Share provides an online infrastructure which allows users to share and access biomedical data, tools, workflows and computing resources. The system offers all services with an high security layer in place and with full control on resources access in the hands of the data owner. Special attention during the development has been posed to usability issues so that even complex services can be easily accessed even by newcomers.</h6></div>
                        <div class="span2"><img src="/static/img/icons.jpg" /></div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <h3>Who uses VPH-Share? <i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <h6 style="color: black;">VPH-Share is the ideal platform for biomedical researchers who needs data for the valisation of their models, or who needs a specific algorithm or model to complete their data processing workflow. The platform could be also useful to clinicians who can use avaialble workflows for specific diagnosis support. All users can take advantage of the VPH-Share infrastucture also to make availabel data and models so to give them visibility and sustainability in the community.</h6>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        <h3>Our Workflows <i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <h6 style="color: black;">The VPH-Share projects already makes available thanks to its partners four exemplary workflows that have been used to test the platform and deployed from the early stages of the project. The workflows are: @neurist, VPHOP, euHeart, and Virolab.For more information see the description page on <a href="http://www.vph-share.eu/content/workflows">our website</a>.</h6>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        <h3>What is in-silico medicine? <i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                    </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <h6 style="color: black;">In silico medicine is the direct use of computer simulation in the diagnosis, treatment, or prevention of a disease. More specifically, in silico medicine implies modelling, simulation and visualisation of biological and medical processes in computers.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
