{% extends 'scs/base.html' %}

{%  block title %} About Vph-Share {% endblock %}



{% block page-title %}
        <span class="title">About</span>
        <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row"><div class="span6"><h3>About Us</h3><h6 style="color: black;">VPH-Share is an online environment for the construction of biomedical workflows. It is designed to help researchers, developers and clinicians quickly and easily share biomedical tools and data, to simplify
        and speed up the process. VPH-Share was created through a four-year, European FP7 funded project, which brought together 21 international partners from industry, academia and healthcare.</h6></div><div class="span6"><img class="img-rounded" src="/static/img/about.jpg"/></div> </div>
    <div class="row" style="margin-top:15px;">
    <div class="span12">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        <h3>What does VPH-Share do?<i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner row">
                        <div class="span9"><h6 style="color: black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec purus quis quam vehicula volutpat ut a lacus. Mauris est mi, pellentesque sed viverra in, mollis ut urna. Cras eu gravida libero. Nam rutrum fermentum purus, quis varius lorem ultricies ac. Curabitur massa lectus, vehicula id cursus eu, pretium a.</h6></div>
                        <div class="span2"><img src="/static/img/icons.jpg" /></div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        <h3>Who uses VPH-Share? <i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <h6 style="color: black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec purus quis quam vehicula volutpat ut a lacus. Mauris est mi, pellentesque sed viverra in, mollis ut urna. Cras eu gravida libero. Nam rutrum fermentum purus, quis varius lorem ultricies ac. Curabitur massa lectus, vehicula id cursus eu, pretium a.</h6>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        <h3>Our Workflows <i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <h6 style="color: black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec purus quis quam vehicula volutpat ut a lacus. Mauris est mi, pellentesque sed viverra in, mollis ut urna. Cras eu gravida libero. Nam rutrum fermentum purus, quis varius lorem ultricies ac. Curabitur massa lectus, vehicula id cursus eu, pretium a.</h6>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        <h3>What is in-silico medicine? <i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                    </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <h6 style="color: black;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec purus quis quam vehicula volutpat ut a lacus. Mauris est mi, pellentesque sed viverra in, mollis ut urna. Cras eu gravida libero. Nam rutrum fermentum purus, quis varius lorem ultricies ac. Curabitur massa lectus, vehicula id cursus eu, pretium a.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
