{% extends 'scs/base.html' %}

{%  block title %} Vph-Share Developers API{% endblock %}

{% block page-title %}
        <span class="title">Developers API</span>
        <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}

    <div class="row" style="margin-top:15px;">
        <div class="span10"><h2>Developers API</h2></div>
    </div>

    <div class="row" style="margin-top:15px;">
        <div class="span12">
            <div class="accordion" id="accordion1">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                            <h3>Authentication Ticket <i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                        </a>
                    </div>
                    <div id="collapse1" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% include 'scs_auth/api.html' %}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
                            <h3>Groups Management <i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                        </a>
                    </div>
                    <div id="collapse2" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% include 'scs_groups/api.html' %}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
                            <h3>Resource Access <i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                        </a>
                    </div>
                    <div id="collapse3" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% include 'scs_resources/api.html' %}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse4">
                            <h3>Notification Service<i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                        </a>
                    </div>
                    <div id="collapse4" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <h3>/api/notify</h3>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><strong>Description</strong></td>
                                    <td><p>Provides the service to notify a specific user or a group members.
                                        <br />When the service is invocated the user (or members group) receive an email and in the same time if it load a Master interface page, appears a message popup.
                                        <br />The notification service can be performed by passing the ticket, the recipient (username or groupid), message and the subject, as an URL parameters,
                                        <br />Returns status code 200 if the notification is delivered, 400 if there is a malformed request, however 403 error.</p></td>
                                </tr>
                                <tr>
                                    <td><strong>Url structure</strong></td>
                                    <td><code>{{ request.get_host }}/api/notify?ticket=<strong class="text-info">&lt;ticket&gt;</strong>&recipient=<strong class="text-info">&lt;recipient&gt;</strong>&message=<strong class="text-info">&lt;message&gt;</strong>&subject=<strong class="text-info">&lt;subject&gt;</strong></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Method</strong></td>
                                    <td>GET</td>
                                </tr>
                                <tr>
                                    <td><strong>Parameters</strong></td>
                                    <td>
                                        <dl>
                                            <dt>ticket</dt><dd>your authentication ticket<span class="label">required</span></dd>
                                            <dt>recipient</dt><dd>the username or group id<span class="label">required</span></dd>
                                            <dt>message</dt><dd>the content of notification<span class="label">required</span></dd>
                                            <dt>subject</dt><dd>you have the possibility to specify a notification subject, if need<span class="label">optional</span></dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Returns</strong></td>
                                    <td>
                                        <div class="alert alert-success">
                                            <strong>Status code 200</strong>
                                        </div>
                                        <div class="alert alert-error">
                                            <p><strong>Status code 403</strong> Ticket not valid</p>
                                            <p><strong>Status code 400</strong> Malformed request</p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse5">
                            <h3>Workflow<i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                        </a>
                    </div>
                    <div id="collapse5" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <h3>/api/workflows</h3>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><strong>Description</strong></td>
                                    <td><p>Provides a set of API to manage workflows.
                                        <br/> To have access to the API, it is needed to add in the header the argument 'MI-TICKET' with the corresponding ticket requestor.
                                    </p></td>
                                </tr>
                                <tr>
                                    <td><strong>Url structure</strong></td>
                                    <td><code>{{ request.get_host }}/api/workflows</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Method</strong></td>
                                    <td>GET</td>
                                </tr>
                                <tr>
                                    <td><strong>Returns</strong></td>
                                    <td>
                                        <div class="alert alert-success">
                                            <strong>Status code 200</strong>
                                            List of accessible workflows.
                                            <pre>
[
    {
        "t2flow": "base64_of_file",
        "input_definition": "base64_of_file",
        "global_id": "3940276e-6067-45ba-baf9-b3191c12f794",
        "metadata": {
            "category": "Test",
            "rating": "0",
            "updated_date": "1985-10-25 14:50:19.236",
            "description": "Test description",
            "author": "author",
            "views": "9",
            "tags": null,
            "global_id": "3940276e-4067-45ba-baf9-b3191c12f794",
            "creation_date": "1985-10-25 14:50:19.236",
            "local_id": "12",
            "status": "active",
            "licence": "BSD",
            "semantic_annotations": null,
            "type": "Workflow",
            "name": "SCS_TEST_MASTER1"
        }
    }

]
                                            </pre>
                                        </div>
                                        <div class="alert alert-error">
                                            <p><strong>Status code 401</strong> Ticket not valid or expired</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Url structure</strong></td>
                                    <td><code>{{ request.get_host }}/api/workflows/<strong class="text-info">&lt;global_id&gt;</strong>/</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Method</strong></td>
                                    <td>GET</td>
                                </tr>
                                <tr>
                                    <td><strong>Returns</strong></td>
                                    <td>
                                        <div class="alert alert-success">
                                            <strong>Status code 200</strong>
                                            Get the workflow by global_id
                                            <pre>
{
    "t2flow": "base64_of_file",
    "input_definition": "base64_of_file",
    "global_id": "3940276e-6067-45ba-baf9-b3191c12f794",
    "metadata": {
        "category": "Test",
        "rating": "0",
        "updated_date": "1985-10-25 14:50:19.236",
        "description": "Test description",
        "author": "author",
        "views": "9",
        "tags": null,
        "global_id": "3940276e-4067-45ba-baf9-b3191c12f794",
        "creation_date": "1985-10-25 14:50:19.236",
        "local_id": "12",
        "status": "active",
        "licence": "BSD",
        "semantic_annotations": null,
        "type": "Workflow",
        "name": "SCS_TEST_MASTER1"
    }
}
                                            </pre>
                                        </div>
                                        <div class="alert alert-error">
                                            <p><strong>Status code 401</strong> Ticket not valid</p>
                                            <p><strong>Status code 404</strong> Workflow not found</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Url structure</strong></td>
                                    <td><code>{{ request.get_host }}/api/workflows/<strong class="text-info">&lt;global_id&gt;</strong>/</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Method</strong></td>
                                    <td>DELETE</td>
                                </tr>
                                <tr>
                                    <td><strong>Returns</strong></td>
                                    <td>
                                        <div class="alert alert-success">
                                            <strong>Status code 204</strong>
                                        </div>
                                        <div class="alert alert-error">
                                            <p><strong>Status code 401</strong> Ticket not valid</p>
                                            <p><strong>Status code 400</strong> Malformed request</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Url structure</strong></td>
                                    <td><code>{{ request.get_host }}/api/workflows</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Method</strong></td>
                                    <td>POST</td>
                                </tr>
                                <tr>
                                    <td><strong>Parameters</strong></td>
                                    <td>
                                        <dl>
                                            <dt>name</dt><dd>The name of the workflow<span class="label">required</span></dd>
                                            <dt>description</dt><dd>The description of the workflow<span class="label">required</span></dd>
                                            <dt>category</dt><dd>The category of the workflow<span class="label">required</span></dd>
                                            <dt>tags</dt><dd>tags separated by comma</dd>
                                            <dt>semantic_annotations</dt><dd>semantic annotation URI separated by comma</dd>
                                            <dt>licence</dt><dd>Set the type of licence (BSD, GPL, etc..)<span class="label">required</span></dd>
                                            <dt>t2flow</dt><dd>the TAverna definition file (.t2flow)<span class="label">required</span></dd>
                                            <dt>xml</dt><dd>The input definition file (.xml)<span class="label">required</span></dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Returns</strong></td>
                                    <td>
                                        <div class="alert alert-success">
                                            <strong>Status code 200</strong> Returns the global_id of the new workflow
                                            <pre>&lt;global_id&gt;</pre>
                                        </div>
                                        <div class="alert alert-error">
                                            <p><strong>Status code 401</strong> Ticket not valid</p>
                                            <p><strong>Status code 400</strong> Malformed request</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Url structure</strong></td>
                                    <td><code>{{ request.get_host }}/api/workflows/<strong class="text-info">&lt;global_id&gt;</strong>/</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Method</strong></td>
                                    <td>PUT</td>
                                </tr>
                                <tr>
                                    <td><strong>Parameters</strong></td>
                                    <td>At least one of the POST parameters to update</td>
                                </tr>
                                <tr>
                                    <td><strong>Returns</strong></td>
                                    <td>
                                        <div class="alert alert-success">
                                            <strong>Status code 201</strong>
                                        </div>
                                        <div class="alert alert-error">
                                            <p><strong>Status code 401</strong> Ticket not valid</p>
                                            <p><strong>Status code 400</strong> Malformed request</p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- starts here --> 
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse5">
                            <h3>Workflow Manager<i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                        </a>
                    </div>
                    <div id="collapse5" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <h3>/api/wfmng</h3>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><strong>Description</strong></td>
                                    <td><p>Provides a set of API to execute workflows remotely.
                                        <br/> To have access to the API, it is needed to add in the header the argument 'MI-TICKET' with the corresponding ticket requestor.
                                    </p></td>
                                </tr>
                                <tr>
                                    <td><strong>Url structure</strong></td>
                                    <td><code>{{ request.get_host }}/api/wfmng/submit</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Method</strong></td>
                                    <td>POST</td>
                                </tr>
                               <tr>
                                    <td><strong>Parameters</strong></td>
                                    <td>
                                        <dl>
                                            <dt>global_id</dt><dd>The global id of the workflow to be submitted in the metadata catalogue<span class="label">required</span></dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Returns</strong></td>
                                    <td>
                                        <div class="alert alert-success">
                                            <strong>Status code 200</strong> 
                                            The specified workflow was successfully submitted and started. Returns the execution id of the running workflow <pre>&lt;wfrun_id&gt;</pre>
                                        </div>
                                        <div class="alert alert-error">
                                            <p><strong>Status code 401</strong> Ticket not valid or expired</p>
                                            <p><strong>Status code 400</strong> Malformed request</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Url structure</strong></td>
                                    <td><code>{{ request.get_host }}/api/wfmng/<strong class="text-info">&lt;wfrun_id&gt;</strong>/</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Method</strong></td>
                                    <td>GET</td>
                                </tr>
                                <tr>
                                    <td><strong>Returns</strong></td>
                                    <td>
                                        <div class="alert alert-success">
                                            <strong>Status code 200</strong>
                                            Gets the execution status of the workflow with execution id wfrun_id
                                            <pre>
{
    "workflowId": "1708",
    "endpoint": "http://web-2355.vph.cyfronet.pl/taverna-server/rest/runs",
    "startTime": "2014-03-19T15:01:07.023+01:00",
    "stdout": "",
    "asConfigId": "338",
    "is_running": true,
    "expiry": "2014-03-20T15:00:44.000+01:00",
    "Finished": "",
    "stderr": "",
    "error": false,
    "executionstatus": 7,
    "outputfolder": "/8e5dec8b-42cd-49ec-a5f8-c60202ae203d/",
    "error_msg": "",
    "exitcode": ""
}
                                            </pre>
                                        </div>
                                        <div class="alert alert-error">
                                            <p><strong>Status code 401</strong> Ticket not valid</p>
                                            <p><strong>Status code 400</strong> Malformed request</p>
                                        </div> 
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Url structure</strong></td>
                                    <td><code>{{ request.get_host }}/api/wfmng/<strong class="text-info">&lt;wfrun_id&gt;</strong>/</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Method</strong></td>
                                    <td>DELETE</td>
                                </tr>
                                <tr>
                                    <td><strong>Returns</strong></td>
                                    <td>
                                        <div class="alert alert-success">
                                            <strong>Status code 200</strong>  Returns 'true' is the deletion of the workflow with execution id wfrun_id was successful
                                        </div>
                                        <div class="alert alert-error">
                                            <p><strong>Status code 401</strong> Ticket not valid</p>
                                            <p><strong>Status code 400</strong> Malformed request</p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ends here --> 
            </div>
       </div>
    </div>

{% endblock %}
