{% load scs_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>
        {%  block title %}
            Welcome to Vph-Share Master Interface
        {% endblock %}
    </title>

   	<link href='http://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'/>
   	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
   	{% block stylesheets %}
    {% endblock %}

    <script src="/static/jquery-1.7.1.min.js"></script>
    <script src="/static/jquery.tools.min.js"></script>
    {% block javascripts %}
    {% endblock %}

    <script src="/static/scs.js"></script>

    {% block extrahead %} {% endblock %}

</head>
<body>
<div id="wrapper">

    {% if not request.is_ajax %}

        {% block header %}
            <header id="header">
                <a href="/"><img id="logo-left" src="/static/logo.png" alt="VphShare" /></a>
                <a href="/"><img id="logo-right" src="/static/logo.png" alt="VphShare" /></a>

                {% block nav %}
                    <nav>
                        <li class="current-menu-item"><a href="/">Home</a></li>

                        {% if request.user.is_authenticated %}
                            <li><a href="/cyfronet/cloudmanager/">Cloud Manager</a></li>
                            <li><a href="/cyfronet/datamanager/">Data Manager</a></li>
                            <li><a href="/scs/workflows/">Workflows</a></li>
                        {% endif %}

                        <li><a href="/scs/services">Services</a></li>
                        <li><a href="/scs/contacts">Contact</a></li>
                        <li><a href="/scs/help">Help</a></li>
                    </nav>
                {% endblock %}

                <div class="top-search">
                    <form  method="get" id="searchform" action="#">
                        <div>
                            <input type="text" value="Search..." name="s" id="s" />
                            <input type="submit" id="searchsubmit" value=" " />
                        </div>
                    </form>
                </div>

                <div id="headline">
                    <span>Welcome to the Vph-Share Master Interface</span>
                </div>

                <div id="breadcrumbs">

                    <span>you are here: &nbsp;</span> <a href="/" title="Home">Home</a>
                    {%  for crumb in request.path|breadcrumbs %}
                        <a href="{{ crumb.url }}" title="{{ crumb.name }}">{{ crumb.name }}</a>
                    {% endfor %}
                </div>

                <div id="login">
                    {% block login %}
                        {% if not request.user.is_authenticated %}
                            <div>
                                <span>Login with your Identity Provider: </span>
                                <a class="popup" id="btlogin" rel="#overlay" href="/scs_auth/bt_login">
                                    <img src="/static/biomedtown_32.png" alt="bt" title="login with your BiomedTown identity"/>
                                </a>

                                <a class="popup" id="authlogin" rel="#overlay" href="/scs_auth/auth_login">
                                    <img src="/static/auth_logo_32.png" alt="bt" title="login with your Authentication module"/>
                                </a>

                                <!--<a id="googlelogin" class="popup" rel="#overlay" href="/login/google">
                                    <img src="/static/google_32.png" alt="google" title="login with your Google identity" />
                                </a>-->
                                <a class="unavailable"><img src="/static/google_32.png" alt="google" title="login with your Google identity" /></a>
                                <a class="unavailable"><img src="/static/facebook_32.png" alt="facebook" title="facebook coming soon" /></a>
                                <a class="unavailable"><img src="/static/twitter_32.png" alt="twitter" title="twitter coming soon"/></a>
                                <!--<a><img src="/static/linkedin_32.png" alt="linkedin" title="linkedin coming soon"/></a>
                                <a><img src="/static/github_32.png" alt="github" title="github coming soon"/></a>-->

                            </div>

                        {% else %}
                            <span>Hi, {{ request.user.first_name|default:"Friend"}}!</span>
                            <a href="/profile/">Profile</a>
                            <a href="/logout/">Logout</a>
                        {% endif %}
                    {% endblock %}
                </div>
            </header>
        {% endblock %}

        <div class="errormessage"><span id="errormessage">{{ errormessage  }}</span></div>
        <div class="statusmessage"><span id="statusmessage">{{ statusmessage  }}</span></div>

    {% endif %}



    <div id="main">
        <div id="content">
            <div id="page-title">
                {% block page-title %} {% endblock %}
            </div>

            <div id="page-content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    {% if not request.is_ajax %}
        {% block footer %}
            <div id="footer">
                <ul id="footer-cols">
                    <li class="col">
                        <h6>About the Project</h6>
                        <p>VPH-Share will develop the organisational fabric (the infostructure) and integrate the optimised services to expose and share data and knowledge,
                            jointly develop multiscale models for the composition of new VPH workflows and facilitate collaborations within the VPH community</p>
                    </li>
                </ul>
                <div id="bottom">
                    <span>temporary theme courtesy of <a target="_blank" href="http://luiszuno.com/blog/">Luiszuno</a></span>
                    <span>&dash;</span>
                    <span>application developed by <a href="http://www.scsitaly.com/">SCS</a></span>
                    <span>&dash;</span>
                    <span>powered by <a href="https://www.djangoproject.com/">Django</a></span>
                </div>
            </div>
        {% endblock %}
    {% endif %}

</div>
</body>
</html>

