{% load scs_extras %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>
        {%  block title %}
            Welcome to VPH-Share Master Interface
        {% endblock %}
    </title>

   	<link href='http://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'/>

   	{% block stylesheets %}
    {% endblock %}

    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />


    <link href="/static/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet"/>
    <script src="/static/jquery-1.8.3.js"></script>
    <script src="/static/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/static/jquery.tools.min.js"></script>
    <script src="/static/scs.js"></script>

    <!-- START bootstrap  -->

    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/bootstrap/bootstrap-responsive.css" type="text/css" media="screen" />
    <script src="/static/bootstrap.min.js" type="text/javascript"></script>
    <!-- END bootstrap  -->

    <style type="text/css">
        body{
            font-family: 'Ubuntu','sans-serif';
        }
    </style>
    {% block javascripts %} {% endblock %}

    {% block extrahead %} {% endblock %}
</head>
<body>
    {% if not request.is_ajax %}

        {% block header %}
            <header id="header">
                <img id="logo-left" src="/static/logo-web.png"/>
                <div id="page-title-wrapper">
                    <div id="page-title">
                        {% block page-title %} {% endblock %}
                    </div>
                </div>

                <div id="breadcrumbs-wrapper">
                    <ul id="breadcrumbs" class="breadcrumb">
                        <li>You are here: <a href="/" title="Home">Home</a> <span class="divider">/</span></li>
                        {%  for crumb in request.path|breadcrumbs %}
                            <li {% if cycle.last %}class="active"{% endif %}><a href="{{ crumb.url }}" title="{{ crumb.name }}">{{ crumb.name }}</a><span class="divider">/</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </header>
        {% endblock %}
    {% endif %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span2">

                    {% block nav %}

                        <ul id="main-nav" class="nav nav-tabs nav-stacked">
                            <li class="active" id="navhome"><a href="/"><i class="icon-home icon-white"></i>Home</a></li>

                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                    <li class="list-parent">
                                        <div>
                                            <div id="search-menu-link"><i class="icon-search icon-white"></i>Search</div>
                                            <ul id="search-submenu" >
                                                <li><a id="automatic-search" href="/search/"><i class="icon-search icon-white"></i>Automatic</a>
                                                <li><a id="guided-search" href="/search/"><i class="icon-search icon-white"></i>Guided</a>
                                                <li><a id="complex-query-search" href="/search/"><i class="icon-search icon-white"></i>Complex Query</a>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="list-parent"><a href="/scs/users_admin/"><i class="icon-share icon-white"></i>Share</a></li>
                                    <li class="list-parent"><a href="/cyfronet/cloudmanager/"><i class="icon-th-large icon-white"></i>Cloud Management</a></li>
                                    <li class="list-parent"><a href="/cyfronet/datamanager/"><i class="icon-th-list icon-white"></i>Data Management</a></li>
                                {% endif %}
                                <li><a href="/scs/workflows/"><i class="icon-tasks icon-white"></i>Workflows</a></li>
                            {% endif %}

                            <li><a href="/scs/contacts"><i class="icon-envelope icon-white"></i>Contact</a></li>
                            <li><a href="/scs/help"><i class="icon-info-sign icon-white"></i>Help</a></li>
                        </ul>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                {% block login %}
                                    {% if not request.user.is_authenticated %}
                                        <a class="popup" id="btlogin" rel="#overlay" href="/scs_auth/bt_login" onclick="event.preventDefault();$('#overlay').load();">
                                            <span>Login with <img style="position:relative; top:-3px" src="/static/biomedtown_24.png" alt="bt" title="login with your BiomedTown identity"/> </span>
                                        </a>


                                    {% else %}
                                        <span>Hi, {{ request.user.first_name|default:"Friend"}}!</span>
                                        <a href="/profile/">Profile</a>
                                        <a  class="popup" rel="#overlay" href="/logout">Logout</a>
                                    {% endif %}
                                {% endblock %}
                            </li>
                        </ul>


                    {% endblock %}
                </div>
                <div id="page-content" class="span9">
                    {% if errormessage %}<div class="alert alert-error"><span id="errormessage">{{ errormessage  }}</span></div>{% endif %}
                    {% if statusmessage %}<div class="alert alert-success"><span id="statusmessage">{{ statusmessage  }}</span></div>{% endif %}
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% if not request.is_ajax %}
        {% block footer %}
            <footer>
                <div id="bottom">
                    <span>application developed by <a href="http://www.scsitaly.com/">SCS</a></span>
                    <span>&dash;</span>
                    <span>powered by <a href="https://www.djangoproject.com/">Django</a></span>
                </div>
            </footer>
        {% endblock %}
    {% endif %}
</body>
</html>

