{% extends 'scs/base.html' %}

{%  block title %} Beta users programme {% endblock %}



{% block page-title %}
        <span class="title">Beta programme</span>
        <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row"><div class="span6"></br></br><h6 style="color: black;">The active involvement of end-users is a key aspect of the VPH-Share project. For this reason a beta programme has been set-up and will be running from 2014 and for the whole last year of the project.</h6></div><div class="span6"><img class="img-rounded" src="/static/img/about.jpg"/></div> </div>
    <div class="row" style="margin-top:15px;">
        <div class="span10">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            <h3>The beta users programme<i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <h6 style="color: black;">The VPH-Share services and tools have been continuously tested and verified by the project partners during the whole development phase.
                           However, VPH-Share has the ambition at the end of its effort to provide to the community a set of tools that will help the VPH and biomedical community in sharing information and build new knowledge.</h6>
                            </br><h6 style="color: black;">For these reasons, the VPH-Share services will be open to use to beta users from the beginning of 2014.</h6>
                            </br><h6 style="color: black;">Beta users will have accessed to VPH-Share services from their early release and their feedbacks will be taken into consideration for the bug fxing and further development phase.</h6>
                       </br><h6 style="color: black;">Soon pages reporting the list of features and bug fixing already in the development chain will be made publicly available.</h6>
                        </div>
                    </div>
                </div>
              <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            <h3>How to get involved<i style="zoom: 1.5;" class="icon-chevron-down pull-right"></i></h3>
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <h6 style="color: black;">If you would like to be part of our Beta Users programme, have advanced access to new features, be able to influence the further developments priorities and be part of an active and stimulating working group, just write us an email at: support@vph-share.eu</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}
