{% extends base_group %}

{%  block title %} Welcome to the Vph-Share Master Interface {% endblock %}

{% block page-title %}
    <span class="title">Contact us!</span>
    <span class="subtitle">Send an email to the Master Interface developers</span>
{% endblock%}

{%  block content %}


        <form id="contact" action="/scs/contacts/" method="POST" class="form-horizontal">
            {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="name">Your Name</label>
            <div class="controls">
                <input id="name" type="text" maxlength="50" value="{{ request.user.first_name|default:""}}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Your Email</label>
            <div class="controls">
                <input id="email" type="text" maxlength="50" value="{{ request.user.email|default:""}}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="subject">Subject</label>
            <div class="controls">
                <input id="subject" type="text" maxlength="50" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="message">Message</label>
            <div class="controls">
                <textarea id="message"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn">Send!</button>
            </div>
        </div>
    </form>


{% endblock %}
