{% extends 'scs/base.html' %}

{%  block title %} Data - Vph-Share {% endblock %}



{% block page-title %}
    <span class="title">Data</span>
    <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row"><div class="span12 text-center"><h1><p>Biomedical Data at your Fingertips</p></h1></div></div>
    <div class="row"><div class="span8"><h6>Whether you are looking for data to use in research, development, or clinical practice or the owner of data, wishing to share it with the community, VPH-Share will provide you with the right tools for the job. Our rich data library has been populated by an array of VPH research projects, allowing users to search for data from across the complete range of biological sub-systems. VPH-Share supports data owners upload data and manage the sharing process.</h6></div><div class="span4"><img class="img-rounded" src="/static/img/data_logo6.jpg"/></div> </div>
    <div class="row row-contet">
        <div class="span9" style="margin-top:15px;">
            <div class="row" style="padding-bottom: 20px;"><div class="span5"><h6><p><b>Browse Data</b></p><p>Browse or view an A-Z list of available VPH data sets.</p></h6></div><div class="span4"><a href="/data/search-data/"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo1.png"/></a></div> </div>
            <div class="row" style="padding-bottom: 20px;"><div class="span5"><h6><p><b>Search Data</b></p><p>Search for available VPH data sets.</p></h6></div><div class="span4"><a href="/search/"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo1.png"/></a></div> </div>
            <div class="row" style="padding-bottom: 20px;"><div class="span5"><h6><p><b>Upload Data</b></p><p>Upload both structured or unstructured data sets, using our specially designed applications.</p></h6></div><div class="span4"><a href="/data/upload-data/"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo2.png"/></a></div> </div>
            <div class="row" style="padding-bottom: 20px;"><div class="span5"><h6><p><b>Dashboard</b></p><p>Manage your data, set access permissions, control meta-data tags and view usage statistics.</p></h6></div><div class="span4"><a href="/data/manage-data/"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo3.png"/></a></div> </div>
        </div>
        <div class="span3 rigth-list" >
            <div class="popover-list">
                <div class="popover-content">
                    <p><i class="icon-bookmark"></i><b>Documents</b></p>
                    <p>Data Sharing Policy</p>
                    <p>Use of Data Guidelines</p>
                </div>

            </div>
            <div class="popover-list">
                <div class="popover-content">
                    <p><i class="icon-th"></i><b>Applications</b></p>
                    {% if request.user.is_authenticated %}
                        <p><a href="/static/Data Publication Suite v1.1-b4.msi">Data Publications Suite (DPS)</a></p>
                        <p><a href="/static/VPH-Share_DPS_Dataset.zip">DPS Test DataSet</a></p>
                    {% else %}
                    <p>Data Publications Suite (login required)</p>
                    {% endif %}
                    <p><a href="/lobcder">LOBCDER</a></p>
                    <p><a href="/lobcderquery">LOBCDER Search</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
