
<html>
<head>
    <meta charset="utf-8">

    <title>
        Login with BiomedTown OpenID provider
    </title>
    <script src="/static/jquery-1.7.1.min.js"></script>
    <script src="/static/jquery.tools.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />

    <script type="text/javascript">

        function closeFrame(){
            var iframe = window.parent.document.getElementById('btloginiframe');
            $(iframe).hide();
            window.parent.location.reload();
        }

        $(document).ready(
                function(){
                    closeFrame();
                }
        );
    </script>

</head>
<body class="loginbody" style="overflow-y: hidden;">

<br />
<h4> Dear {{ request.user.first_name|default:"Friend"}}, your login attempt has been successful</h4>

</body>
</html>
