{% extends 'scs/base.html' %}

{%  block title %} Welcome to the Vph-Share Master Interface {% endblock %}

{% block page-title %}
    <span class="title">Need help?</span>
{% endblock%}

{%  block content %}

    <p>If you are a service developer, please visit the readme page at the Master Interface <a href="https://github.com/b3c/vphshare">github page</a></p>
    <p>If you did not find what you were looking for, please <a href="mailto:web.developers@scsitaly.com">send us an email</a></p>

{% endblock %}