{% extends 'scs/base.html' %}

{%  block title %} Welcome to the Vph-Share Master Interface {% endblock %}



{% block page-title %}
    <span class="title">Login Required!</span>
    <span class="subtitle"></span>
{% endblock%}

{%  block content %}

    {% if not request.user.is_authenticated %}
        <div class="well" style="margin:50px;">
            <div class="alert alert-danger"><h3>A valid user is required!</h3></div>
            <p>Please login to access to the requested resource by clicking <button onclick="$('#login').popover('show');" class="btn btn-link">here</button>.</p>
        </div>
        
    {% else %}
        <div class="well" style="margin:50px;">
            <div class="alert alert-success"><h3>Thanks, {{ request.user.first_name|default:"Friend"}}</h3></div>
            <p>If not redirect automatically, continue to the requested resource by clicking <a href="{{ next }}">here</a></p>
        </div>
        
    {% endif %}

{% endblock %}