{% extends 'scs/base.html' %}

{%  block title %}Infrastructure status {% endblock %}



{% block page-title %}
        <span class="title">Infrastructure status</span>
        <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row-fluid">
        <div class="span12">
            <div>If you don't see the page below <a href="https://ec2-54-217-240-87.eu-west-1.compute.amazonaws.com/nagios/cgi-bin/status.cgi?host=all" target="_blank">click here</a></div>
            <iframe src="https://ec2-54-217-240-87.eu-west-1.compute.amazonaws.com/nagios/cgi-bin/status.cgi?host=all" frameborder="0" style="width: 100%;min-height: 500px;height: 100%"></iframe>
        </div>
    </div>
{% endblock %}
