{% extends 'scs/base.html' %}

{%  block title %} VPH­Share ­ Privacy Policy {% endblock %}



{% block page-title %}
        <span class="title">VPH­Share ­ Privacy Policy</span>
        <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row">
        <div class="span12">
            <h3>VPH­Share ­ Privacy Policy</h3>
            <p>
This Privacy Policy is effective 1 April 2013.
VPH­Share is committed to protecting the privacy of your information. We provide this Privacy
Policy to inform users of our policies and procedures regarding the collection, use and
disclosure of personally identifiable information collected via our Websites, emails or other
means. This Privacy Policy may be updated from time to time for any reason, at our sole
discretion. We will notify you of any material changes to our Privacy Policy by posting the new
Privacy Policy on our Website. You are advised to consult this Privacy Policy regularly for any
changes. By using or accessing our Websites, you are accepting the practices described in
this Privacy Policy, and you are consenting to our processing of your information as set forth in
this Privacy Policy now and as amended by us.
If you have any questions or comments about this Privacy Policy or our use of your personally
identifiable information, please contact us at <a mailto="privacy@vph­share.eu">privacy@vph-share-eu</a>.
           </p>
<h3>1. Web Sites Covered</h3>
            <p>
This Privacy Statement covers the information practices of the following websites:
1. http://*.vph­share.eu/
2. http://*.vph­share.org/
                </p>
<h3>2. Information Collected</h3>
            <p>
VPH­Share offers a variety of services that are collectively referred to as the “Services.”
VPH­Share collects information from individuals who visit the Company’s Web site (“Visitors”)
and individuals who register to use the Services (“Users”).
When expressing an interest in obtaining additional information about its Services or registering
to use its Services, VPH­Share requires you to provide VPH­Share and it's partnered Identity
Provider BiomedTown with personal contact information, such as name, Institution name,
address, phone number, and email address (“Required Contact Information”). After registration,
you may also provide us information in the Content and Application(s) you post to the
VPH­Share Catalogue.
As you navigate our Websites, VPH­Share may also collect information through the use of
commonly used information­gathering tools, such as cookies and Web beacons (“Web Site
Navigational Information”). Web Site Navigational Information includes standard information from
your Web browser (such as browser type and browser language), your Internet Protocol (“IP”)
address, and the actions you take on the Company’s Web site (such as the Web pages viewed
and the links clicked).
                </p>
<h3>3. Use of Information Collected</h3>
            <p>
VPH­Share uses Data about its Users to perform the services requested. For example, if you fill
out a “Contact Me” Web form, VPH­Share will use the information provided to contact you about
your interest in the Services.
VPH­Share may also use Data about its Users for marketing purposes. For example,
VPH­Share may use information you provide to contact you to further discuss your interest in
the Services and to send you information regarding VPH­Share and its partners, such as
information about promotions or events.
Following termination or deactivation of your account, VPH­Share may retain your profile
information, Content, and Application(s) for a reasonable amount time for backup, archival, oraudit purposes. Furthermore, VPH­Share may retain and continue to use indefinitely all Content
contained in your communications to other users or posted to public or semi­public areas of the
Service after termination or deactivation of your account.
VPH­Share may use certain information about you and/or your Application internally for
purposes such as analysing how the Service is used, diagnosing service or technical problems,
maintaining security, and personalizing content.
VPH­Share reserves the right, but has no obligation, to monitor or remove the Content you post
on the Service if in our sole opinion such Content violates, or may violate, any applicable law or
our Terms of Service, or to protect or defend our rights or property or those of any third party.
VPH­Share also reserves the right to remove Content upon the request of any third party.
VPH­Share uses Web Site Navigational Information to operate and improve VPH­Share’s Web
site. VPH­Share may also use Web Site Navigational Information alone or in combination with
Data About VPH­Share Users to provide personalized information about VPH­Share.
                </p>
<h3>4. Web Site Navigational Information</h3><p>
VPH­Share uses commonly used information­gathering tools, such as cookies and Web
beacons, to collect information as you navigate the Company’s Web site (“Web Site
Navigational Information”). This section describes the types of Web Site Navigational Information
that may be collected on the Company’s Web site and how this information may be used.
</p><h3 id="cookies">4.1 Cookies</h3><p>
VPH­Share uses cookies to make interactions with VPH­Share’s Website easy and meaningful.
When you visit VPH­Share’s Website, VPH­Share's servers send a cookie to your computer.
Standing alone, cookies do not personally identify you. They merely recognize your Web
browser. Unless you choose to identify yourself to VPH­Share, either by opening an account, or
filling out a Web form (such as a “Contact Me” Web form), you remain anonymous to the
Company. VPH­Share uses cookies that are session­based and persistent­based. Session
cookies exist only during one session. They disappear from your computer when you close your
browser software or turn off your computer. Persistent cookies remain on your computer after
you close your browser or turn off your computer.
If you have chosen to identify yourself to VPH­Share, VPH­Share uses session cookies
containing encrypted information to allow the Company to uniquely identify you. Each time you
log into its Services, a session cookie containing an encrypted, unique identifier that is tied to
your account is placed your browser. These session cookies allow VPH­Share to uniquely
identify you when you are logged into to use its Services and to process your online requests
and transactions. Session cookies are required to use the Services.
VPH­Share uses persistent cookies that only the Company can read and use to identify
browsers that have previously visited VPH­Share’s Web site. When you provide the Company
with personal information, a unique identifier is assigned you. This unique identifier is associated
with a persistent cookie that VPH­Share places on your Web browser. The Company is
especially careful about the security and confidentiality of the information stored in persistent
cookies. For example, VPH­Share does not store personal information or passwords in
persistent cookies. If you disable your Web browser’s ability to accept cookies, you will be able
to navigate VPH­Share’s Web site, but you will not be able to successfully use its Services.
VPH­Share may use information from session and persistent cookies in combination with Data
About VPH­Share Users to provide you with information about VPH­Share and its Services.
</p><h3>4.2 Web Beacons</h3><p>
            VPH­Share uses Web beacons alone or in conjunction with cookies to compile information
about Users and Visitors’ usage of VPH­Share’s Website and interaction with emails from
VPH­Share. Web beacons are clear electronic images that can recognize certain types of
information on your computer, such as cookies, when you viewed a particular Web site tied to
the Web beacon, and a description of a Website tied to the Web beacon. For example,
VPH­Share may place Web beacons in marketing emails that notify VPH­Share when you click
on a link in the email that directs you to one of VPH­Share’s Web site. VPH­Share uses Web
beacons to operate and improve VPH­Share’s Website and email communications.
VPH­Share may use information from Web beacons in combination with Data About VPH­Share
Users to provide you with information about VPH­Share and its Services.
</p><h3>4.3 IP Addresses</h3><p>
When you visit VPH­Share’s Website, VPH­Share collects your Internet Protocol (“IP”)
addresses to track and aggregate non­personal information. For example, VPH­Share uses IP
addresses to monitor the regions from which Users and Visitors navigate VPH­Share’s Website.
</p><h3>4.4 Third Party Cookies</h3><p>
From time­to­time, VPH­Share engages third parties to track and analyse usage and volume
statistical information from individuals who visit VPH­Share’s Website. The information provided
to third parties does not include personal information, but this information may be re­associated
with personal information after VPH­Share receives it.
<p>
Most web browsers allow some control of most cookies through the browser settings. To find out
more about cookies, including how to see what cookies have been set and how to manage and
delete them, visit <a href="www.allaboutcookies.org">www.allaboutcookies.org</a>
</p>

</p><h3>5. Public Forums, Refer a Friend, and User Testimonials</h3><p>
VPH­Share may provide bulletin boards, blogs, or chat rooms on VPH­Share’s Website. Any
personal information you choose to submit in such a forum may be read, collected, or used by
others who visit these forums, and may be used to send you unsolicited messages. VPH­Share
is not responsible for the personal information you choose to submit in these forums.
Users and Visitors may elect to use VPH­Share’s referral program to inform friends about
VPH­Share Company’s Website. When using the referral program, VPH­Share will request the
friend’s name and email address. VPH­Share will automatically send the friend a one­time email
inviting him or her to visit VPH­Share’s Web site. VPH­Share does not store this information.
VPH­Share may post a list of Users and testimonials on VPH­Share’s Web site that contain
information such as User names and titles. VPH­Share obtains the consent of each User prior
to posting any information on such a list or posting testimonials.
</p><h3>6. Sharing of Information Collected</h3><p>
VPH­Share may share Data About VPH­Share Users with trusted Service Provider (i) with your
consent or (ii) for the purpose of providing the Service to you. We may store personal
information in locations outside the direct control of VPH­Share (for instance, on servers in the
cloud). Unless described in this privacy statement, VPH­Share does not share, sell, rent, or
trade any information provided with third parties for their promotional purposes.
As we develop our services, we may buy or sell assets or business offerings. User, email, and
visitor information is generally one of the transferred business assets in these types of
transactions. VPH­Share may also transfer or assign such information in the course of
corporate divestitures, mergers, or dissolution. [VPH Institute Legacy]
If you invite another user to share your Content or Application, we will share the Application and
associated Content with that user. You can change your Sharing Settings at any time in your
Profile page. Any Content that you voluntarily disclose for posting to public areas of the Service
becomes available to the public. If you remove information that you posted to the Service,
copies may remain viewable in cached and archived pages of the Service, or if other users havecopied or saved that information.
From time to time, VPH­Share may partner with other companies and organisations to jointly
offer products or services. If you specifically express interest in a jointly offered product or
service from VPH­Share, VPH­Share may share Data About VPH­Share Users collected in
connection with your expression of interest with our joint promotion partner(s). VPH­Share does
not control our business partners’ use of the Data About VPH­Share Users we collect, and their
use of the information will be in accordance with their own privacy policies. If you do not wish for
your information to be shared in this manner, you may opt not to specifically express interest in
a jointly offered product or service.
Except as otherwise described in this Privacy Policy, VPH­Share will not disclose personal
information to any third party unless required to do so by law or subpoena or if we believe that
such action is necessary to (a) conform to the law, comply with legal process served on us or
our affiliates, or investigate, prevent, or take action regarding suspected or actual illegal
activities; (b) to enforce our Terms of Service, take precautions against liability, to investigate
and defend ourselves against any third­party claims or allegations, to assist government
enforcement agencies, or to protect the security or integrity of our site; and (c) to exercise or
protect the rights, property, or personal safety of VPH­Share, our users or others.
VPH­Share may share non­personally identifiable information (such as anonymous usage data,
referring/exit pages and URLs, platform types, number of clicks, etc.) with interested third
parties to help them understand the usage patterns for certain VPH­Share services.
</p><h3>7. International Transfer of Information Collected</h3><p>
To facilitate VPH­Share's global operations, VPH­Share may transfer and access Data About
VPH­Share Users from around the world. This Privacy Statement shall apply even if VPH­Share
transfers Data About VPH­Share Users to other countries.
</p><h3>8. Communications Preferences</h3><p>
VPH­Share offers Users and Visitors who provide contact information a means to choose how
VPH­Share uses the information provided. You may manage your receipt of marketing and
non­transactional communications by clicking on the “unsubscribe” link located on the bottom of
VPH­Share's marketing emails. Additionally, you may send a request specifying your
communications preferences to <a mailto="support@vph­share.eu">support@vph-share-eu</a>. Users cannot opt out of receiving
transactional emails related to their account with VPH­Share or its Services.
</p><h3>9. Correcting and Updating Your Information</h3><p>
VPH­Share Users may update or change their registration information by logging in to their
accounts at https://portal.vph­share.eu. Requests to access, change, or delete your information will be
handled within thirty business days.
</p><h3>10. Security</h3><p>
VPH­Share uses commercially reasonable physical, administrative, and technical safeguards to
preserve the integrity and security of your personal information and implement your Application
sharing settings. This includes utilizing Secure Sockets Layer (SSL) software, which encrypts
the personal information you input, and storing your information in encrypted form behind a
firewall designed to block access from outside our network. However, no security or encryption
method can be guaranteed to protect information from hackers or human error. We cannot,
however, ensure or warrant the security of any information you transmit to VPH­Share or store
on the Service, and you do so at your own risk.
To protect your privacy and security, we take reasonable steps (such as requesting a uniquepassword) to verify your identity before granting you access to your account. You are
responsible for maintaining the secrecy of your unique password and account information at all
times.
In the event that personal information is compromised as a result of a breach of security,
VPH­Share will promptly notify those persons whose personal information has been
compromised, in accordance with the notification procedures set forth in this Privacy Policy, or
as otherwise required by applicable law.
</p><h3>11. Changes to this Privacy Statement</h3><p>
VPH­Share reserves the right to change this Privacy Statement. VPH­Share will provide
notification of the material changes to this Privacy Statement through its Website at least thirty
business days prior to the change taking effect.
</p><h3>12. Contacting Us</h3><p>
Questions regarding this Privacy Statement or the information practices of the Company’s Web
site should be directed to <a mailto="privacy@vph­share.eu">privacy@vph-share-eu</a> or by mailing VPH­Share Postal Address.</p>
    </div>
</div>
{% endblock %}
