{% extends "scs/base.html" %}

{% block title %}Logged in!{% endblock %}
{% block javascripts  %}
    <script type="text/javascript" src="/static/jquery.zclip.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){

        $('a#copy-description').zclip({
            path:'/static/ZeroClipboard.swf',
            copy:$('div#copy').text(),
            afterCopy:function(){
                $('div#copy').html('COPIED!');
                $(this).preventDefault();
                $('div#copy').css('background','green');
            }
        });

    });
    </script>

{% endblock %}
{% block content %}
<div>
  <h3>Your personal data:</h3>
  <ul>
    <li><strong>Id:</strong> <span>{{ request.user.id }}</span></li>
    <li><strong>Username:</strong> <span>{{ request.user.username }}</span></li>
    <li><strong>Email:</strong> <span>{{ request.user.email|default:"Not provided" }}</span></li>
    <li><strong>First name:</strong> <span>{{ request.user.first_name|default:"Not provided" }}</span></li>
    <li><strong>Last name:</strong> <span>{{ request.user.last_name|default:"Not provided" }}</span></li>
    <li><strong>Country:</strong> <span>{{ request.user.userprofile.country }}</span></li>
    <li><strong>PostCode:</strong> <span>{{ request.user.userprofile.postcode }}</span></li>
    <li><strong>Last login time:</strong> <span>{{ request.user.last_login }}</span></li>

      <br />
     <li><strong>Your Authentication Ticket (base64)</strong> <br /> <span><div id="copy">{{ tkt64 }}</div></span></li>
     <a id="copy-description" href="#copied">Copy Ticket to Clipboard</a>
  </ul>
</div>



{% endblock %}
