{% extends 'scs/base.html' %}

{%  block title %} Welcome to the Vph-Share Master Interface {% endblock %}



{% block page-title %}
    <span class="title">Registration</span>
    <span class="subtitle"></span>
{% endblock%}

{%  block content %}

    <div class="row">
    <iframe id="registrationForm" src="http://devel.biomedtown.org/ps_join_form_member?login_form_skin=jump.vph-share.eu&invitation_code=vph-share" width="100%" height="2700px" frameborder="0" align="middle"></iframe>
    </div>
        


{% endblock %}
