{% extends 'scs/base.html' %}

{%  block title %} Welcome to the Vph-Share Master Interface {% endblock %}



{% block page-title %}
    <span class="title">Reset password</span>
    <span class="subtitle"></span>
{% endblock%}

{%  block content %}

    <div class="row">
    <div class="span12"><iframe id="registrationForm" src="http://devel.biomedtown.org/reset_password_form?token={{ token }}&came_from=http://devel.vph-share.eu&login_form_skin=devel.vph-share.eu" width="90%" height="400px" frameborder="0" align="middle"></iframe></div>
    </div>
        


{% endblock %}
