{% extends 'scs/base.html' %}

{%  block title %} Welcome to the Vph-Share Master Interface {% endblock %}



{% block page-title %}
    <span class="title">Reset password</span>
    <span class="subtitle"></span>
{% endblock%}

{%  block content %}

    <div class="row">
    <div class="span12"><iframe id="registrationForm" src="https://www.biomedtown.org/reset_password_form?token={{ token }}&came_from={{BASE_URL}}&login_form_skin=portal.vph-share.eu" width="90%" height="400px" frameborder="0" align="middle"></iframe></div>
    </div>
        


{% endblock %}
