{% extends 'scs/base.html' %}
{% load scs_extras %}
{%  block title %} Search Data {% endblock %}



{% block page-title %}
    <span class="title">Search Data</span>
    <span class="subtitle">&nbsp</span>
{% endblock%}

{% block breadcrumbs %}
    {% if not request.path|breadcrumbs|length_is:"0" %}
        <div id="breadcrumbs-wrapper">
            <ul id="breadcrumbs" class="breadcrumb">
                <li><a href="/"  title="Home">home</a><span class="divider">|</span></li>
                {%  for crumb in request.path|breadcrumbs %}
                    <li {% if forloop.last %}class="active"{% endif %}><a href="{{ crumb.url }}" title="{{ crumb.name }}">{{ crumb.name }}</a>{% if not forloop.last %}<span class="divider">|</span>{% endif %}</li>
                {% endfor %}
                <li class="pull-right"><form id="form-search" class="form-search" action="/search/">
                    <div class="input-append">
                        <input class="span3 search-query input-size-mini" style="-webkit-border-radius: 14px 0 0 14px !important;-moz-border-radius: 14px 0 0 14px!important;border-radius: 14px 0 0 14px!important;"  type="text" name="search_text" value="" placeholder="Search Data...">
                        <input id="types" type="hidden" name="types" value="Dataset,">
                        <button type="submit" class="btn btn-mini search-btn-right">Search</button>
                    </div>
                </form></li>
            </ul>

        </div>
    {% endif %}
{% endblock %}



{%  block content %}
    <div class="row"><div class="span12"><h6 >Browse or search VPH-Share’s data library to discover and use resources from different VPH projects. Each data set includes a description of its contents, and information on how to access it.</h6></div></div>
    
    <div class="row row-list" >
        <div class="span12"><a href="/search/?search_text=*&categories=Cardiovascular,&filterby=Dataset,File," class="search-data-link" style="background: url('/static/img/search_data1.jpg');" ></a><a href="/search/?search_text=*&categories=Respiratory,&filterby=Dataset,File," class="search-data-link" style="background: url('/static/img/search_data2.jpg');" ></a><a href="/search/?search_text=*&categories=Genetics,&filterby=Dataset,File," class="search-data-link" style="background: url('/static/img/search_data3.jpg');" ></a><a href="/search/?search_text=*&categories=InfectionandImmunology,&filterby=Dataset,File," class="search-data-link" style="background: url('/static/img/search_data4.jpg');" ></a><a href="/search/?search_text=*&categories=Musculoskeletal,&filterby=Dataset,File," class="search-data-link" style="background: url('/static/img/search_data5.jpg');" ></a></div>
    </div>
    <div class="row row-list" >
        <div class="span12"><a href="/search/?search_text=*&categories=Gastroenerology,&filterby=Dataset,File," class="search-data-link" style="background: url('/static/img/search_data6.jpg');" ></a><a href="/search/?search_text=*&categories=Neurology,&filterby=Dataset,File," class="search-data-link" style="background: url('/static/img/search_data7.jpg');" ></a><a href="/search/?search_text=*&categories=Oncology,&filterby=Dataset,File," class="search-data-link" style="background: url('/static/img/search_data8.jpg');" ></a><a href="/search/?search_text=*&categories=Multidisciplinary,&filterby=Dataset,File," class="search-data-link" style="background: url('/static/img/search_data9.jpg');" ></a><a href="/search/?search_text=*&categories=InformationTechnology,&filterby=Dataset,File," class="search-data-link" style="background: url('/static/img/search_data10.jpg');" ></a></div>
    </div>
    <script type="text/javascript">

        if ($(window).width()<767){
            var cw = ($(window).width()/5)-4;
            $('.search-data-link').css({'height':cw+'px'});
            $('.search-data-link').css({'width':cw+'px'});
        }

        $(window).resize(function(event) {
            if ($(this).width()<767){
                var cw = ($(this).width()/5)-3;
                $('.search-data-link').css({'height':cw+'px'});
                $('.search-data-link').css({'width':cw+'px'});
            }else{
                $('.search-data-link').css({'height':''});
                $('.search-data-link').css({'width':''});
            }
        })
    </script>
    <div class="row row-contet" >
         <div class="span3">
            <div class="popover popover-mod">
                <h3 class="popover-title">Documents</h3>
                <div class="popover-content">
                    <p><a href="http://www.vph-share.eu/content/users-manual">User's manual</a></p>
                    <p><a href="/static/VPH-Share_DataProtocol_2v3.pdf">Data Sharing Protocol</a></p>
                    <p><a href="/static/VPH-Share_TermsOfUse_1v2.pdf">Terms of use</a></p>
                                        {% if request.user.is_authenticated %}
                        <p><a href="/tutorial">Tutorial</a></p>
                    {% else %}
                        <p>Tutorial (login required)</p>
                    {% endif %}
                </div>
            </div>
            <div class="popover popover-mod">
                <h3 class="popover-title">Applications</h3>
                <div class="popover-content">
                                    {% if request.user.is_authenticated %}
                        <p><a href="/static/Dps.Setup.x64.msi">DPS installer x64</a></p>
                        <p><a href="/static/Dps.Setup.x86.msi">DPS installer x86</a></p>
                        <p><a href="/static/VPH-Share_DPS_Dataset.zip">DPS Test Dataset</a></p>
                    {% else %}
                        <p>Data Publications Suite (login required)</p>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <p><a href="/filestore">FileStore</a></p>
                    {% else %}
                        <p>FileStore (login required)</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
