{% extends 'scs/base.html' %}

{%  block title %} Search Data {% endblock %}



{% block page-title %}
    <span class="title">Search Data</span>
    <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row"><div class="span12"><h6 >Browse or search VPH-Share’s data library to discover and use resources from from hundreds of VPH projects. Each data set includes a description of its contents, details of its parent project and information on how to access it.</h6></div></div>
    
    <div class="row row-list" >
        <div class="span12"><a href="#" class="search-data-link" style="background: url('/static/img/search_data1.jpg');" ></a><a href="#" class="search-data-link" style="background: url('/static/img/search_data2.jpg');" ></a><a href="#" class="search-data-link" style="background: url('/static/img/search_data3.jpg');" ></a><a href="#" class="search-data-link" style="background: url('/static/img/search_data4.jpg');" ></a><a href="#" class="search-data-link" style="background: url('/static/img/search_data5.jpg');" ></a></div>
    </div>
    <div class="row row-list" >
        <div class="span12"><a href="#" class="search-data-link" style="background: url('/static/img/search_data6.jpg');" ></a><a href="#" class="search-data-link" style="background: url('/static/img/search_data7.jpg');" ></a><a href="#" class="search-data-link" style="background: url('/static/img/search_data8.jpg');" ></a><a href="#" class="search-data-link" style="background: url('/static/img/search_data9.jpg');" ></a><a href="#" class="search-data-link" style="background: url('/static/img/search_data10.jpg');" ></a></div>
    </div>
    <script type="text/javascript">

        if ($(window).width()<767){
            var cw = ($(window).width()/5)-4;
            $('.search-data-link').css({'height':cw+'px'});
            $('.search-data-link').css({'width':cw+'px'});
        }

        $(window).resize(function(event) {
            if ($(this).width()<767){
                var cw = ($(this).width()/5)-3;
                $('.search-data-link').css({'height':cw+'px'});
                $('.search-data-link').css({'width':cw+'px'});
            }else{
                $('.search-data-link').css({'height':''});
                $('.search-data-link').css({'width':''});
            }
        })
    </script>
    <div class="row row-contet" >
        <div class="span9">
            <h3><a href="/data/browse">Browse Data A-Z</a></h3>
        </div>
        <div class="span3 rigth-list" >
            <div class="popover-list">
                <div class="popover-content">
                    <p><i class="icon-bookmark"></i><b>Documents</b></p>
                    <p>Data Sharing Policy</p>
                    <p>Use of Data Guidlines</p>
                </div>
            </div>
            <div class="popover-list">
                <div class="popover-content">
                    <p><i class="icon-th"></i><b>Applications</b></p>
                    <p>Data Publications Suite</p>
                    <p><a href="/lobcder">LOBCDER</a></p>
                    <p><a href="/lobcderquery">LOBCDER Search</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
