{% extends 'scs/base.html' %}
{% load scs_extras %}
{%  block title %} VPH-Search Global Search Page {% endblock %}

{% block extrahead %}
    <script src="/static/jquery-scrolltofixed-min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css"  type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap.min.css" type="text/css" media="screen" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if IE 7]>
    <link rel="stylesheet" href="/static/font-awesome-ie7.min.css">
    <![endif]-->
{% endblock %}

{% block javascripts %}
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.tableTools.min.js"></script>
    <script src="/static/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/js/ICanHaz.min.js"></script>
{% endblock %}

{% block page-title %}
    <span class="title">Search</span>
    <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row">
        <div class="span12 left-list" >
            <div class="popover-list ">
                <div class="popover-content" style="padding-top: 0px">
                    <div class="input-append">
                        <input class="search-query" id="search_text" type="text" name="search_text" value="{{ search.search_text }}">
                        <button type="submit" class="btn search-btn-right btn-info"><i class="fa fa-search"></i></button>
                        <div style="font-size: 12px;padding-top: 5px;text-align: right;">Or use <a href="/semantic-search/">Semantic search</a></div>
                    </div>
                    <div title = "Total results" data-value="all" class="well well-small well-white button filtred"><i class="fa fa-asterisk "></i> <b class="counter-0"></b> <span class="badge pull-right text-center"></span></div>
                    {% for type in types %}
                        <div title="Filter by {{ type }}" data-value="{{ type }}" class="well well-small well-white filter {% if type not in search.filterby %}filtred{% endif %} {{ type }}-bkgr">
                            <i class="fa fa-{{ type }}"><b class="counter-{{ forloop.counter }}"></b></i>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="span12 left-list" >
            <div class="popover-list " style="padding-top: 0px">
                <div class="popover-content">
                    <p><b>Refine</b></p>
                    <div class="well well-small well-white refine">Category<input id="categories" class="input-refine pull-right" type="text"></div>
                    <div class="well well-small well-white refine">Author<input id="authors" class="input-refine pull-right" type="text"></div>
                    <div class="well well-small well-white refine">Licence<input id="licences" class="input-refine pull-right" type="text"></div>
                    <div class="well well-small well-white refine">Tags<input id="tags"  class="input-refine pull-right" type="text"></div>
                    <hr/>
                    {% for type in search.type %}
                        <span class="label tag-label" style="vertical-align: middle;margin-right: 5px;"><div class="tag pull-left" >{% if type == "AtomicService" %}Application{% elif type == "SemanticWebService" %}Semantic web service{% else %}{{ type }}{% endif %}</div><div data-value="{{ type }}" data-field="types"  type="button" class=" remove-tag close pull-rigth" style="margin-left:5px;line-height: 14px">×</div></span>
                    {% endfor %}
                    {% for category in search.categories %}
                        <span class="label tag-label" style="vertical-align: middle;margin-right: 5px;"><div class="tag pull-left" >Category: {{ category }}</div><div data-value="{{ category }}" data-field="categories" type="button" class="remove-tag close pull-rigth" style="margin-left:5px;line-height: 14px">×</div></span>
                    {% endfor %}
                    {% for author in search.authors %}
                        <span class="label tag-label" style="vertical-align: middle;margin-right: 5px;"><div class="tag pull-left">Author: {{ author }}</div><div data-value="{{ author }}" data-field="authors"  type="button" class="remove-tag close pull-rigth" style="margin-left:5px;line-height: 14px">×</div></span>
                    {% endfor %}
                    {% for licence in search.licences %}
                        <span class="label tag-label" style="vertical-align: middle;margin-right: 5px;"><div class="tag pull-left">Licence: {{ licence }}</div><div data-value="{{ licence }}" data-field="licences" type="button" class="remove-tag close pull-rigth" style="margin-left:5px;line-height: 14px">×</div></span>
                    {% endfor %}
                    {% for tags in search.tags %}
                        <span class="label tag-label" style="vertical-align: middle;margin-right: 5px;"><div class="tag pull-left">Tags: {{ tags }}</div><div data-value="{{ tags }}" data-field="tags" type="button" class="remove-tag close pull-rigth" style="margin-left:5px;line-height: 14px">×</div></span>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <hr/>
    <div id="results" class="row-fluid">
        <div class="span12">
            <table id="example" class="row-border resource-datatable" cellspacing="0" width="100%">
                <thead>
                    <tr >
                        <th>Type</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Updated</th>
                        <th>Rating</th>
                        <th>Views</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Updated</th>
                        <th>Rating</th>
                        <th>Views</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
    <script type="text/javascript">
        (function() {
            var global = this;
            var $ = global.$;

            var console = global.console || {log:function() {}};


            var SearchController = global.SearchController = function() {
                this.inizialize();
            };

            SearchController.prototype.inizialize = function(){
                var self = this;

               //init multicheck dropdown menu
                this.$search_text = $('#search_text');
                this.$search_text.keypress(
                    function(e){
                        if(e.keyCode == 13)
                        {
                            var input = $(this);
                            var value = input.val().trim();
                            var key = input.attr('id');
                            self.submit();
                        }
                        return true;
                    }
                );
                // event when add some refine input
                $('.input-refine').keypress(function(e){self.refine($(this),e);});
                this.tooltipMessage($('.input-refine'),'Type enter to send','focus');
                $('.remove-tag').click(function(e){self.removeTag(e,$(this).data('value'),$(this).data('field'));});
                $('.filter').click(function(e){self.filter($(this),$(this).data('value'));});

                this.$request = {types:[{% for types in search.type %}'{{ types }}',{% endfor %}],
                           filterby:[{% for filterby in search.filterby %}'{{ filterby }}',{% endfor %}],
                           search_text:'{{ search.search_text }}',
                           categories:[{% for categories in search.categories %}'{{ categories }}',{% endfor %}],
                           authors:[{% for authors in search.authors %}'{{ authors }}',{% endfor %}],
                           licences:[{% for licences in search.licences %}'{{ licences }}',{% endfor %}],
                           tags:[{% for tags in search.tags %}'{{ tags }}',{% endfor %}]
                };
                this.$datatable = $('#example').dataTable({
                        /*"data": dataSet,*/
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            "url": "/resources/globalsearch/",
                            "data": function ( d ) {
                                d.request = self.$request
                            },
                            "dataSrc": function ( json ) {
                                var filters = ["numTotalMetadata", "datasetCount", "wfCount",  "atsCount", "fileCount", "swsCount"];
                                var i;
                                for (i=0 ; i < filters.length; i++){
                                    $('.counter-'+i).text(json['info'][filters[i]]);
                                }
                                delete json['info'];
                                return json['data']
                            }
                        },
                        "columns": [
                            { "data": "type", "orderable": false },
                            { "data": "name" },
                            { "data": "owner" },
                            { "data": "update" },
                            {
                                "data": "rating",
                                "render": function(data,type,row,meta){
                                    var rating = '<div class="line-rating" data-rate="'+data+'" title="'+data+'"> <i class="star-1">★</i> <i class="star-2">★</i> <i class="star-3">★</i> <i class="star-4">★</i> <i class="star-5">★</i> </div>';
                                    return rating;
                                }

                            },
                            { "data": "views" },
                            {
                                "data": "actions",
                                "render": function(data, type, row, meta){
                                    return '<a target="_blank" href="/resources/'+data['global_id']+'/"><i class="fa fa-external-link-square"></i></a>';
                                }
                            }
                        ],
                        "order": [[ 1, 'asc' ]],
                        "paging": true,
                        "ordering": true,
                        "info": true,
                        "search": false,
                        "dom": 'liprtip',
                        language: {
                            paginate: {
                                previous: "«",
                                next: "»"
                            }
                        }

                });
            };

            SearchController.prototype.tooltipMessage = function(where, message, trigger){
                where.tooltip({
                    placement: 'right',
                    trigger : trigger,
                    title:message,
                    container: 'body'
                });
            };

            SearchController.prototype.loadingError = function(data){



            };

            SearchController.prototype.loadingCallBack = function(data,self){

                if (data['data'].trim() == "")
                    self.$pages = false;
                $(data['data']).insertBefore(self.$loadingBox);
                self.$numResults = parseInt(data['numResults']);
                $('#numResults').text(self.$numResults);
                for (var type in data['countType']) {
                    $('#count-'+type).text(data['countType'][type]);
                }
                self.$loadingBox.hide();
                self.$atomic = false;

            };

            SearchController.prototype.loading = function(){

                var self = this;

                $.ajax('/search_results/', {
                    data: {page:self.$page, filterby:JSON.stringify(self.$request.filterby)},
                    type: 'POST',
                    success: function(data) { self.loadingCallBack(data,self); },
                    error: function(data) { self.loadingError(data); }
                });

            };

            SearchController.prototype.filter = function(button, filter){

                var self = this;
                $('.result-item').remove();
                var index = $.inArray(filter,this.$request.filterby);
                if (index<0){
                    this.$request.filterby.push(filter);
                }else if (index>=0){
                    this.$request.filterby.splice(index,1);
                }
                button.toggleClass("filtred");
                this.submit();
            };

            SearchController.prototype.submit = function(){


                this.$request.search_text = this.$search_text.val();

                var types = '',categories ='',authors='',licences='';
                var url_submit = "/search?search_text="+this.$request.search_text;
                var i;
                if(this.$request.types.length>0){
                    url_submit += '&types=';
                    for(i = 0; i < this.$request.types.length; i++){
                        url_submit += this.$request.types[i]+',';
                    }
                }

                if(this.$request.categories.length>0){
                    url_submit += '&categories=';
                    for(i = 0; i < this.$request.categories.length; i++){
                        url_submit += this.$request.categories[i]+',';
                    }
                }
                if(this.$request.authors.length>0){
                    url_submit += '&authors=';
                    for(i = 0; i < this.$request.authors.length; i++){
                        url_submit += this.$request.authors[i]+',';
                    }
                }
                if(this.$request.licences.length>0){
                    url_submit += '&licences=';
                    for(i = 0; i < this.$request.licences.length; i++){
                        url_submit += this.$request.licences[i]+',';
                    }
                }
                if(this.$request.tags.length>0){
                    url_submit += '&tags=';
                    for(i = 0; i < this.$request.tags.length; i++){
                        url_submit += this.$request.tags[i]+',';
                    }
                }
                if(this.$request.filterby.length>0){
                    url_submit += '&filterby=';
                    for(i = 0; i < this.$request.filterby.length; i++){
                        url_submit += this.$request.filterby[i]+',';
                    }
                }
                window.location.href = url_submit;
                return false;

            };

            SearchController.prototype.removeTag = function(e, value, key){
                this.$request[key].splice($.inArray(value,this.$request[key]),1);
                this.submit();
            };

            SearchController.prototype.refine = function(input, e){

                if(e.keyCode == 13)
                {
                    var value = input.val().trim();
                    var key = input.attr('id');
                    if ( value == '')
                        return false;
                    if ($.inArray(value,this.$request[key]) >= 0)
                        return false;

                    this.$request[key].push(value);
                    this.submit();
                }
                return true
            };


            new SearchController();
        }).call(this);
    </script>

{% endblock %}
