{% extends 'scs/base.html' %}

{%  block title %} Welcome to the Vph-Share Master Interface - Services{% endblock %}

{% block page-title %}
    <span class="title">Services</span>
    <span class="subtitle">Below are listed the available services</span>
{% endblock%}

{% block content %}
    <form action="/services/" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <span>Install new service from wsdl URL on Master interface:<br/>
    </span> <input name="wsdlURL" type="text" > <input type="submit" value="Install">
    </form>
    {% if services %}
        <p>Below are listed the available services</p>
        <ul>
            {% for service in services %}
                <li><a href="/{{ service }}/"><span>{{ service }}</span></a> | <a href="?delete={{ service }}"> Delete</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, there are no services available</p>
    {% endif %}
    
{% endblock %}
