{% extends 'scs/base.html' %}

{%  block title %} Upload data {% endblock %}



{% block page-title %}
    <span class="title">Upload Structured Data</span>
    <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row"><div class="span12"><p><br>Upload to VPH-Share structured data, like tabular ones, to make use of many time and cost saving facilities:</p>
        <p><ul>
            <li>Use data with established tools and applications to personalise workflows.</li>
            <li>Store large files in our free, fast and easy to use cloud environment.</li>
            <li>Share data with researchers, clinicians and developers to maximise its potential.</li>
        </ul></p>
        </div></div>

    <div class="row row-contet" >
        <div class="span9" style="margin-top:15px;">
            <p>In VPH-Share we primarily refer to tabular, and potentially relational, data sources such as CSV extracts and relational databases, as Structured Data.</p><br>
            <p>A desktop application, <a href="http://www.vph-share.eu/content/structured-data-data-publication-suite">Data Publication Suite (DPS)</a>, has been developed to support the process of
                publishing clinical or research data sets in a secure internet accessible way.
                The data once published may browsed using an <a href="http://dblp.l3s.de/d2r/">RDF Browser</a> or queried using <a href="https://en.wikipedia.org/wiki/SPARQL">SPARQL</a> and an <a href="https://en.wikipedia.org/wiki/SQL">SQL</a> type protocol from the <a href="http://sourceforge.net/apps/trac/ogsa-dai/"> OGSA-DAI</a> project.</p><br>
            <p>The <a href="http://www.vph-share.eu/content/structured-data-data-publication-suite">general process for publication</a>, although many of them are not mandatory, is as follows:<ul>
            <li><a href="http://www.vph-share.eu/content/connect-data-source">Import a data source</a></li>
            <li><a href="http://www.vph-share.eu/content/working-tables-and-fields">Define relationships between the tables</a> if they exist and are not automatically detected</li>
            <li><a href="http://www.vph-share.eu/content/annotation">Semantically annotate</a> the data</li>
            <li><a href="http://www.vph-share.eu/content/creating-new-destination">Create a destination container</a> of the server (if you have permissions)</li>
            <li><a href="http://www.vph-share.eu/content/creating-new-destination">Create a new destination</a> based on a data source</li>
            <li><a herf="http://www.vph-share.eu/content/de-identifying-dataset">Define a de-identification profile</a> for this destination</li>
            <li><a href="http://www.vph-share.eu/content/data-publication">Publish the data</a></li>
            <li><a href="http://www.vph-share.eu/content/dataset-properties">Manage the access list</a> for the resource</li>
            </ul></p>
            <br>
            <p>Downloads:</p><ul>
            <li>Download the <a href="/static/Dps.Setup.x64.msi">Data Publications Suite (64-bit)</a></li>
            <li>Download the <a href="/static/Dps.Setup.x86.msi">Data Publications Suite (32-bit)</a></li>
            <li>Download the <a href="/static/VPH-SHARE_DPS_UserManual_full.pdf">Data Publication Suite Manual</a></li>
            <li>Download the <a href="/static/VPH-Share_DPS_Dataset.zip">Example data set</a></li>
            </ul>
        </div>
         <div class="span3">
            <div class="popover popover-mod">
                <h3 class="popover-title">Documents</h3>
                <div class="popover-content">
                    <p><a href="http://www.vph-share.eu/content/users-manual">User's manual</a></p>
                    <p><a href="/static/VPH-Share_DataProtocol_2v3.pdf">Data Sharing Protocol</a></p>
                    <p><a href="/static/VPH-Share_TermsOfUse_1v2.pdf">Terms of use</a></p>
                                                            {% if request.user.is_authenticated %}
                        <p><a href="/tutorial">Tutorial</a></p>
                    {% else %}
                        <p>Tutorial (login required)</p>
                    {% endif %}
                </div>
            </div>
            <div class="popover popover-mod">
                <h3 class="popover-title">Applications</h3>
                <div class="popover-content">
                    {% if request.user.is_authenticated %}
                        <p><a href="/static/Dps.Setup.x64.msi">DPS installer (64-bit)</a></p>
                        <p><a href="/static/Dps.Setup.x86.msi">DPS installer (32-bit)</a></p>
                        <p><a href="/static/ANTsPatientData.zip">DPS Test Dataset (ANTs)</a></p>
                    {% else %}
                        <p>Data Publication Suite (login required)</p>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <p><a href="/filestore">FileStore</a></p>
                    {% else %}
                        <p>FileStore (login required)</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
