{% extends 'scs/base.html' %}

{%  block title %} Upload data {% endblock %}



{% block page-title %}
    <span class="title">Upload Structured Data</span>
    <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row"><div class="span12"><p>Upload to VPH-Share structured data, like tabular ones, to make use of many time and cost saving facilities:</p>
        <p><ul>
            <li>Use data with established tools and applications to personalise workflows.</li>
            <li>Store large files in our free, fast and easy to use cloud environment.</li>
            <li>Share data with researchers, clinicians and developers to maximise its potential.</li>
        </ul></p>
        </div></div>

    <div class="row row-contet" >
        <div class="span9" style="margin-top:15px;">
            <p>In VPH-Share we primarily refer with structured data to structured, and potentially relational, data sources such as CSV extracts and relational databases.</p><br>
            <p>A desktop application, Data Publication Suite (DPS), has been implemented to support the process of publishing, in a secure internet accessible way, clinical or research data sets.
            Once published the data is made accessible through SPARQL and an SQL type protocol from the OGSA-DIA project.</p><br>
            <p>The general process for publication, although many of them are not mandatory, is as follows:<ul>
            <li>Import a data source</li>
            <li>Define relationships between the tables if they exist and are not automatically detected</li>
            <li>Semantically annotate the data</li>
            <li>Create a destination container of the server (if you have permissions)</li>
            <li>Create a new destination based on a data source</li>
            <li>Define a de-identification profile for this destination</li>
            <li>Publish the data</li>
            <li>Manage the access list for the resource</li>
            </ul></p>
            <br>
            <p>To download the Data Publication Suite <a href="/static/Data Publication Suite v1.1-b4.msi">click here</a>.</p><br>
            <p>To download an example data set <a href="/static/VPH-Share_DPS_Dataset.zip">click here</a></p><br>
            <p>To get more information the Data Publication Suite use <a href="http://www.vph-share.eu/content/structured-data-data-publication-suite">click here</a></p><br>
        </div>
        <div class="span3 rigth-list" >
            <div class="popover-list">
                <div class="popover-content">
                    <p><i class="icon-bookmark"></i><b>Documents</b></p>
                    <p>Data Sharing Policy</p>
                    <p>Use of Data Guidelines</p>
                </div>
            </div>
            <div class="popover-list">
                <div class="popover-content">
                    <p><i class="icon-th"></i><b>Applications</b></p>
                    {% if request.user.is_authenticated %}
                        <p><a href="/static/Data Publication Suite v1.1-b4.msi">Data Publications Suite (DPS)</a></p>
                        <p><a href="/static/VPH-Share_DPS_Dataset.zip">DPS Test Dataset</a></p>
                    {% else %}
                    <p>Data Publications Suite (login required)</p>
                    {% endif %}
                    <p><a href="/lobcder">LOBCDER</a></p>
                    <p><a href="/lobcderquery">LOBCDER Search</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
