{% extends 'scs/base.html' %}

{%  block title %} Upload data {% endblock %}



{% block page-title %}
    <span class="title">Upload Data</span>
    <span class="subtitle">&nbsp</span>
{% endblock%}

{%  block content %}
    <div class="row"><div class="span12"><h6><p>Upload data to VPH-Share, be it structured, tabular data or unstructured images and scans, to make use of many time and cost saving facilites:</p></h6>
        <h6><p><ul>
            <li>Use data with established tools and applications to personalise workflows.</li>
            <li>Store large files in our free, fast and easy to use cloud environment.</li>
            <li>Share data with researchers, clinicians and developers to maximise its potential.</li>
        </ul></p></h6>
        <h6><p>If you're new to VPH-Share and want to find out how the upload works, <a target="_blank" href="http://www.vph-share.eu/content/users-manual">click here</a>.<br> Otherwise, follow the relevant link below:</p></h6></div></div>

    <div class="row row-contet" >
        <div class="span9" style="margin-top:15px;">
            <ul class="inline unstyled">
                <li class="span4 text-center" >
                    <a href="/filestore"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo4.png"/></a>
                    <h6><b>FileStore</br>Upload Unstructured Data</b></h6><p>(e.g. images and scans)</p>
                </li>
                <li class="span4 text-center" >
                    <a href="/data/upload-structured-data"><img style="width: 200px;" class="img-rounded" src="/static/img/data_logo5.png"/></a>
                    <h6><b>DPS</br>Upload Structured Data</b></h6><p>(e.g. tables and spreadsheets)</p>
                </li></ul>
        </div>
         <div class="span3">
            <div class="popover popover-mod">
                <h3 class="popover-title">Documents</h3>
                <div class="popover-content">
                    <p><a href="http://www.vph-share.eu/content/users-manual">User's manual</a></p>
                    <p><a href="/static/VPH-Share_DataProtocol_2v3.pdf">Data Sharing Protocol</a></p>
                    <p><a href="/static/VPH-Share_TermsOfUse_1v2.pdf">Terms of use</a></p>
                                                            {% if request.user.is_authenticated %}
                        <p><a href="/tutorial">Tutorial</a></p>
                    {% else %}
                        <p>Tutorial (login required)</p>
                    {% endif %}
                </div>
            </div>
            <div class="popover popover-mod">
                <h3 class="popover-title">Applications</h3>
                <div class="popover-content">
                    {% if request.user.is_authenticated %}
                        <p><a href="/static/Dps.Setup.x64.msi">DPS installer (64-bit)</a></p>
                        <p><a href="/static/Dps.Setup.x86.msi">DPS installer (32-bit)</a></p>
                        <p><a href="/static/ANTsPatientData.zip">DPS Test Dataset</a></p>
                    {% else %}
                        <p>Data Publications Suite (login required)</p>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <p><a href="/filestore">FileStore</a></p>
                    {% else %}
                        <p>FileStore (login required)</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
