{% extends 'scs/base.html' %}
{% block extrahead %}
    <script type="text/javascript">

        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
        }



        $(document).ready(

                function(){
                    loadRoleMap();
                    document.onkeypress = stopRKey;
                }
        );
    </script>

{% endblock %}
{%  block title %} Welcome to the Vph-Share Master Interface {% endblock %}

{% block page-title %}
    <span class="title">Users access administration</span>
    <span class="subtitle">&nbsp;</span>
{% endblock%}

{%  block content %}

    <fieldset class="span8">
        <legend>Search for a User in Biomedtown</legend>
        <form method="POST" class="form-inline" id="users_access_search" action="{% url users_access_search %}">
            {% csrf_token %}
            <input name="email" type="text" class="input-medium"/>
            <button class="btn" onclick="event.preventDefault();users_access_search();" type="button">Search</button>
            <img class="invisible" src="/static/tiny-ajax-loader.gif" id="users_access_searchLOADIMG">
        </form>
    </fieldset>


    <fieldset class="span8">
        <legend>Create a new role</legend>
        <form id="users_create_role" class="form-inline" action="{% url users_create_role %}">
            {% csrf_token %}
            <input name="role_name" class="input-medium" type="text">
            <button type="button" class="btn" onclick="event.preventDefault();users_create_role();" >Create</button>
            <img class="invisible" src="/static/tiny-ajax-loader.gif" id="users_create_roleLOADIMG">
        </form>
    </fieldset>

    <div id="usersList" class="span8">
        <fieldset>
            <legend>Assign Roles to users</legend>
            <form id ="users_update_role_map" action="{%   url users_update_role_map %}">
                {% csrf_token %}
            <table>
                <thead><tr><th>Username</th><th>email</th><th>Role1</th><th>Role2</th></tr></thead>
                <tbody>
                <tr class="odd"><td>Test</td><td>tes@dsf.it</td><td><input type="checkbox" checked></td><td><input type="checkbox"></td></tr>
                <tr class="even"><td>Test</td><td>tes@dsf.it</td><td><input type="checkbox" checked></td><td><input type="checkbox"></td></tr>
                </tbody>
            </table>
                <button onclick="users_update_role_map()" type="button">Update Role Map</button>
            </form>
        </fieldset>
    </div>
    <div><img class="invisible" src="/static/tiny-ajax-loader.gif" id="users_update_role_mapLOADIMG"></div>
    <div class="span8">
        <div class="errormessage"><span id="set_security_agent_errormessage" style="color: #000000;">{{ errormessage  }}</span></div>
        <div class="statusmessage"><span id="set_security_agent_statusmessage" style="color: #000000;">{{ statusmessage  }}</span></div>

        <form id="set_security_agent" action="{% url set_security_agent %}" >
            <fieldset>
                <legend>Configure a security agent</legend>
            {% csrf_token %}
                <label>Service Url</label>
                <input name="serviceURL" type="text" class="input-large" />
                <span class="help-block">Well formed URL ex: http://vph.cyfronet.pl:8000/4ffd56d38664880b00001ccb</span>

            <ul id="listRoles" style="list-style: none">
            {% for role in Roles %}
                <label class="checkbox"><input id="{{role.roleName}}" name="{{  role.roleName}}" type="checkbox" /> {{role.roleName}}</label>
            {%  endfor %}

            <button onclick="set_security_agent()" type="button" class="btn" > Set</button> <img class="invisible" src="/static/tiny-ajax-loader.gif" id="set_security_agentLOADIMG">
            </fieldset>
        </form>

    </div>




{% endblock %}