
.groups-list {
    overflow: hidden;
    display: block;
}
.group-item {
    display: block;
    position: relative;
    float: left;
    width: 180px;
    padding: 10px !important;
    margin: 0 10px 10px 0 !important;
}

.nano { height: 300px}
.nano .content {  }
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

.main-item {
    display: block;
    float: left;
    width: 180px;
    height: 100%;
    padding: 10px !important;
    margin: 0 10px 10px 0 !important;
}

.main-item-tab2 {
    height: 100%;
    width: 400px;
}

.main-item-tab3 {
    height: 300px;
    width: 250px;
    border-left: 1px solid #DDD;
}

.badge-alert{
    position: absolute;
    bottom: -8px;
    float: right;
    right: -7px;
}

.group-smart{
    background: rgba(227, 233, 231, 0.61) !important;
}

.group-institution{
    background: rgba(196, 233, 198, 0.61) !important;
}

.group-study {
background: rgba(174, 214, 233, 0.60) !important;
}

.well {
    min-height: 89px !important;
}

ul.inline,
ol.inline {
    list-style: none;
}

ul.inline > li,
ol.inline > li {
    display: inline-block;
    *display: inline;
    padding-right: 5px;
    padding-left: 5px;
    *zoom: 1;
}

.select2-container.select2-container-multi {
    width: 190px !important;
}

.form-inline > #id_areManagers {
    margin-right: 7px;
    margin-left: 8px;
}
